In [2]:
import os 
import pandas as pd

In [3]:
path='bossPics/'

In [4]:
pics=os.listdir(path)
len(pics)

4205

In [7]:
df = pd.DataFrame(pics)
df.columns=['name']

In [11]:
df.to_csv('bossPICwithID.csv', index_label='ID')

In [13]:
rd=pd.read_csv('bossPICwithID.csv')
rd.head()

   ID                 name
0   0  1375042_profile.jpg
1   1   639201_profile.jpg
2   2  1571392_profile.jpg
3   3    88025_profile.jpg
4   4  1151814_profile.jpg