In [1]:
import pandas as pd
%matplotlib inline

In [2]:
%%time
df = pd.read_excel('./2018-01-05-00-31 Products.xlsx')
print df.shape

(47355, 66)
CPU times: user 18.8 s, sys: 96 ms, total: 18.9 s
Wall time: 18.9 s

In [45]:
len(df['hospital_id'].unique())

2538

In [6]:
pd.options.display.max_rows=100

In [19]:
df.shape

(47355, 66)

2538

In [18]:
df['calendar_cnt'].value_counts().head()

0    29826
1     5159
2     2641
3     1718
4     1158
Name: calendar_cnt, dtype: int64

### product count

In [30]:
df.shape[0]

47355

### no diary product count

In [20]:
(df['calendar_cnt']==0).sum()

29826

In [31]:
(df['calendar_cnt']==0).sum()/float(df.shape[0])

0.62983845422869811

### diary product count

In [32]:
d = df.shape[0] - (df['calendar_cnt']==0).sum()
d

17529

### product with diary count <=100

In [33]:
s = ((df['calendar_cnt']<=100) & (df['calendar_cnt']>0)).sum()
s

17377

In [34]:
s/float(d)

0.99132865537109938

### product with diary count >100

In [25]:
(df['calendar_cnt']>100).sum()

152

In [35]:
(d-s)/float(d)

0.008671344628900679

## all diary count

In [43]:
int(df['calendar_cnt'].sum())

164193

### lost diaries from products over 100 diaries

In [44]:
int((df[df['calendar_cnt']>100]['calendar_cnt']).sum() - (df['calendar_cnt']>100).sum()*100)

15445

In [50]:
df[df['calendar_cnt']>0].shape

(17529, 66)

In [51]:
df[df['calendar_cnt']>0]['pid'].to_csv('diary_products.csv', index=False)

In [54]:
df[df['pid']==63532]

,pid,title,avg_score,bao_xian_yn,calendar_cnt,doctor,doctor_name,each_cnt,fan_ju_money,fan_ju_money_yn,...,tuan.tuan_product_cnt,tuan.tuan_product_num,tuan.tuan_product_num_onsale,tuan.tuan_start_date,tuan.tuan_status,tuan.tuan_status_old,tuan.tuan_surplus_num,wei_kuan,wei_kuan_list,wei_kuan_yn
3032,63532,【毛发种植】 FUE眉毛种植 自然种植 不必刘海遮秃眉,5.0,0,1,NaN,NaN,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [56]:
(df['calendar_cnt']==1).sum()

5159

___

In [5]:
df['sold_cnt'].describe()

count    47355.000000
mean        15.451568
std         70.669106
min          0.000000
25%          0.000000
50%          0.000000
75%          6.000000
max       3014.000000
Name: sold_cnt, dtype: float64

In [7]:
df['sold_cnt'].value_counts().head()

0    24092
1     4705
2     2538
3     1794
4     1242
Name: sold_cnt, dtype: int64

In [8]:
df[df['sold_cnt']>0].shape

(23263, 66)

In [9]:
df['sold_cnt'].sum()

731709L

In [10]:
[]+[1,23]

[1, 23]

In [13]:
df7 = df[df['sold_cnt']>0]
df77 = df7[['pid','sold_cnt']]
df77.shape

(23263, 2)

In [17]:
df77

          pid  sold_cnt
1      166862         8
2      164223         1
3      160878         7
6      148217         1
8      136245         1
12      89858         5
15      69074        46
18      52406         1
19      44355         4
22      27523         7
24      22282         6
25      18811        30
29      14655         1
36     171653         1
38     166989         2
42     163989         8
44     160759        29
47     154270         1
49     150915         5
50     150642         3
51     150639         2
56     144195         3
57     143978        39
61     141804         1
62     141161        37
63     140342        27
64     134979         2
66     131940         3
68     127349         4
69     126937         1
...       ...       ...
47315   12670        75
47318   12647        34
47320   12686         1
47323   12627         5
47324   12002         2
47325   12001         2
47326   12000         7
47327   11999         9
47328   11417        22
47329   11360        11
47331   11345        57
47332   11342        16
47334   11329         1
47335   11328       414
47336   10660         7
47337    9412        30
47338    8662        33
47339    8508        23
47340    8505        76
47342    7420        16
47343    6219       136
47344    3219        36
47345    5751         9
47346   10884        27
47347    2565        40
47348    2449        11
47350    2338         7
47351    2330        24
47352    2311        24
47353    2188         9

[23263 rows x 2 columns]