In [2]:
!ls

control-Copy1.ipynb  geo.ipynb	index.pyc	 noGeo.zip	traffic.csv
control.ipynb	     geo.py	mod_traffic.csv  parsing.ipynb	Untitled.ipynb
geo-Copy1.ipynb      index.pkl	mod_traffic.zip  sample.csv
geo.csv		     index.py	noGeo.csv	 traffic1.csv

In [33]:
# !python -u geo.py 1

In [3]:
import pandas as pd

In [4]:
df=pd.read_csv('geo.csv')
df.shape

(1163605, 2)

In [14]:
len(df['geo'].unique())

569275

In [21]:
df['geo'].drop_duplicates().shape

(569275,)

In [30]:
df['geo'].drop_duplicates()[1:].to_csv('onlyLL.csv', header='geo',index_label='index')

In [31]:
ll=pd.read_csv('onlyLL.csv')
ll.shape

(569274, 2)

In [34]:
ll.head()

   index                                    geo
0      1         (38.981725, -77.0927566666667)
1      2  (39.1628883333333, -77.2290883333333)
2      3         (39.056975, -76.9546333333333)
3      6  (39.0933833333333, -77.0795516666667)
4     10       (39.2348434333333, -77.28153995)

In [39]:
# ll['index'].tolist()

In [47]:
from geopy.geocoders import Nominatim
g = Nominatim(domain='http://localhost:8080')

In [48]:
g.reverse_api

'https://http://localhost:8080/reverse'

In [44]:
Nominatim?

In [35]:
import cx_Oracle

db=cx_Oracle.connect("soyoung", "soyoung", "my.uconn.science:1521/xe")
print db.version

cur=db.cursor()
cur

11.2.0.2.0

In [36]:
try:
    cur.execute("""CREATE TABLE geo 
    (geo VARCHAR2(1024), zip VARCHAR2(512),
    CONSTRAINT geo_PK PRIMARY KEY(geo))  
    TABLESPACE basement PARALLEL""")
    db.commit()
    print 'create success'
except Exception as e:
    print e

create success