In [1]:
import pandas as pd
import pymysql
import time
import os

In [2]:
tm = time.strftime('%Y-%m-%d', time.localtime())
tm

'2018-02-26'

In [3]:
path='data/'

## diary1

In [4]:
d1 = [i for i in os.listdir(path) if i.startswith('diary_2')]
len(d1)

26

In [5]:
kp=[]
for i in d1:
    sz=os.stat(path+i).st_size/1024/1024.0
    print i.rjust(17),sz
    if sz>1.5:
        kp.append(i)
len(kp)

    diary_2_5.csv 4.8056640625
   diary_2_10.csv 2.4619140625
    diary_2_8.csv 2.4521484375
   diary_2_23.csv 2.6376953125
   diary_2_36.csv 3.921875
    diary_2_9.csv 2.45703125
   diary_2_18.csv 2.455078125
   diary_2_31.csv 3.8662109375
   diary_2_12.csv 2.451171875
   diary_2_37.csv 3.9169921875
   diary_2_26.csv 2.630859375
    diary_2_1.csv 4.49609375
   diary_2_38.csv 0.84375
   diary_2_14.csv 2.443359375
   diary_2_34.csv 3.919921875
   diary_2_16.csv 2.451171875
   diary_2_15.csv 2.4453125
   diary_2_11.csv 2.466796875
   diary_2_13.csv 2.439453125
   diary_2_30.csv 3.857421875
   diary_2_27.csv 2.6337890625
   diary_2_19.csv 2.4521484375
   diary_2_24.csv 2.638671875
   diary_2_28.csv 0.9267578125
    diary_2_6.csv 5.1142578125
   diary_2_17.csv 2.453125

24

In [6]:
kp

['diary_2_5.csv',
 'diary_2_10.csv',
 'diary_2_8.csv',
 'diary_2_23.csv',
 'diary_2_36.csv',
 'diary_2_9.csv',
 'diary_2_18.csv',
 'diary_2_31.csv',
 'diary_2_12.csv',
 'diary_2_37.csv',
 'diary_2_26.csv',
 'diary_2_1.csv',
 'diary_2_14.csv',
 'diary_2_34.csv',
 'diary_2_16.csv',
 'diary_2_15.csv',
 'diary_2_11.csv',
 'diary_2_13.csv',
 'diary_2_30.csv',
 'diary_2_27.csv',
 'diary_2_19.csv',
 'diary_2_24.csv',
 'diary_2_6.csv',
 'diary_2_17.csv']

In [7]:
%%time
coll=[]
for i in kp:
    df0 = pd.read_csv(path+i)
    df0['serial']=int(i.split('_')[-1].split('.csv')[0])
    coll.append(df0)
    del df0
print len(coll)

24
CPU times: user 976 ms, sys: 144 ms, total: 1.12 s
Wall time: 1.12 s

In [8]:
df = pd.concat(coll,axis=0)
df.shape

(4114131, 5)

### post_ID is not null

In [9]:
df = df[(~df['post_ID'].isnull())]
df.shape

(807698, 5)

In [10]:
df['serial'].value_counts()

36    162130
34    162002
37    161947
31    161001
30    160618
Name: serial, dtype: int64

In [11]:
times = {30:'2019-02-21',31:'2018-02-22',34:'2018-02-23',36:'2018-02-24',37:'2018-02-25'}

In [12]:
df['date']=df['serial'].map(times)

In [13]:
df['post_ID'] = df['post_ID'].astype('int')

In [14]:
df.dtypes

post_ID      int64
comments     int64
favor        int64
views        int64
serial       int64
date        object
dtype: object

In [15]:
df.shape

(807698, 6)

In [16]:
df2 = df[['post_ID','date','comments','favor','views']]
df2.shape

(807698, 5)

In [17]:
df2.head()

   post_ID        date  comments  favor   views
0     7947  2018-02-24       490    280  217975
1    10232  2018-02-24        52      9    6621
2  4364993  2018-02-24        22      0    4270
3  3828003  2018-02-24         5      1    3041
4     9024  2018-02-24       297     54   71467

In [18]:
from secret import dburl, dbusername, dbpasswd

In [19]:
db = pymysql.connect(host=dburl,    # your host, usually localhost
                     user=dbusername,         # your username
                     passwd=dbpasswd,  # your password
                     port=3306,
                     db="research",
                     charset='utf8')

In [20]:
cur=db.cursor()

In [21]:
t10=df2.head(10)

In [22]:
def split1W(df):
    return [df.iloc[n*10000:(n+1)*10000,:] for n in range(0 ,int(df.shape[0]/10000.0)+1)]

In [23]:
df.shape

(807698, 6)

In [24]:
results = split1W(df)

In [25]:
len(results)

81

In [26]:
results[-1].shape

(7698, 6)

In [27]:
values = str(map(lambda x: tuple(x),t10.values))[1:-1]
values

"(7947, '2018-02-24', 490, 280, 217975), (10232, '2018-02-24', 52, 9, 6621), (4364993, '2018-02-24', 22, 0, 4270), (3828003, '2018-02-24', 5, 1, 3041), (9024, '2018-02-24', 297, 54, 71467), (15250, '2018-02-24', 227, 28, 37794), (17599, '2018-02-24', 18, 1, 4306), (1419999, '2018-02-24', 40, 4, 9527), (1412421, '2018-02-24', 17, 0, 3241), (1405882, '2018-02-24', 52, 1, 6064)"

In [28]:
sql = """insert into monitorpost values {}""".format(values)
sql

"insert into monitorpost values (7947, '2018-02-24', 490, 280, 217975), (10232, '2018-02-24', 52, 9, 6621), (4364993, '2018-02-24', 22, 0, 4270), (3828003, '2018-02-24', 5, 1, 3041), (9024, '2018-02-24', 297, 54, 71467), (15250, '2018-02-24', 227, 28, 37794), (17599, '2018-02-24', 18, 1, 4306), (1419999, '2018-02-24', 40, 4, 9527), (1412421, '2018-02-24', 17, 0, 3241), (1405882, '2018-02-24', 52, 1, 6064)"

In [29]:
%%time
cur.execute(sql)

CPU times: user 0 ns, sys: 4 ms, total: 4 ms
Wall time: 31.7 ms

10

In [30]:
%%time
db.commit()

CPU times: user 0 ns, sys: 0 ns, total: 0 ns
Wall time: 35 ms

In [32]:
cur.execute("insert into monitorpost (date, views, comments, postID, favors) values ('2000-07-07',7,77,777,77777)")

1

In [33]:
db.commit()

In [31]:
from time import time

In [34]:
results[-1].head()

         post_ID  comments  favor  views  serial        date
152942  12553041        39      8   1112      30  2019-02-21
152943  15022964         0      0     29      30  2019-02-21
152944  14563420         2      0     42      30  2019-02-21
152945  14379582         3      0     60      30  2019-02-21
152946  14217926         1      0     21      30  2019-02-21

In [35]:
def BatchInsert(df):
    df=df[['post_ID','date','comments','favor','views']]
    batch = [df.iloc[n*10000:(n+1)*10000,:] for n in range(0 ,int(df.shape[0]/10000.0)+1)]
    
    start=time()
    n=0
    for d in batch:
        sql = """insert into monitorpost values {}""".format(str(map(lambda x: tuple(x),d.values))[1:-1])
        n+=1
        cur.execute(sql)
        db.commit()
        print n,'{:.2f}s |'.format(time()-start),
        start=time()

In [36]:
df.shape

(807698, 6)

In [57]:
df = df.drop_duplicates()
df.shape

(807595, 6)

In [63]:
# df[df['date']=='2018-02-24']['post_ID'].value_counts()

In [64]:
%%time
BatchInsert(df)

1 1.96s |
2 1.75s |
3 1.76s |
4 1.80s |
5 1.73s |
6 1.72s |
7 1.76s |
8 1.79s |
9 1.79s |
10 1.79s |
11 1.79s |
12 1.88s |
13 1.82s |
14 1.88s |
15 1.77s |
16 1.77s |
17 1.81s |
18 1.79s |
19 1.79s |
20 1.78s |
21 1.76s |
22 1.76s |
23 1.81s |
24 1.77s |
25 1.77s |
26 1.71s |
27 1.76s |
28 1.75s |
29 1.80s |
30 1.82s |
31 1.85s |
32 1.79s |
33 1.78s |
34 1.75s |
35 1.84s |
36 1.77s |
37 1.81s |
38 1.74s |
39 1.74s |
40 1.78s |
41 1.79s |
42 1.75s |
43 1.80s |
44 1.77s |
45 1.76s |
46 1.81s |
47 1.78s |
48 1.78s |
49 1.75s |
50 1.78s |
51 1.80s |
52 1.68s |
53 1.72s |
54 1.71s |
55 1.74s |
56 1.79s |
57 1.77s |
58 1.78s |
59 1.77s |
60 1.75s |
61 1.75s |
62 1.78s |
63 1.75s |
64 1.77s |
65 1.78s |
66 1.76s |
67 1.76s |
68 1.77s |
69 1.88s |
70 1.75s |
71 1.83s |
72 1.77s |
73 1.70s |
74 1.73s |
75 1.72s |
76 1.74s |
77 1.79s |
78 1.82s |
79 1.78s |
80 1.83s |
81 1.37s |
CPU times: user 2.38 s, sys: 64 ms, total: 2.44 s
Wall time: 2min 23s