In [1]:
import os
import pandas as pd
from time import ctime
from lxml import etree
import requests
os.chdir('/home/shj16110/weekly/')

In [28]:
folder='./Combined_final_htmls/'
names = os.listdir(folder)
print len(names)

208031

In [29]:
n=0
failed2=[]
collect_fail=[]

for i in names:
    n+=1
    if n%5000==0 or n==1:
        print ctime(), ': processed', n
    
    with open(folder+i,'r') as fl:
        text=fl.read()
        tree=etree.HTML(text)
    try:
        collect_fail.append([i, tree.xpath('//h1[@class="margin-h1"]/text()')[0].strip()[1:]])
    except Exception as e:
        failed2.append(i)
        
print len(collect_fail), len(failed2)

Sun Dec 17 09:42:40 2017 : processed 1
Sun Dec 17 09:44:47 2017 : processed 5000
Sun Dec 17 09:47:07 2017 : processed 10000
Sun Dec 17 09:49:59 2017 : processed 15000
Sun Dec 17 09:52:21 2017 : processed 20000
Sun Dec 17 09:54:43 2017 : processed 25000
Sun Dec 17 09:57:04 2017 : processed 30000
Sun Dec 17 09:59:56 2017 : processed 35000
Sun Dec 17 10:02:18 2017 : processed 40000
Sun Dec 17 10:04:42 2017 : processed 45000
Sun Dec 17 10:07:01 2017 : processed 50000
Sun Dec 17 10:09:56 2017 : processed 55000
Sun Dec 17 10:12:20 2017 : processed 60000
Sun Dec 17 10:14:41 2017 : processed 65000
Sun Dec 17 10:17:18 2017 : processed 70000
Sun Dec 17 10:20:07 2017 : processed 75000
Sun Dec 17 10:22:28 2017 : processed 80000
Sun Dec 17 10:24:48 2017 : processed 85000
Sun Dec 17 10:27:32 2017 : processed 90000
Sun Dec 17 10:30:22 2017 : processed 95000
Sun Dec 17 10:32:42 2017 : processed 100000
Sun Dec 17 10:35:02 2017 : processed 105000
Sun Dec 17 10:37:58 2017 : processed 110000
Sun Dec 17 10:40:19 2017 : processed 115000
Sun Dec 17 10:42:42 2017 : processed 120000
Sun Dec 17 10:45:02 2017 : processed 125000
Sun Dec 17 10:47:57 2017 : processed 130000
Sun Dec 17 10:50:19 2017 : processed 135000
Sun Dec 17 10:52:41 2017 : processed 140000
Sun Dec 17 10:55:02 2017 : processed 145000
Sun Dec 17 10:57:55 2017 : processed 150000
Sun Dec 17 11:00:26 2017 : processed 155000
Sun Dec 17 11:02:48 2017 : processed 160000
Sun Dec 17 11:05:10 2017 : processed 165000
Sun Dec 17 11:08:07 2017 : processed 170000
Sun Dec 17 11:10:30 2017 : processed 175000
Sun Dec 17 11:12:52 2017 : processed 180000
Sun Dec 17 11:15:37 2017 : processed 185000
Sun Dec 17 11:18:10 2017 : processed 190000
Sun Dec 17 11:20:31 2017 : processed 195000
Sun Dec 17 11:22:52 2017 : processed 200000
Sun Dec 17 11:25:43 2017 : processed 205000
11816 196215

In [30]:
df = pd.DataFrame(collect_fail, columns=['path','reason'])
df.shape

(11816, 2)

In [36]:
df['reason'].value_counts()

ccount Closed         11799
ccount Unavailable       17
Name: reason, dtype: int64

In [53]:
df.to_csv('closedAccount.csv', index=False)

In [32]:
len(failed2)

196215

In [42]:
print failed2[:10]

['rrpteltd.html', 'techit99.html', 'tsoutsoune.html', 'triangle2000.html', 'smily.html', 'webcase.html', 'tiabil.html', 'patilamit813.html', 'radumihai.html', 'ratman2050.html']

In [38]:
df9 = pd.read_csv('./Final_combine_username.csv')
df9.shape

(208031, 2)

In [50]:
len(set(df9['username'])-set(df['path'].str[:-5]))

196215

In [52]:
df['username']=df['path'].str[:-5]

In [59]:
df9['username'].isnull().sum()

1

In [60]:
df['username'].isnull().sum()

0

In [62]:
df9.shape

(208031, 2)

In [64]:
df9 = df9.dropna()
df9.shape

(208030, 2)

In [78]:
# %%time
# df99 = df9[df9['username'].apply(lambda x: x in df['username'].tolist())]
# print df99.shape

In [85]:
df10 = df9.set_index('username')[df9.set_index('username').join(df.set_index('username'))['path'].isnull()].reset_index()
df10.shape

(196214, 2)

In [87]:
df10.to_csv('Updated_combine_username.csv', index=False)

In [39]:
df9

            ori_username          username
0            shamsher295       shamsher295
1              hegemon88         hegemon88
2                 druvel            druvel
3                ritvick           ritvick
4                  woodx             woodx
5                scutter           scutter
6           HealthyCoder      healthycoder
7                  canen             canen
8        harishkumar1991   harishkumar1991
9        vishalsinghal90   vishalsinghal90
10            jamiecam43        jamiecam43
11                ALIOK1            aliok1
12              rcphipps          rcphipps
13               kaushan           kaushan
14          kennethtanck      kennethtanck
15                 CFWIZ             cfwiz
16         mantassiurkus     mantassiurkus
17             rakesh540         rakesh540
18                syafmz            syafmz
19      serendipitybelle  serendipitybelle
20        softwareeng001    softwareeng001
21        kwesitenkorang    kwesitenkorang
22                arjenb            arjenb
23              snuggles          snuggles
24            livecoders        livecoders
25        sixtyfourthbit    sixtyfourthbit
26           rikardo2041       rikardo2041
27              kannan02          kannan02
28            travelhead        travelhead
29                Aumbss            aumbss
...                  ...               ...
208001   michaelrosenits   michaelrosenits
208002   antoinettecheek   antoinettecheek
208003           lmsanch           lmsanch
208004       ravenspoint       ravenspoint
208005  twenty1stcentury  twenty1stcentury
208006       killerz1983       killerz1983
208007      YourWebGurus      yourwebgurus
208008        IntraMedia        intramedia
208009          kubarski          kubarski
208010          webcredo          webcredo
208011          avishnev          avishnev
208012        tuanphuong        tuanphuong
208013          devratna          devratna
208014        HcubeIndia        hcubeindia
208015          vorsilva          vorsilva
208016         hstudiovn         hstudiovn
208017   zubairahmed2012   zubairahmed2012
208018  hayleyrichardson  hayleyrichardson
208019          lougr464          lougr464
208020           sevtech           sevtech
208021          benimur4          benimur4
208022        jamespass1        jamespass1
208023            wilej2            wilej2
208024    ShivankDwivedi    shivankdwivedi
208025       Screengates       screengates
208026     touchninspire     touchninspire
208027            shas13            shas13
208028           lnewlin           lnewlin
208029       vsnaidu9959       vsnaidu9959
208030        narseesoft        narseesoft

[208031 rows x 2 columns]

In [89]:
!cp Updated_combine_username.csv ../notebook/5Dec2017/