In [47]:
import pandas as pd
import json
import requests
import os

In [24]:
link = "http://y.soyoung.com/yuehui/shop?district_id={}&menu1_id={}&sort=13&index={}"

In [17]:
link.format(1,'{}','{}').format(9,'{}')

'http://y.soyoung.com/yuehui/shop?district_id=1&menu1_id=9&sort=13&index={}'

the totals are incremented by sum of all categories, if retrieved by "all", the actual number will be less (if total < 2000) else will be more (if total >2000)

In [6]:
df = pd.read_excel('./province_stat.xlsx')
df.head()

   place_id Place  total_products
0        19   广东省            8579
1         1    北京            6781
2        17   湖北省            4406
3         9    上海            3995
4        10   江苏省            3942

In [23]:
df.tail()

    place_id    Place  total_products
31        33  香港特别行政区             150
32        29      青海省              99
33       561       日本              30
34       560       泰国              22
35        34  澳门特别行政区              21

In [5]:
df1 = df[df['total_products']>1500]
df2 = df[df['total_products']<1500]

In [55]:
def collect_json(link, place_id, small):
    def one(index):
        global collect
        try:
            products = json.loads(requests.get(link.format(index), timeout=3).text)['responseData']['product_info']
            if len(products)==0:
                try: 
                    if 0==len(json.loads(requests.get(link.format(index), timeout=3).text)['responseData']['product_info']):
                        return
                except:
                    print '?',
                    one(index)
            

            for product in products:
                collect.append(product)
                
        except Exception as e:
            print e
            print 'X',
            one(index)
            
    collect=[]    
    link = link.format(place_id,'{}','{}')
    if small:
        index = 0
        link = link.format(0,'{}')
        
        for i in range(180):
            one(i)
            
    print(len(collect))
    return pd.DataFrame(collect)

In [56]:
link

'http://y.soyoung.com/yuehui/shop?district_id={}&menu1_id={}&sort=13&index={}'

In [59]:
# test = collect_json(link, 34, 1)

In [60]:
class Collect(object):
    def __init__(self, link, place_id, small):
        self.link = link
        self.place_id = place_id
        self.small = small
        self.collect = []
        
    def scrape(self, index):
        
        try:
            products = json.loads(requests.get(link.format(index), timeout=3).text)['responseData']['product_info']
            if len(products)==0:
                try: 
                    if 0==len(json.loads(requests.get(link.format(index), timeout=3).text)['responseData']['product_info']):
                        return
                except:
                    print '?',
                    scrape(index)
            

            for product in products:
                self.collect.append(product)
                
        except Exception as e:
            print e
            print 'X',
            scrape(index)  
            
    def main():
        link = self.link.format(place_id,'{}','{}')
        if self.small:
            index = 0
            link = link.format(0,'{}')

            for i in range(180):
                scrape(i)

        print(len(self.collect))
        self.df = pd.DataFrame(collect)        
        return self.df

In [ ]:
def collect_json(link, place_id, small):
    def one(index):
        global collect
        try:
            products = json.loads(requests.get(link.format(index), timeout=3).text)['responseData']['product_info']
            if len(products)==0:
                try: 
                    if 0==len(json.loads(requests.get(link.format(index), timeout=3).text)['responseData']['product_info']):
                        return
                except:
                    print '?',
                    one(index)
            

            for product in products:
                collect.append(product)
                
        except Exception as e:
            print e
            print 'X',
            one(index)
            
    collect=[]    
    link = link.format(place_id,'{}','{}')
    if small:
        index = 0
        link = link.format(0,'{}')
        
        for i in range(180):
            one(i)
            
    print(len(collect))
    return pd.DataFrame(collect)