In [1]:
import pandas as pd
import os

In [2]:
files = os.listdir('./15W_htmls_diary/')
len(files)

147226

In [3]:
df = pd.read_csv('./diary_post.csv')
df.shape

(232613, 21)

In [4]:
df.head(1)

,type,diary_id,product_id,post_id,time,title,comments,favor,views,text,...,image_2,image_3,image_4,image_5,image_6,image_7,image_8,image_9,video_image,video_link
0,image_post,7158089,cp130361,p15679403,2017-11-24 12:56:55,术后第0天,1,4,222,【杏仁酸焕肤第0天】医院里环境很好，工作人员姐姐接待也炒鸡喜欢热情先是在医生那面诊仪器分析面...,...,http://img2.soyoung.com/tieba/ios/20171124/0/2...,http://img2.soyoung.com/tieba/ios/20171124/3/2...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
len(df['diary_id'].unique())

145771

In [6]:
pd.read_csv('diary_all.csv').head(1)

/home/shj16110/anaconda2/envs/new2/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (20) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,group_id,uid,user_name,top.summary,avatar.h,avatar.ident,avatar.u,avatar.w,avatar.zoom,certified_id,...,top.img.w,top.post_cnt,top.post_id,top.post_video_img,top.post_video_url,top.post_video_yn,top.record_post_img,top.str_day_num,top.videoDuration,user_level
0,5819831,13743032.0,邸备瑾凉,手术做完医生帮我拍了照片，当时已经很美了，术后看到照片的时候，我差点哭出来，太赞了,57.0,lnimage,http://img2.soyoung.com/user/20170601/2/201706...,57.0,89%,0.0,...,906,1,12963605,NaN,NaN,0,http://img2.soyoung.com/tieba/web/20170610/0/2...,第99天,NaN,3.0

In [7]:
df1 = df[['diary_id','time']]
df1.head()

   diary_id                 time
0   7158089  2017-11-24 12:56:55
1   6173083  2017-12-17 23:00:21
2   6173083  2017-12-03 00:08:17
3   4728665  2017-01-19 15:32:40
4   4728665  2017-01-18 21:46:28

In [8]:
from time import strftime, strptime, mktime, time, ctime

In [9]:
a = df1.head()['time'][0]
a

'2017-11-24 12:56:55'

In [16]:
from dsutils import strtimeconv

In [17]:
strtimeconv(a, "%Y-%m-%d %H:%M:%S", '%Y_%m' )

'2017_11'

In [22]:
%%time
df1['month'] = df1['time'].apply(strtimeconv, args=("%Y-%m-%d %H:%M:%S", "%Y_%m"))

CPU times: user 2.66 s, sys: 0 ns, total: 2.66 s
Wall time: 2.66 s

/home/shj16110/anaconda2/envs/new2/lib/python2.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [42]:
len(df1[df1['month']=='2017_07']['diary_id'].unique())

10142

In [50]:
d17_7=pd.DataFrame(df1[df1['month']=='2017_07']['diary_id'].unique(), columns=['group_id'])
d17_7.shape

(10142, 1)

In [53]:
d17_7.tail()

       group_id
10137   6074783
10138   6030685
10139   6085159
10140   5693063
10141   5334263

In [54]:
d17_7.to_csv('did17_7.csv', index=False)