In [1]:
import pandas as pd
import os

In [2]:
files = os.listdir('./15W_htmls_diary/')
len(files)

147226

In [3]:
df = pd.read_csv('./2018-01-22-02-34diary_post_data.csv')
df.shape

(232613, 21)

In [4]:
order = ['type', 'diary_id', 'product_id', 'post_id', 'time', 'title',
         'comments', 'favor', 'views', 'text', 'image_1', 'image_2', 
         'image_3', 'image_4', 'image_5', 'image_6', 'image_7', 'image_8',
         'image_9', 'video_image', 'video_link']

In [5]:
df = df[order]
df.shape

(232613, 21)

In [12]:
pd.DataFrame(df['diary_id'].unique(), columns=['group_id']).to_csv('diaryID.csv', index=False)

In [47]:
df.shape

(232613, 21)

In [48]:
df.to_csv('./diary_post.csv', index=False)

In [22]:
files[0]

'7158089.html'

In [29]:
did = df['diary_id'].unique()
did

array([7158089, 6173083, 4728665, ..., 5526270, 2730261, 7363868])

In [33]:
fid = map(lambda x: int(x.split('.html')[0]), files)

### 1455 diary not exists

In [35]:
diff = set(fid)-set(did)
len(diff)

1455

### 232602 unique post

In [44]:
len(df.post_id.unique())

232602

### 86842 diary has 2 posts, while 58929 diary has 1 post

In [50]:
df['diary_id'].value_counts().value_counts()

2    86842
1    58929
Name: diary_id, dtype: int64

### 6315 posts are video post

In [43]:
df['type'].value_counts()

image_post    226298
video_post      6315
Name: type, dtype: int64

In [1]:
df

NameError: name 'df' is not defined

In [6]:
df.head()['time']

0    2017-11-24 12:56:55
1    2017-12-17 23:00:21
2    2017-12-03 00:08:17
3    2017-01-19 15:32:40
4    2017-01-18 21:46:28
Name: time, dtype: object