In [49]:
import pandas as pd

import sys  

reload(sys)  
sys.setdefaultencoding('utf8')

import xlsxwriter

In [50]:
df=pd.read_csv('./goden_full_prepared3.csv')
df.shape

(119820, 142)

In [51]:
pd.options.display.max_columns=1000
df.head()

,about.chosen_role,about.company,about.display_name,about.hourly_rate,about.location,about.primary_currency,about.primary_language,about.profile_description,about.public_name,about.recommendations,about.registration_date,about.registration_date_human,about.reputation,about.role,about.status,about.tagline,about.timezone,about.username,about.username_sentence,hourlyRate,resume.certifications,resume.education,resume.exams,resume.experience,resume.publications,resume.show,skills,timeOffset,userId,username,register_Month,register_Year,desc_len,resume.certifications_len,resume.education_len,resume.exams_len,resume.experience_len,resume.publications_len,skills_len,administrative_area_3,city_3,country_code_3,country_demonym_3,country_flag_class_3,country_flag_url_3,country_flag_url_cdn_3,country_highres_flag_url_3,country_highres_flag_url_cdn_3,country_iso3_3,country_language_code_3,country_language_id_3,country_name_3,country_person_3,country_phone_code_3,country_region_id_3,country_sanction_3,country_seo_url_3,full_address_3,latitude_3,longitude_3,vicinity_3,code_2,country_2,exchange_rate_2,id_2,name_2,sign_2,earnings_score_4,entire_history_all_4,entire_history_category_ratings_communication_4,entire_history_category_ratings_expertise_4,entire_history_category_ratings_hire_again_4,entire_history_category_ratings_professionalism_4,entire_history_category_ratings_quality_4,entire_history_complete_4,entire_history_completion_rate_4,entire_history_earnings_4,entire_history_incomplete_4,entire_history_incomplete_reviews_4,entire_history_on_budget_4,entire_history_on_time_4,entire_history_overall_4,entire_history_positive_4,entire_history_rehire_rate_4,entire_history_reviews_4,job_history_count_other_4,job_history_job_counts_4,last12months_all_4,last12months_category_ratings_communication_4,last12months_category_ratings_expertise_4,last12months_category_ratings_hire_again_4,last12months_category_ratings_professionalism_4,last12months_category_ratings_quality_4,last12months_complete_4,last12months_completion_rate_4,last12months_earnings_4,last12months_incomplete_4,last12months_incomplete_reviews_4,last12months_on_budget_4,last12months_on_time_4,last12months_overall_4,last12months_positive_4,last12months_rehire_rate_4,last12months_reviews_4,last3months_all_4,last3months_category_ratings_communication_4,last3months_category_ratings_expertise_4,last3months_category_ratings_hire_again_4,last3months_category_ratings_professionalism_4,last3months_category_ratings_quality_4,last3months_complete_4,last3months_completion_rate_4,last3months_earnings_4,last3months_incomplete_4,last3months_incomplete_reviews_4,last3months_on_budget_4,last3months_on_time_4,last3months_overall_4,last3months_positive_4,last3months_rehire_rate_4,last3months_reviews_4,project_stats_4,role_4,summary_completion_rate_4,summary_earnings_score_4,summary_earnings_score_pc_4,summary_on_budget_4,summary_on_time_4,summary_rating_score_4,summary_rehire_rate_4,summary_reviews_4,deposit_made,email_verified,facebook_connected,identity_verified,payment_verified,phone_verified,profile_complete,country_5,id_5,offset_5,timezone_5
0,2,itsol,techit99,60,"{u'administrative_area': None, u'city': u'Bris...","{u'code': u'USD', u'name': u'US Dollar', u'cou...",en,NaN,techit99,0.0,1.237934e+09,"March, 2009","{u'user_id': 1018449, u'last3months': {u'compl...",1.0,"{u'payment_verified': False, u'identity_verifi...",NaN,"{u'country': u'UK', u'offset': 1, u'id': 262, ...",techit99,Techit99,60.0,"[{u'award_date': u'2011', u'descr': u'Hootsuit...",[],[],"[{u'year_interval': u'-2011', u'month_interval...",[],True,"[{u'usages': 0, u'seo_url': u'php', u'islocal'...",0.0,1018449.0,techit99,March,2009,3,1,0,0,1.0,0,15,NaN,Bristol,gb,NaN,united-kingdom,/img/flags/png/gb.png,//cdn6.f-cdn.com/img/flags/png/gb.png,/img/flags/highres_png/united-kingdom.png,//cdn5.f-cdn.com/img/flags/highres_png/united-...,NaN,NaN,NaN,United Kingdom,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,USD,US,1.0,1.0,US Dollar,$,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,[],0.0,0.0,0.0,0.0,0,0,0,0,NaN,0,0,0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,NaN,0.0,0.0,NaN,NaN,0.0,NaN,0.0,True,True,False,False,False,False,True,UK,262.0,1.0,Europe/London
1,1,Handmade Cards for Animal Charities,jung14,25,"{u'administrative_area': None, u'city': u'Penr...","{u'code': u'USD', u'name': u'US Dollar', u'cou...",en,NaN,jung14,0.0,1.262802e+09,"January, 2010","{u'user_id': 1344962, u'last3months': {u'compl...",0.0,"{u'payment_verified': False, u'identity_verifi...",NaN,"{u'country': u'UK', u'offset': 1, u'id': 262, ...",jung14,Jung14,25.0,[],[],[],[],[],False,"[{u'usages': 0, u'seo_url': u'copywriting', u'...",0.0,1344962.0,jung14,January,2010,3,0,0,0,0.0,0,25,NaN,Penrith,gb,NaN,united-kingdom,/img/flags/png/gb.png,//cdn6.f-cdn.com/img/flags/png/gb.png,/img/flags/highres_png/united-kingdom.png,//cdn5.f-cdn.com/img/flags/highres_png/united-...,NaN,NaN,NaN,United Kingdom,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,USD,US,1.0,1.0,US Dollar,$,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,[],0.0,0.0,0.0,0.0,0,0,0,0,NaN,0,0,0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,NaN,0.0,0.0,NaN,NaN,0.0,NaN,0.0,False,True,False,False,False,False,True,UK,262.0,1.0,Europe/London
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NoMn,NoYr,3,0,0,0,0.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NoMn,NoYr,3,0,0,0,0.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,Amtech Software,PatilAmit813,10,"{u'administrative_area': None, u'city': u'Nash...","{u'code': u'USD', u'name': u'US Dollar', u'cou...",en,NaN,PatilAmit813,0.0,1.273486e+09,"May, 2010","{u'user_id': 1557698, u'last3months': {u'compl...",0.0,"{u'payment_verified': False, u'identity_verifi...",NaN,"{u'country': u'IN', u'offset': 5.5, u'id': 403...",PatilAmit813,PatilAmit813,10.0,[],[],[],[],[],False,"[{u'usages': 0, u'seo_url': u'php', u'islocal'...",330.0,1557698.0,patilamit813,May,2010,3,0,0,0,0.0,0,9,NaN,Nashik,in,NaN,india,/img/flags/png/in.png,//cdn2.f-cdn.com/img/flags/png/in.png,/img/flags/highres_png/india.png,//cdn3.f-cdn.com/img/flags/highres_png/india.png,NaN,NaN,NaN,India,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,USD,US,1.0,1.0,US Dollar,$,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,[],0.0,0.0,0.0,0.0,0,0,0,0,NaN,0,0,0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,NaN,0.0,0.0,NaN,NaN,0.0,NaN,0.0,False,True,False,False,False,False,True,IN,403.0,5.5,Asia/Kolkata

In [52]:
df = df.drop(['about.location','about.primary_currency','about.reputation','about.status', 'about.timezone'], axis=1)

In [53]:
df.shape

(119820, 137)

In [56]:
df1 = df[~df['username'].isnull()]
df1.shape

(108017, 137)

In [12]:
%%time
# install unidecode first 
from unidecode import unidecode

def FormatString(s):
    if isinstance(s, unicode):

        try:
            s.encode('ascii')
            return s
        except:
            return unidecode(s)
    else:
        return s

df = df.applymap(FormatString)

CPU times: user 5.54 s, sys: 20 ms, total: 5.56 s
Wall time: 5.55 s

In [17]:
%%time
# Create a Pandas Excel writer using XlsxWriter as the engine.
writer = pd.ExcelWriter('goden_extract2.xlsx', engine='xlsxwriter')

# Convert the dataframe to an XlsxWriter Excel object.
df.to_excel(writer, sheet_name='Sheet1')

# Close the Pandas Excel writer and output the Excel file.
writer.save()

In [18]:
a=[1,2,3,9,3]

In [21]:
a.pop()

3

In [22]:
a

[1, 2]

In [23]:
a.append(3)

In [24]:
a

[1, 2, 3]

In [25]:
a.pop()

3

In [28]:
a.insert(0,9)

In [29]:
a

[9, 1, 2]

In [30]:
a.insert(1,6)

In [31]:
a

[9, 6, 1, 2]

In [57]:
%%time
df1 = df.applymap(lambda x: x.encode('unicode_escape').
                 decode('utf-8') if isinstance(x, str) else x)

In [58]:
df.shape

(119820, 137)

In [59]:
df.to_excel('goden_extract2.xlsx', index=False)

In [2]:
%%time
df = pd.read_excel('goden_extract.xlsx')
print df.shape

(119820, 137)
CPU times: user 1min 55s, sys: 579 ms, total: 1min 55s
Wall time: 1min 55s

In [3]:
df

,about.chosen_role,about.company,about.display_name,about.hourly_rate,about.primary_language,about.profile_description,about.public_name,about.recommendations,about.registration_date,about.registration_date_human,...,email_verified,facebook_connected,identity_verified,payment_verified,phone_verified,profile_complete,country_5,id_5,offset_5,timezone_5
0,2,itsol,techit99,60,en,NaN,techit99,0.0,1.237934e+09,"March, 2009",...,1.0,0.0,0.0,0.0,0.0,1.0,UK,262.0,1.0,Europe/London
1,1,Handmade Cards for Animal Charities,jung14,25,en,NaN,jung14,0.0,1.262802e+09,"January, 2010",...,1.0,0.0,0.0,0.0,0.0,1.0,UK,262.0,1.0,Europe/London
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,Amtech Software,PatilAmit813,10,en,NaN,PatilAmit813,0.0,1.273486e+09,"May, 2010",...,1.0,0.0,0.0,0.0,0.0,1.0,IN,403.0,5.5,Asia/Kolkata
5,2,n/a,tiabil,None,en,NaN,tiabil,0.0,1.255351e+09,"October, 2009",...,1.0,0.0,0.0,1.0,0.0,1.0,UK,262.0,1.0,Europe/London
6,1,John Smith,Smily,3,en,I have made many PHP/MySQL scripts and softwar...,Smily,0.0,1.162855e+09,"November, 2006",...,1.0,0.0,0.0,0.0,0.0,1.0,PK,183.0,5.0,Asia/Karachi
7,1,Ravohitrarivo,tsoutsoune,8,en,Ing\xe9nieur Informatique : int\xe9gration web...,tsoutsoune,0.0,1.272309e+09,"April, 2010",...,1.0,0.0,0.0,0.0,0.0,1.0,MG,295.0,3.0,Indian/Antananarivo
8,2,shopatwork,shopatwork,None,en,NaN,shopatwork,0.0,1.270811e+09,"April, 2010",...,1.0,0.0,0.0,0.0,0.0,1.0,UK,262.0,1.0,Europe/London
9,1,smd programming,zia.smd,10,en,More over 6 years I have experience on this fi...,ziashim,0.0,1.167768e+09,"January, 2007",...,1.0,0.0,0.0,0.0,0.0,1.0,BD,169.0,6.0,Asia/Dhaka
10,1,Ishaan Internationals,xplosion79,25,en,SAP Technical Consultant holding 5 years of ex...,xplosion79,0.0,1.270323e+09,"April, 2010",...,1.0,0.0,0.0,0.0,0.0,1.0,US,81.0,-5.0,America/Chicago
11,1,NaN,ravichandrav,None,en,NaN,ravichandrav,0.0,1.262052e+09,"December, 2009",...,1.0,0.0,0.0,0.0,0.0,1.0,IN,403.0,5.5,Asia/Kolkata
12,1,AjCircuit Web Services,abcorley,25,en,NaN,abcorley,0.0,1.260893e+09,"December, 2009",...,1.0,0.0,0.0,0.0,0.0,1.0,US,120.0,-4.0,America/New_York
13,2,Applied Web Info,success5564,None,en,NaN,success5564,0.0,1.268492e+09,"March, 2010",...,1.0,0.0,0.0,0.0,0.0,1.0,US,81.0,-5.0,America/Chicago
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,3,House of Artemis,Shelleykc1,30,en,5+ years professional UK writer. Published man...,Shelleykc1,0.0,1.175617e+09,"April, 2007",...,1.0,0.0,0.0,0.0,1.0,1.0,UK,262.0,1.0,Europe/London
16,3,Own,Samah7279,None,en,NaN,Samah7279,0.0,1.211627e+09,"May, 2008",...,1.0,0.0,0.0,0.0,0.0,1.0,EG,14.0,2.0,Africa/Cairo
17,2,None,RRPteLtd,None,en,NaN,RRPteLtd,0.0,1.281631e+09,"August, 2010",...,1.0,0.0,0.0,0.0,0.0,0.0,SG,210.0,8.0,Asia/Singapore
18,1,Qitas.net,The Freelancer Guru,50,en,"Our Certifications are VCP, ITIL V3, RHCE,CISS...",shakoush2001,0.0,1.209043e+09,"April, 2008",...,1.0,0.0,0.0,1.0,1.0,1.0,FI,255.0,3.0,Europe/Helsinki
19,1,consistency work,consistency,None,en,NaN,consistency,0.0,1.253042e+09,"September, 2009",...,1.0,0.0,0.0,0.0,0.0,1.0,EG,14.0,2.0,Africa/Cairo
20,1,Alachua County Data Entry,amybaby,20,en,"American, native English speaking data entry c...",amybaby,0.0,1.265244e+09,"February, 2010",...,1.0,1.0,0.0,0.0,0.0,1.0,US,81.0,-5.0,America/Chicago
21,3,k,silverz,None,en,NaN,silverz,0.0,1.188130e+09,"August, 2007",...,1.0,0.0,0.0,0.0,0.0,1.0,AU,420.0,10.0,Australia/Melbourne
22,1,MEADOWS INC.,JAIME3282,None,en,NaN,JAIME3282,0.0,1.268720e+09,"March, 2010",...,1.0,0.0,0.0,0.0,0.0,1.0,US,120.0,-4.0,America/New_York
23,1,FieryLoki,FieryLoki,10,en,"Engineering, mechanical design, translations, ...",FieryLoki,0.0,1.190107e+09,"September, 2007",...,1.0,0.0,0.0,0.0,0.0,1.0,RO,248.0,3.0,Europe/Bucharest
24,3,goldengatemedia,webcase,None,en,NaN,webcase,0.0,1.165451e+09,"December, 2006",...,1.0,0.0,0.0,0.0,0.0,1.0,US,105.0,-7.0,America/Los_Angeles
25,3,-,gokulgee,10,en,OBJECTIVE: Seeking a Data Entry Operator posit...,gokulgee,0.0,1.214633e+09,"June, 2008",...,1.0,0.0,0.0,0.0,1.0,1.0,IN,403.0,5.5,Asia/Kolkata
26,1,Home,FirdoshPathan,10,en,I am working as Technical lead in MNC IT firm....,FirdoshPathan,0.0,1.241969e+09,"May, 2009",...,1.0,0.0,0.0,0.0,0.0,1.0,IN,403.0,5.5,Asia/Kolkata
27,3,interlogic,ronini,None,en,NaN,ronini,0.0,1.162122e+09,"October, 2006",...,1.0,0.0,0.0,0.0,0.0,1.0,IL,180.0,3.0,Asia/Jerusalem
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,1,B,hramovnik,5,en,NaN,hramovnik,0.0,1.264804e+09,"January, 2010",...,1.0,0.0,0.0,0.0,0.0,1.0,UA,293.0,3.0,Europe/Zaporozhye
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119790,1,wiltenburg,wiltenburg,None,en,NaN,wiltenburg,0.0,1.264645e+09,"January, 2010",...,1.0,0.0,0.0,0.0,0.0,1.0,AN,85.0,-4.0,America/Curacao
119791,2,NaN,lejoyeux3,None,en,NaN,lejoyeux3,1.0,1.271153e+09,"April, 2010",...,1.0,0.0,0.0,1.0,0.0,1.0,DK,251.0,2.0,Europe/Copenhagen
119792,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119793,1,NaN,Vemaj,15,en,We are a full service design firm located out ...,Vemaj,0.0,1.267074e+09,"February, 2010",...,1.0,0.0,0.0,0.0,0.0,1.0,US,120.0,-4.0,America/New_York
119794,3,NaN,agillette,75,en,NaN,agillette,0.0,1.145041e+09,"April, 2006",...,1.0,0.0,0.0,0.0,0.0,1.0,US,120.0,-4.0,America/New_York
119795,1,creativeart,sejal09,None,en,NaN,sejal09,0.0,1.250539e+09,"August, 2009",...,1.0,0.0,0.0,0.0,0.0,1.0,IN,403.0,5.5,Asia/Kolkata
119796,3,JR - Secure WEB Solutions Development,IceBurn,30,pt,I am a Web Developer/PHP Programmer with exper...,IceBurn,0.0,1.170783e+09,"February, 2007",...,1.0,0.0,0.0,0.0,1.0,1.0,PT,260.0,1.0,Europe/Lisbon
119797,3,angelstar1,angelstar1,12,en,I am a freelance writer who is working for pas...,angelstar1,0.0,1.205563e+09,"March, 2008",...,1.0,0.0,0.0,0.0,0.0,1.0,IN,164.0,5.5,Asia/Calcutta
119798,1,Blackvine Media Group,blackvineau,None,en,NaN,blackvineau,0.0,1.264802e+09,"January, 2010",...,1.0,0.0,0.0,1.0,1.0,1.0,AU,412.0,10.0,Australia/Brisbane
119799,2,NaN,ValueIT,20,en,We belive that our customers are special. We a...,olevangn,0.0,1.276350e+09,"June, 2010",...,1.0,0.0,0.0,1.0,0.0,1.0,NO,270.0,2.0,Europe/Oslo
119800,3,Adam Samtur,generalq,25,en,NaN,generalq,0.0,1.216867e+09,"July, 2008",...,1.0,0.0,0.0,0.0,0.0,1.0,US,120.0,-4.0,America/New_York
119801,3,GLOBAL MARKETING,NATIONWIDE74,None,en,NaN,NATIONWIDE74,0.0,1.229102e+09,"December, 2008",...,1.0,0.0,0.0,0.0,0.0,1.0,US,120.0,-4.0,America/New_York
119802,1,NaN,mediace,3,en,NaN,mediace,0.0,1.262972e+09,"January, 2010",...,1.0,0.0,0.0,0.0,1.0,1.0,RO,248.0,3.0,Europe/Bucharest
119803,1,BCET,seema73,None,en,NaN,seema73,0.0,1.273724e+09,"May, 2010",...,1.0,0.0,0.0,0.0,0.0,1.0,IN,403.0,5.5,Asia/Kolkata
119804,2,FlightSafetyNet.com,spartan1,None,en,NaN,spartan1,0.0,1.231286e+09,"January, 2009",...,1.0,0.0,0.0,1.0,0.0,1.0,US,120.0,-4.0,America/New_York
119805,1,IZ,izee03,10,en,Graduate of BS Computer in MS Word and deliv...,izee03,0.0,1.264386e+09,"January, 2010",...,1.0,0.0,0.0,0.0,0.0,1.0,PH,192.0,8.0,Asia/Manila
119806,3,D Svensson,lundsweden,None,en,NaN,lundsweden,0.0,1.178049e+09,"May, 2007",...,1.0,0.0,0.0,0.0,0.0,1.0,SE,282.0,2.0,Europe/Stockholm
119807,1,javacreature,javacreature,10,en,NaN,javacreature,0.0,1.267773e+09,"March, 2010",...,1.0,0.0,0.0,0.0,0.0,1.0,IN,403.0,5.5,Asia/Kolkata
119808,1,Krispie,rintintin,20,en,Krispie - Professional SEO & Design services,rintintin,0.0,1.274349e+09,"May, 2010",...,1.0,0.0,0.0,0.0,0.0,1.0,RO,248.0,3.0,Europe/Bucharest
119809,3,JASVIR,jasvir1,15,en,NaN,jasvir1,0.0,1.271993e+09,"April, 2010",...,1.0,0.0,0.0,0.0,0.0,1.0,EC,96.0,-5.0,America/Guayaquil
119810,3,ibis noir,elhel,None,en,NaN,elhel,0.0,1.211925e+09,"May, 2008",...,1.0,0.0,0.0,0.0,0.0,1.0,FR,271.0,2.0,Europe/Paris
119811,1,NaN,erwindraft,10,en,I have a great experience in website developme...,erwindraft,1.0,1.228102e+09,"November, 2008",...,1.0,0.0,0.0,0.0,1.0,1.0,TH,160.0,7.0,Asia/Bangkok
119812,1,elfitraugustin,elfitraugustin,30,en,"- Illustrator,Hand drawing, kids&teenager styl...",elfitraugustin,0.0,1.275369e+09,"June, 2010",...,1.0,0.0,0.0,0.0,0.0,1.0,ID,178.0,7.0,Asia/Jakarta
119813,1,deepudegsins,smswebsites,5,en,NaN,smswebsites,0.0,1.265905e+09,"February, 2010",...,1.0,0.0,0.0,0.0,0.0,1.0,IN,403.0,5.5,Asia/Kolkata
119814,2,IM Works,gnomad12,None,en,NaN,gnomad12,0.0,1.231743e+09,"January, 2009",...,1.0,0.0,0.0,1.0,0.0,1.0,AU,235.0,10.0,Australia/Queensland
119815,3,Undisclosed,tom617,None,en,NaN,tom617,0.0,1.220141e+09,"August, 2008",...,1.0,0.0,0.0,0.0,0.0,1.0,US,120.0,-4.0,America/New_York
119816,2,IM Works,gnomad12,None,en,NaN,gnomad12,0.0,1.231743e+09,"January, 2009",...,1.0,0.0,0.0,1.0,0.0,1.0,AU,235.0,10.0,Australia/Queensland
119817,1,Bagus,Bagusanam,3,en,NaN,Bagusanam,0.0,1.274775e+09,"May, 2010",...,1.0,0.0,0.0,0.0,0.0,1.0,ID,178.0,7.0,Asia/Jakarta
119818,3,Corriespace,mikecsvu,None,en,NaN,mikecsvu,0.0,1.222256e+09,"September, 2008",...,1.0,0.0,0.0,0.0,0.0,1.0,UK,262.0,1.0,Europe/London
119819,3,NaN,coskunuzer,None,en,Our company is consistently in state of innova...,coskunuzer,0.0,1.148912e+09,"May, 2006",...,1.0,0.0,0.0,1.0,1.0,1.0,TR,177.0,3.0,Asia/Istanbul

In [33]:
df['about.chosen_role'].value_counts(dropna=False)

1.0    45828
3.0    41334
2.0    17129
NaN    11803
1.0     1648
3.0     1449
2.0      628
A          1
Name: about.chosen_role, dtype: int64

In [43]:
(df['username'].isnull()).sum()

11803

In [48]:
df.dropna()

Empty DataFrame
Columns: [about.chosen_role, about.company, about.display_name, about.hourly_rate, about.primary_language, about.profile_description, about.public_name, about.recommendations, about.registration_date, about.registration_date_human, about.role, about.tagline, about.username, about.username_sentence, hourlyRate, resume.certifications, resume.education, resume.exams, resume.experience, resume.publications, resume.show, skills, timeOffset, userId, username, register_Month, register_Year, desc_len, resume.certifications_len, resume.education_len, resume.exams_len, resume.experience_len, resume.publications_len, skills_len, administrative_area_3, city_3, country_code_3, country_demonym_3, country_flag_class_3, country_flag_url_3, country_flag_url_cdn_3, country_highres_flag_url_3, country_highres_flag_url_cdn_3, country_iso3_3, country_language_code_3, country_language_id_3, country_name_3, country_person_3, country_phone_code_3, country_region_id_3, country_sanction_3, country_seo_url_3, full_address_3, latitude_3, longitude_3, vicinity_3, code_2, country_2, exchange_rate_2, id_2, name_2, sign_2, earnings_score_4, entire_history_all_4, entire_history_category_ratings_communication_4, entire_history_category_ratings_expertise_4, entire_history_category_ratings_hire_again_4, entire_history_category_ratings_professionalism_4, entire_history_category_ratings_quality_4, entire_history_complete_4, entire_history_completion_rate_4, entire_history_earnings_4, entire_history_incomplete_4, entire_history_incomplete_reviews_4, entire_history_on_budget_4, entire_history_on_time_4, entire_history_overall_4, entire_history_positive_4, entire_history_rehire_rate_4, entire_history_reviews_4, job_history_count_other_4, job_history_job_counts_4, last12months_all_4, last12months_category_ratings_communication_4, last12months_category_ratings_expertise_4, last12months_category_ratings_hire_again_4, last12months_category_ratings_professionalism_4, last12months_category_ratings_quality_4, last12months_complete_4, last12months_completion_rate_4, last12months_earnings_4, last12months_incomplete_4, last12months_incomplete_reviews_4, last12months_on_budget_4, last12months_on_time_4, last12months_overall_4, last12months_positive_4, last12months_rehire_rate_4, last12months_reviews_4, last3months_all_4, ...]
Index: []

[0 rows x 137 columns]

In [38]:
df[df['username']=='preethi147']

,about.chosen_role,about.company,about.display_name,about.hourly_rate,about.primary_language,about.profile_description,about.public_name,about.recommendations,about.registration_date,about.registration_date_human,...,email_verified,facebook_connected,identity_verified,payment_verified,phone_verified,profile_complete,country_5,id_5,offset_5,timezone_5
109210,2,Preethi,PN,None,en,NaN,preethi147,0.0,1.280310e+09,"July, 2010",...,True,True,False,True,False,True,IN,164.0,5.5,Asia/Calcutta
109213,3,fridaybox,fridaybox,20,en,10 years C coding on linux and windows,fridaybox,0.0,1.271782e+09,"April, 2010",...,True,True,False,True,False,True,IN,164.0,5.5,Asia/Calcutta
109217,2,Preethi,PN,None,en,NaN,preethi147,0.0,1.280310e+09,"July, 2010",...,True,True,False,True,False,True,IN,164.0,5.5,Asia/Calcutta

In [39]:
df0 = pd.read_csv('./users.gender.golden.csv')

In [44]:
df0.shape

(121335, 9)

In [45]:
(df0['username'].isnull()).sum()

1

In [41]:
df0['username'].value_counts()

dhubbard5           2
LITTLEEVILBUNNY     2
jverner             2
Apurno              2
MyInfoDatabase      2
GCD                 2
fancyweb            2
Globleinfosol       2
DBLogs              2
exppro              2
windycitynews       2
binarymarbles       2
tcb4ep              2
OnlineeWorker       2
b747fp              2
isabelrdrgs         2
orderscout          2
lucy1rozario        2
MikeRogers          2
Joshua4550          2
linktovirus         2
bernabe             2
Asiana55            2
javierca            2
soniamit            2
caprinits           2
BizBuilderMike      2
Jetpackmedia        2
naranili            2
vinita1804          2
                   ..
BMan                1
cdelguzzi01         1
berretti            1
cashbuyshouses      1
boss4u84            1
NidhiChoudhary12    1
notkts84            1
projectaydan        1
TrishLAustin        1
rgeorgiou           1
flasher3015         1
applemae            1
indhar15            1
usmanalik           1
cb990094            1
gearshop            1
javakolkata         1
SouthPawScripter    1
protein007          1
geraldhall          1
agbaje4u            1
editorial           1
ehsankaisar         1
arestactical        1
mtl1155             1
TomTomTSI           1
jlibranda           1
doggie01            1
vivekhcl            1
Arne                1
Name: username, Length: 119818, dtype: int64

In [36]:
df['username'].value_counts(dropna=False)

NaN                 11803
quenimo09               4
preethi147              3
suryakunal              3
websbest                3
lizap                   3
sankha89                3
elgieboy                3
delmaschio              3
agutthon                3
sonnetdp                3
radams33                3
remot                   3
go2landmarks            3
zherus                  3
christinakf             3
valerie123              3
simo71                  3
sumonbdctg              3
dvdproj                 3
erosevol                3
glg                     3
ilounge                 3
unnimaria               3
bobb555this             3
mariapaula              3
iicucucoolio            3
devweb123               3
vchoudhury1985          3
yosrakhalil             3
                    ...
muhil342                1
peterparsons            1
mariajblack             1
janetpaignaachas        1
zch65                   1
filmlion                1
typeitfast              1
ksevala                 1
bemmeneses              1
aolpradnesh             1
mrreliable              1
slash1900               1
spaceeye99              1
inetfy                  1
designmill              1
dieljph                 1
proworks                1
jmcknight3              1
sparklingdesign         1
emgraphix               1
bloggersavvy            1
emon8406                1
aveek1                  1
vcreative08             1
turlo                   1
piwatches               1
article                 1
anithamanickam          1
redmad                  1
sohailahmad786          1
Name: username, Length: 105882, dtype: int64