In [4]:
import pandas as pd
import os
import shutil

In [1]:
!ls

18_Nov_71W_V7.csv  existsIS.ipynb  existsIS.py	para.zip

In [6]:
csvN = raw_input('para_csv name: ')

para_csv name: 18_Nov_71W_V7.csv

In [23]:
%%time
df = pd.read_csv('./'+csvN)
df.shape

CPU times: user 19.3 s, sys: 1.75 s, total: 21.1 s
Wall time: 23.9 s

In [24]:
df0=df.copy()

In [25]:
path = '/home/soyoung/face/newFlask/static/phos/'

In [26]:
df['exists']=df['name'].apply(lambda x: os.path.exists(path+x))

In [27]:
print 'exists file: ', df['exists'].sum()

exists file:  710874

In [28]:
df[~df['exists']].index

Int64Index([629760, 698949], dtype='int64')

In [29]:
# 538009-537967

In [30]:
# df0 = pd.read_csv('./2_Nov_54W_V6.csv')
# df0.shape

### from list.txt found by fsint

In [31]:
l = pd.read_csv('/home/soyoung/face/list.txt', names=['path'])
l.shape

(290, 1)

In [37]:
l['name']=l['path'].apply(lambda x: x.split('/home/soyoung/face/newFlask/static/phos/')[-1])

In [38]:
l.head()

,path,name
0,/home/soyoung/face/newFlask/static/phos/godnes...,godness_sub_5/3(89).jpg
1,/home/soyoung/face/newFlask/static/phos/godnes...,godness_sub_26/19879367.jpg
2,/home/soyoung/face/newFlask/static/phos/godnes...,godness_sub_15/d1(1).jpg
3,/home/soyoung/face/newFlask/static/phos/godnes...,godness_sub_34/108(1).jpg
4,/home/soyoung/face/newFlask/static/phos/godnes...,godness_sub_68/3bf33a87e950352a141d93185943fbf...

In [41]:
dupli = l['name'].tolist()

In [32]:
df1 = df0.iloc[df[df['exists']].index,:]
df1.shape

(710874, 129)

In [35]:
df1.head()

,0,1,2,3,4,5,6,7,8,9,...,119,120,121,122,123,124,125,126,127,name
0,0.011476,0.165126,-0.129640,0.016787,0.022167,0.051669,0.014077,0.017761,0.011484,0.137340,...,0.157795,-0.054396,-0.000642,-0.096280,0.126662,-0.005746,-0.006710,-0.089524,0.049204,sub_28/1aa1269cc4cd42aeb12fb6f83beb89f4.jpg
1,-0.003138,-0.094253,-0.074803,0.001642,0.080649,-0.065988,-0.029929,0.026139,0.026266,-0.024320,...,0.135359,-0.071909,0.113172,0.045211,0.141725,-0.033956,0.012183,-0.019442,0.013153,sub_28/1985782_13_102812_1.jpg
2,0.052159,0.078025,-0.058801,0.111056,0.011825,0.077016,0.018737,0.034417,0.029392,-0.014144,...,0.076519,-0.007938,0.055379,-0.049870,0.153607,0.078589,-0.073745,0.036184,0.064255,sub_28/1993968735118832174.jpg
3,-0.022384,0.050678,-0.026818,0.041654,0.046246,0.022148,0.001582,0.021008,0.024489,0.015352,...,0.152728,-0.050696,-0.020838,-0.068645,0.067528,-0.124348,0.097163,0.079192,0.057003,sub_28/195943d29ir441i444lhtr.jpg
4,0.059199,0.078390,-0.108855,0.071035,-0.007066,-0.000059,0.007308,-0.022881,-0.106324,0.033876,...,0.116259,-0.019002,0.083863,0.170860,0.019041,0.054721,0.044380,0.145403,-0.038084,sub_28/1dd0675b-b9d6-4cca-a03e-2134403a74a9_si...

In [46]:
pd.DataFrame.reset_index?

In [48]:
l.shape

(290, 2)

In [49]:
df1.shape

(710874, 129)

In [50]:
df1.set_index('name').loc[set(df1.set_index('name').index)-set(dupli),:].reset_index().shape

(710584, 129)

In [51]:
df2 = df1.set_index('name').loc[set(df1.set_index('name').index)-set(dupli),:].reset_index()

In [52]:
df2.head()

,name,0,1,2,3,4,5,6,7,8,...,118,119,120,121,122,123,124,125,126,127
0,face1_sub_19/20091106111126e210a.jpg,0.090681,0.063622,0.048685,0.141818,-0.054082,0.033980,0.023867,0.095308,0.044889,...,0.059198,0.068368,-0.057335,0.035933,-0.099189,0.215631,0.197686,-0.100575,0.128824,0.035667
1,sub_61/4a582a0a4d87066982df335df73f0f119487e42...,0.047382,-0.039619,-0.004906,0.111956,-0.053275,0.067316,0.030301,0.007103,0.095319,...,0.124956,0.006192,0.012020,-0.035398,-0.056802,-0.024810,0.017372,0.033407,0.155801,0.174614
2,godness_sub_11/20120715_7aecd0a3ee16495bc997i9...,0.139176,-0.021813,0.014121,0.087543,0.006650,0.097882,0.007743,0.105824,0.078287,...,0.023803,0.047007,-0.015273,0.046310,-0.075145,0.188006,0.156971,-0.137331,0.089560,0.078865
3,sub_108/W020170911419388610618.jpg,-0.021418,0.278278,0.022405,0.109666,-0.049149,0.070201,0.038286,0.004114,0.013662,...,0.108368,0.097187,0.013767,0.037257,-0.008347,0.183085,0.115377,-0.052388,0.138179,0.025962
4,man_sub_32/6597250086564895856.jpg,0.027673,0.158157,0.023877,0.103745,-0.017594,0.149621,0.012605,-0.042089,0.050092,...,-0.041274,0.133882,0.066165,-0.000621,-0.008317,0.079430,0.086190,-0.009660,0.032257,0.070513

In [53]:
df2.shape

(710584, 129)

In [57]:
duplicate_csv = df1.set_index('name').loc[dupli,:].reset_index()[['name']]
duplicate_csv.shape

(290, 1)

In [58]:
duplicate_csv.to_csv('/home/soyoung/face/baidu_face_project/to_be_delete_duplicate.csv', index=False)

In [54]:
# df1 = df1.reset_index(drop=True)
# df1.shape

In [1]:
# df1.tail()

In [ ]:
print 'missing and to be removed', df0.shape[0]-df['exists'].sum()
yes = raw_input('r u sure y/n ?: ')
if yes=='y':
    pass
else:
    exit()

In [60]:
%%time
df1.to_csv('./'+csvN, index=False)

CPU times: user 48.7 s, sys: 736 ms, total: 49.4 s
Wall time: 50.3 s