In [1]:
import pandas as pd
import cx_Oracle

db=cx_Oracle.connect("soyoung", "soyoung", "my.uconn.science:1521/xe")
print db.version

11.2.0.2.0

In [9]:
query="select ID, URL from single where rownum<10001"

In [10]:
df = pd.read_sql(query, db)
df.shape

(10000, 2)

In [14]:
db.close()

In [12]:
df.head()

       ID                                                URL
0  607847  http://img2.soyoung.com/tieba/ios/20160316/4/2...
1  607847  http://img2.soyoung.com/tieba/ios/20160316/8/2...
2  607849  http://img2.soyoung.com/tieba/ios/20160310/0/2...
3  607849  http://img2.soyoung.com/tieba/ios/20160310/2/2...
4  607850  http://img2.soyoung.com/tieba/ios/20160309/1/2...

In [13]:
df.to_csv('img_urls.csv', index=False)