In [5]:
import pandas as pd
import os
import natsort

In [2]:
!pwd

/home/shj16110/notebook/27Dec2017

In [3]:
os.chdir('../DeepGenderPred/predict/')

In [6]:
files = os.listdir('./')
files = natsort.natsorted(files)
len(files)

367

In [12]:
files[0:2]+files[-2:]

['predict_1.csv', 'predict_2.csv', 'predict_366.csv', 'predict_367.csv']

In [14]:
%%time
df = pd.concat([pd.read_csv(i) for i in files])
print df.shape

(109417, 3)
CPU times: user 452 ms, sys: 27 ms, total: 479 ms
Wall time: 6.53 s

In [16]:
df = df.reset_index(drop=True)
df.tail()

                                                     file label  score
109412  /home/shj16110/notebook/DeepGenderPred/AllPics...     M   0.94
109413  /home/shj16110/notebook/DeepGenderPred/AllPics...     M   0.69
109414  /home/shj16110/notebook/DeepGenderPred/AllPics...     M   0.99
109415  /home/shj16110/notebook/DeepGenderPred/AllPics...     M   0.93
109416  /home/shj16110/notebook/DeepGenderPred/AllPics...     F   0.65

In [27]:
df['user_id'] = df['file'].str.split('/').apply(lambda x: x[-1]).str.split('_').apply(lambda x: int(x[0]))
df.shape

(109417, 4)

In [30]:
df1 = df[['user_id','label','score']]
df1.shape

(109417, 3)

In [34]:
df2 = df1.sort_values('user_id')
df2 = df2.reset_index(drop=True)
df2.shape

(109417, 3)

In [35]:
df2.to_csv('gpu_results.csv', index=False)

In [36]:
os.chdir('../../27Dec2017/')

In [40]:
df9 = pd.read_csv('./Training_set.csv')
df9.shape

(108011, 3)

In [43]:
df2.head(1)

   user_id label  score
0      215     F   0.94

In [44]:
df9.head(1)

   index  label  user_id
0      0      1        5

In [48]:
df_c = df2.set_index('user_id').join(df9.set_index('user_id'), how='inner', lsuffix='_pic')
df_c.shape

(62527, 4)

In [50]:
df2['label'].value_counts()

M    72498
F    36919
Name: label, dtype: int64

In [51]:
df9['label'].value_counts()

1    89306
0    18705
Name: label, dtype: int64

In [58]:
df_c['label2'] = df_c['label_pic'].map({'M':1,'F':0})
df_c.head()

        label_pic  score  index  label  label2
user_id
215             F   0.94      4      1       0
220             M   1.00      5      1       1
224             M   0.94      6      1       1
274             F   0.89      7      1       0
470             M   1.00      9      1       1

In [60]:
df_c[df_c['label']!=df_c['label2']].shape

(17761, 5)

In [61]:
df_c.shape

(62527, 5)

In [63]:
(62527-17761)/62527.0

0.715946711020839

In [64]:
import base64

In [65]:
base64?