In [1]:
import pandas as pd
import os
import shutil

In [2]:
df0 = pd.read_csv('./bidder1_collaboration.csv')
df1 = pd.read_csv('./diff_all.csv')
df0.shape, df1.shape

((26349, 4), (986, 8))

In [3]:
df0.head()

   ID                 Name  Pic_ID Label
0   1   307898_profile.jpg       1     M
1   2  1189066_profile.jpg       2     M
2   3  1484438_profile.jpg       3     M
3   4  1265987_profile.jpg       4     M
4   5  1188950_profile.jpg       5     M

In [4]:
df1.head()

   Index  Pic_J Label_J  set_J  Pic_W Label_W  set_W  compare
0     31     32       F      1     32       G      1    False
1     42     43       F      1     43       M      1    False
2     72     73       F      1     73       B      1    False
3     96     97       M      1     97       B      1    False
4    111     12       M      2     12       B      2    False

In [15]:
df0.set_index('ID').join(df1.set_index('Index'), how='inner').head()

,Name,Pic_ID,Label,Pic_J,Label_J,set_J,Pic_W,Label_W,set_W,compare
31,1318895_profile.jpg,31,B,32,F,1,32,G,1,False
42,1487687_profile.jpg,42,F,43,F,1,43,M,1,False
72,186803_profile.jpg,72,M,73,F,1,73,B,1,False
96,1319572_profile.jpg,96,M,97,M,1,97,B,1,False
111,1450070_profile.jpg,11,M,12,M,2,12,B,2,False

In [17]:
joined = df0.set_index('ID').join(df1.set_index('Index'), how='inner')[['Name','Pic_ID','Label_J','Label_W','set_J','Pic_J']]
joined.shape

(986, 6)

In [18]:
joined.head()

                    Name  Pic_ID Label_J Label_W  set_J  Pic_J
31   1318895_profile.jpg      31       F       G      1     32
42   1487687_profile.jpg      42       F       M      1     43
72    186803_profile.jpg      72       F       B      1     73
96   1319572_profile.jpg      96       M       B      1     97
111  1450070_profile.jpg      11       M       B      2     12

In [19]:
joined.to_csv('diff_all_withPath.csv', index_label='Index')

In [26]:
! ls /home/soyoung/Host_Pics/static/bidderPics/|wc

  26349   26349  519075

In [31]:
path = '/home/soyoung/Host_Pics/static/bidderPics/'

In [27]:
shutil.copy?

In [28]:
!ls

bidder1_collaboration.csv  diff_all.csv		  join.ipynb
diff_OnlyWithPerson.csv    diff_all_withPath.csv

In [29]:
!mkdir diff_Pics

In [30]:
for i in joined['Name']:
    print i
    break

1318895_profile.jpg

In [32]:
%%time
fail=[]
for i in joined['Name']:
    try:
        shutil.copy(path+i, 'diff_Pics/'+i)
    except:
        fail.append(i)
print len(fail)

0
CPU times: user 56 ms, sys: 112 ms, total: 168 ms
Wall time: 430 ms

In [33]:
!ls diff_Pics/|wc

    986     986   19428