In [121]:
import pandas as pd
from ast import literal_eval

In [122]:
%%time
df=pd.read_csv('./goden_full_raw.csv')
df.shape

CPU times: user 3.45 s, sys: 121 ms, total: 3.57 s
Wall time: 3.6 s

<string>:2: DtypeWarning: Columns (0,3,4,5,6,748,749,750,751,753,754,755,756,757,759,760,761,762,763,764,767,768,770,771,772,773,774,776,777,778,779,780,781,782) have mixed types. Specify dtype option on import or set low_memory=False.

In [123]:
pd.options.display.max_columns=100
df.head(3)

,username,fname.gender,username_split_predict,last,last_two,first,first2,nchar,vowels.pct,digits.pct,last_is_vowel,first_is_vowel,last_is_digit,first_is_digit,digits.num,upper.pct,first_is_upper,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,feature_10,feature_11,feature_12,feature_13,feature_14,feature_15,feature_16,feature_17,feature_18,feature_19,feature_20,feature_21,feature_22,feature_23,feature_24,feature_25,feature_26,feature_27,feature_28,feature_29,feature_30,feature_31,feature_32,...,feature_718,feature_719,feature_720,feature_721,feature_722,feature_723,feature_724,feature_725,feature_726,feature_727,feature_728,feature_729,feature_730,about.avatar,about.avatar_cdn,about.avatar_large,about.avatar_large_cdn,about.chosen_role,about.company,about.corporate,about.cover_image,about.display_name,about.hourly_rate,about.id,about.location,about.preferred_freelancer,about.primary_currency,about.primary_language,about.profile_description,about.public_name,about.recommendations,about.registration_date,about.registration_date_human,about.reputation,about.role,about.status,about.tagline,about.timezone,about.username,about.username_sentence,hourlyRate,resume.certifications,resume.education,resume.exams,resume.experience,resume.publications,resume.show,skills,timeOffset,userId
0,a1anm,male,male,m,nm,a,a1,5,0.400000,0.200000,False,True,False,False,1,0,False,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,12.0,13.0,4.0,/img/unknown.png,//cdn6.f-cdn.com/img/unknown.png,/img/unknown.png,//cdn6.f-cdn.com/img/unknown.png,3.0,NaN,None,{u'current_image': {u'url': u'//cdn2.f-cdn.com...,a1anm,None,897638.0,"{u'administrative_area': None, u'city': u'Ball...",False,"{u'code': u'USD', u'name': u'US Dollar', u'cou...",en,NaN,a1anm,0.0,1.229565e+09,"December, 2008","{u'user_id': 897638, u'last3months': {u'comple...",1.0,"{u'payment_verified': True, u'identity_verifie...",NaN,"{u'country': u'UK', u'offset': 1, u'id': 262, ...",a1anm,A1anm,5.0,[],[],[],[],[],False,[],0.0,897638.0
1,a1myspace,male,unknow,e,ce,a,a1,9,0.444444,0.111111,True,True,False,False,1,0,False,2.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,7.0,0.0,7.0,0.0,8.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,2.0,8.0,/img/unknown.png,//cdn6.f-cdn.com/img/unknown.png,/img/unknown.png,//cdn6.f-cdn.com/img/unknown.png,3.0,a1myspace,None,{u'current_image': {u'url': u'//cdn2.f-cdn.com...,a1myspace,None,223120.0,"{u'administrative_area': None, u'city': u'Turr...",False,"{u'code': u'USD', u'name': u'US Dollar', u'cou...",en,NaN,a1myspace,0.0,1.151814e+09,"July, 2006","{u'user_id': 223120, u'last3months': {u'comple...",1.0,"{u'payment_verified': False, u'identity_verifi...",NaN,"{u'country': u'AU', u'offset': 10, u'id': 422,...",a1myspace,A1myspace,10.0,[],[],[],[],[],False,"[{u'usages': 0, u'seo_url': u'php', u'islocal'...",660.0,223120.0
2,a1xdotcom,male,female,m,om,a,a1,9,0.333333,0.111111,False,True,False,False,1,0,False,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,2.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,6.0,3.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,12.0,14.0,8.0,/img/unknown.png,//cdn6.f-cdn.com/img/unknown.png,/img/unknown.png,//cdn6.f-cdn.com/img/unknown.png,3.0,A1x.com,None,{u'current_image': {u'url': u'//cdn2.f-cdn.com...,a1xdotcom,None,1765704.0,"{u'administrative_area': None, u'city': u'Litt...",False,"{u'code': u'USD', u'name': u'US Dollar', u'cou...",en,NaN,a1xdotcom,0.0,1.282742e+09,"August, 2010","{u'user_id': 1765704, u'last3months': {u'compl...",1.0,"{u'payment_verified': False, u'identity_verifi...",NaN,"{u'country': u'US', u'offset': -5, u'id': 81, ...",a1xdotcom,A1xdotcom,20.0,[],[],[],[],[],False,[],-300.0,1765704.0

In [126]:
# df.shape
df[df.duplicated()].shape

(12665, 785)

In [134]:
# df['username'].value_counts().head()

In [135]:
# df[df['username']=='topfreelance']

In [136]:
# df[df.duplicated(keep='first')].equals(df[df.duplicated(keep='last')])

In [138]:
%%time
df = df[~df.duplicated()]

CPU times: user 534 ms, sys: 90 ms, total: 624 ms
Wall time: 622 ms

In [62]:
df.columns[-40:]

Index([u'feature_728', u'feature_729', u'feature_730', u'about.avatar',
       u'about.avatar_cdn', u'about.avatar_large', u'about.avatar_large_cdn',
       u'about.chosen_role', u'about.company', u'about.corporate',
       u'about.cover_image', u'about.display_name', u'about.hourly_rate',
       u'about.id', u'about.location', u'about.preferred_freelancer',
       u'about.primary_currency', u'about.primary_language',
       u'about.profile_description', u'about.public_name',
       u'about.recommendations', u'about.registration_date',
       u'about.registration_date_human', u'about.reputation', u'about.role',
       u'about.status', u'about.tagline', u'about.timezone', u'about.username',
       u'about.username_sentence', u'hourlyRate', u'resume.certifications',
       u'resume.education', u'resume.exams', u'resume.experience',
       u'resume.publications', u'resume.show', u'skills', u'timeOffset',
       u'userId'],
      dtype='object')

In [139]:
df1 = df.drop(['about.avatar', u'about.avatar_cdn', u'about.avatar_large',
       u'about.avatar_large_cdn', u'about.cover_image', u'about.id', u'userId',
                'about.corporate', 'about.preferred_freelancer', 
                ], axis=1)

In [140]:
df1['Month'] = df1['about.registration_date_human'].fillna('NoMn, NoYr').apply(lambda x: x.split(',')[0] )
df1['Year'] = df1['about.registration_date_human'].fillna('NoMn, NoYr').apply(lambda x: x.split(',')[1] )
df1['desc_len'] = df1['about.profile_description'].apply(lambda x: len(str(x).strip()))
# df1['about.location'] = df1['about.location'].fillna("")

In [141]:
df1.head()

,username,fname.gender,username_split_predict,last,last_two,first,first2,nchar,vowels.pct,digits.pct,last_is_vowel,first_is_vowel,last_is_digit,first_is_digit,digits.num,upper.pct,first_is_upper,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,feature_10,feature_11,feature_12,feature_13,feature_14,feature_15,feature_16,feature_17,feature_18,feature_19,feature_20,feature_21,feature_22,feature_23,feature_24,feature_25,feature_26,feature_27,feature_28,feature_29,feature_30,feature_31,feature_32,...,feature_712,feature_713,feature_714,feature_715,feature_716,feature_717,feature_718,feature_719,feature_720,feature_721,feature_722,feature_723,feature_724,feature_725,feature_726,feature_727,feature_728,feature_729,feature_730,about.chosen_role,about.company,about.display_name,about.hourly_rate,about.location,about.primary_currency,about.primary_language,about.profile_description,about.public_name,about.recommendations,about.registration_date,about.registration_date_human,about.reputation,about.role,about.status,about.tagline,about.timezone,about.username,about.username_sentence,hourlyRate,resume.certifications,resume.education,resume.exams,resume.experience,resume.publications,resume.show,skills,timeOffset,Month,Year,desc_len
0,a1anm,male,male,m,nm,a,a1,5,0.400000,0.200000,False,True,False,False,1,0,False,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,12.0,13.0,4.0,3.0,NaN,a1anm,None,"{u'administrative_area': None, u'city': u'Ball...","{u'code': u'USD', u'name': u'US Dollar', u'cou...",en,NaN,a1anm,0.0,1.229565e+09,"December, 2008","{u'user_id': 897638, u'last3months': {u'comple...",1.0,"{u'payment_verified': True, u'identity_verifie...",NaN,"{u'country': u'UK', u'offset': 1, u'id': 262, ...",a1anm,A1anm,5.0,[],[],[],[],[],False,[],0.0,December,2008,3
1,a1myspace,male,unknow,e,ce,a,a1,9,0.444444,0.111111,True,True,False,False,1,0,False,2.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,7.0,0.0,7.0,0.0,8.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,2.0,8.0,3.0,a1myspace,a1myspace,None,"{u'administrative_area': None, u'city': u'Turr...","{u'code': u'USD', u'name': u'US Dollar', u'cou...",en,NaN,a1myspace,0.0,1.151814e+09,"July, 2006","{u'user_id': 223120, u'last3months': {u'comple...",1.0,"{u'payment_verified': False, u'identity_verifi...",NaN,"{u'country': u'AU', u'offset': 10, u'id': 422,...",a1myspace,A1myspace,10.0,[],[],[],[],[],False,"[{u'usages': 0, u'seo_url': u'php', u'islocal'...",660.0,July,2006,3
2,a1xdotcom,male,female,m,om,a,a1,9,0.333333,0.111111,False,True,False,False,1,0,False,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,2.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,6.0,3.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,12.0,14.0,8.0,3.0,A1x.com,a1xdotcom,None,"{u'administrative_area': None, u'city': u'Litt...","{u'code': u'USD', u'name': u'US Dollar', u'cou...",en,NaN,a1xdotcom,0.0,1.282742e+09,"August, 2010","{u'user_id': 1765704, u'last3months': {u'compl...",1.0,"{u'payment_verified': False, u'identity_verifi...",NaN,"{u'country': u'US', u'offset': -5, u'id': 81, ...",a1xdotcom,A1xdotcom,20.0,[],[],[],[],[],False,[],-300.0,August,2010,3
3,a20ten,male,unknow,n,en,a,a2,6,0.333333,0.333333,False,True,False,False,2,0,False,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,3.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,13.0,4.0,4.0,2.0,a8 group,a20ten,None,"{u'administrative_area': None, u'city': u'New ...","{u'code': u'USD', u'name': u'US Dollar', u'cou...",en,NaN,a20ten,0.0,1.269115e+09,"March, 2010","{u'user_id': 1468612, u'last3months': {u'compl...",1.0,"{u'payment_verified': False, u'identity_verifi...",NaN,"{u'country': u'US', u'offset': -4, u'id': 120,...",a20ten,A20ten,9.0,[],[],[],[],[],False,[],-240.0,March,2010,3
4,a2textbooks,male,unknow,s,ks,a,a2,11,0.363636,0.090909,False,True,False,False,1,0,False,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,1.0,2.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,6.0,0.0,0.0,3.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,18.0,10.0,10.0,2.0,NaN,a2textbooks,None,"{u'administrative_area': None, u'city': u'Ann ...","{u'code': u'USD', u'name': u'US Dollar', u'cou...",en,NaN,a2textbooks,0.0,1.274916e+09,"May, 2010","{u'user_id': 1588938, u'last3months': {u'compl...",1.0,"{u'payment_verified': False, u'identity_verifi...",NaN,"{u'country': u'US', u'offset': -4, u'id': 120,...",a2textbooks,A2textbooks,5.0,[],[],[],[],[],False,[],-240.0,May,2010,3

In [65]:
df2 = df1.drop(['about.registration_date_human','about.profile_description'], axis=1)
df2.shape

(46022, 777)

In [8]:
def flatten_dict(data, layers=2, drop_deeper=True):

        for _ in range(layers):
            data = [(k, v) if not isinstance(v, dict) else [(k + '_' + k2, v2) for k2, v2 in v.items()] for k, v in
                    data.items()]
            data = [item for sublist in data for item in sublist if isinstance(sublist, list)] + [y for y in data if
                                                                                                  not isinstance(y,
                                                                                                                 list)]
            data = dict(data)

        if drop_deeper:
            data = {k: v for k, v in data.items() if not isinstance(v, dict) or isinstance(v, list)}

        return data
    
def mapping(x):
    if type(x)==str:
        
        try:
            tmp = flatten_dict(literal_eval(x))
        except:
            tmp=None
    else:
        tmp=x
    return tmp

def retrieve(field, df=df):
    one = df[field].apply(mapping)
    two = pd.DataFrame.from_dict(one.to_dict())
    three = two.transpose()
    return three

In [9]:
df2.head(1)

,username,fname.gender,username_split_predict,last,last_two,first,first2,nchar,vowels.pct,digits.pct,last_is_vowel,first_is_vowel,last_is_digit,first_is_digit,digits.num,upper.pct,first_is_upper,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,feature_10,feature_11,feature_12,feature_13,feature_14,feature_15,feature_16,feature_17,feature_18,feature_19,feature_20,feature_21,feature_22,feature_23,feature_24,feature_25,feature_26,feature_27,feature_28,feature_29,feature_30,feature_31,feature_32,...,feature_710,feature_711,feature_712,feature_713,feature_714,feature_715,feature_716,feature_717,feature_718,feature_719,feature_720,feature_721,feature_722,feature_723,feature_724,feature_725,feature_726,feature_727,feature_728,feature_729,feature_730,about.chosen_role,about.company,about.display_name,about.hourly_rate,about.location,about.primary_currency,about.primary_language,about.public_name,about.recommendations,about.registration_date,about.reputation,about.role,about.status,about.tagline,about.timezone,about.username,about.username_sentence,hourlyRate,resume.certifications,resume.education,resume.exams,resume.experience,resume.publications,resume.show,skills,timeOffset,Month,Year,desc_len
0,a1anm,male,male,m,nm,a,a1,5,0.4,0.2,False,True,False,False,1,0,False,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,12.0,13.0,4.0,3.0,NaN,a1anm,None,"{u'administrative_area': None, u'city': u'Ball...","{u'code': u'USD', u'name': u'US Dollar', u'cou...",en,a1anm,0.0,1.229565e+09,"{u'user_id': 897638, u'last3months': {u'comple...",1.0,"{u'payment_verified': True, u'identity_verifie...",NaN,"{u'country': u'UK', u'offset': 1, u'id': 262, ...",a1anm,A1anm,5.0,[],[],[],[],[],False,[],0.0,December,2008,3

In [10]:
df2.columns[-30:]

Index([u'feature_730', u'about.chosen_role', u'about.company',
       u'about.display_name', u'about.hourly_rate', u'about.location',
       u'about.primary_currency', u'about.primary_language',
       u'about.public_name', u'about.recommendations',
       u'about.registration_date', u'about.reputation', u'about.role',
       u'about.status', u'about.tagline', u'about.timezone', u'about.username',
       u'about.username_sentence', u'hourlyRate', u'resume.certifications',
       u'resume.education', u'resume.exams', u'resume.experience',
       u'resume.publications', u'resume.show', u'skills', u'timeOffset',
       u'Month', u'Year', u'desc_len'],
      dtype='object')

### location

In [11]:
%%time
location = retrieve('about.location')
print location.shape

(46022, 22)
CPU times: user 7.92 s, sys: 75 ms, total: 8 s
Wall time: 7.96 s

In [12]:
location.columns=map(lambda x: str(x)+'_3',location.columns)

In [13]:
location.head()

,administrative_area_3,city_3,country_code_3,country_demonym_3,country_flag_class_3,country_flag_url_3,country_flag_url_cdn_3,country_highres_flag_url_3,country_highres_flag_url_cdn_3,country_iso3_3,country_language_code_3,country_language_id_3,country_name_3,country_person_3,country_phone_code_3,country_region_id_3,country_sanction_3,country_seo_url_3,full_address_3,latitude_3,longitude_3,vicinity_3
0,None,Ballymena,gb,None,united-kingdom,/img/flags/png/gb.png,//cdn6.f-cdn.com/img/flags/png/gb.png,/img/flags/highres_png/united-kingdom.png,//cdn5.f-cdn.com/img/flags/highres_png/united-...,None,None,None,United Kingdom,None,None,None,None,None,None,None,None,None
1,None,Turramurra,au,None,australia,/img/flags/png/au.png,//cdn5.f-cdn.com/img/flags/png/au.png,/img/flags/highres_png/australia.png,//cdn5.f-cdn.com/img/flags/highres_png/austral...,None,None,None,Australia,None,None,None,None,None,None,None,None,None
2,None,Littleton,us,None,united-states,/img/flags/png/us.png,//cdn3.f-cdn.com/img/flags/png/us.png,/img/flags/highres_png/united-states.png,//cdn6.f-cdn.com/img/flags/highres_png/united-...,None,None,None,United States,None,None,None,None,None,None,None,None,None
3,None,New York,us,None,united-states,/img/flags/png/us.png,//cdn3.f-cdn.com/img/flags/png/us.png,/img/flags/highres_png/united-states.png,//cdn6.f-cdn.com/img/flags/highres_png/united-...,None,None,None,United States,None,None,None,None,None,None,None,None,None
4,None,Ann Arbor,us,None,united-states,/img/flags/png/us.png,//cdn3.f-cdn.com/img/flags/png/us.png,/img/flags/highres_png/united-states.png,//cdn6.f-cdn.com/img/flags/highres_png/united-...,None,None,None,United States,None,None,None,None,None,None,None,None,None

### primary_currency

In [14]:
%%time
curr = retrieve('about.primary_currency')
print curr.shape

(46022, 6)
CPU times: user 3.76 s, sys: 14 ms, total: 3.78 s
Wall time: 3.76 s

In [15]:
curr.columns=map(lambda x: str(x)+'_2',curr.columns)

In [16]:
curr.head()

  code_2 country_2 exchange_rate_2 id_2     name_2 sign_2
0    USD        US               1    1  US Dollar      $
1    USD        US               1    1  US Dollar      $
2    USD        US               1    1  US Dollar      $
3    USD        US               1    1  US Dollar      $
4    USD        US               1    1  US Dollar      $

### reputation

In [17]:
%%time
repu = retrieve('about.reputation')
print repu.shape

(46022, 65)
CPU times: user 20.7 s, sys: 172 ms, total: 20.9 s
Wall time: 20.8 s

In [18]:
repu.columns=map(lambda x: str(x)+'_4',repu.columns)

In [19]:
repu.head()

,earnings_score_4,entire_history_all_4,entire_history_category_ratings_communication_4,entire_history_category_ratings_expertise_4,entire_history_category_ratings_hire_again_4,entire_history_category_ratings_professionalism_4,entire_history_category_ratings_quality_4,entire_history_complete_4,entire_history_completion_rate_4,entire_history_earnings_4,entire_history_incomplete_4,entire_history_incomplete_reviews_4,entire_history_on_budget_4,entire_history_on_time_4,entire_history_overall_4,entire_history_positive_4,entire_history_rehire_rate_4,entire_history_reviews_4,job_history_count_other_4,job_history_job_counts_4,last12months_all_4,last12months_category_ratings_communication_4,last12months_category_ratings_expertise_4,last12months_category_ratings_hire_again_4,last12months_category_ratings_professionalism_4,last12months_category_ratings_quality_4,last12months_complete_4,last12months_completion_rate_4,last12months_earnings_4,last12months_incomplete_4,last12months_incomplete_reviews_4,last12months_on_budget_4,last12months_on_time_4,last12months_overall_4,last12months_positive_4,last12months_rehire_rate_4,last12months_reviews_4,last3months_all_4,last3months_category_ratings_communication_4,last3months_category_ratings_expertise_4,last3months_category_ratings_hire_again_4,last3months_category_ratings_professionalism_4,last3months_category_ratings_quality_4,last3months_complete_4,last3months_completion_rate_4,last3months_earnings_4,last3months_incomplete_4,last3months_incomplete_reviews_4,last3months_on_budget_4,last3months_on_time_4,last3months_overall_4,last3months_positive_4,last3months_rehire_rate_4,last3months_reviews_4,project_stats_4,role_4,summary_completion_rate_4,summary_earnings_score_4,summary_earnings_score_pc_4,summary_on_budget_4,summary_on_time_4,summary_rating_score_4,summary_rehire_rate_4,summary_reviews_4,user_id_4
0,0,0,0,0,0,0,0,0,0,None,0,0,0,0,0,0,0,0,0,[],0,0,0,0,0,0,0,0,None,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,None,0,0,0,0,0,0,0,0,None,0,N/A,0.0,0,N/A,N/A,0.0,N/A,0,897638
1,0,0,0,0,0,0,0,0,0,None,0,0,0,0,0,0,0,0,0,[],0,0,0,0,0,0,0,0,None,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,None,0,0,0,0,0,0,0,0,None,0,N/A,0.0,0,N/A,N/A,0.0,N/A,0,223120
2,0,0,0,0,0,0,0,0,0,None,0,0,0,0,0,0,0,0,0,[],0,0,0,0,0,0,0,0,None,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,None,0,0,0,0,0,0,0,0,None,0,N/A,0.0,0,N/A,N/A,0.0,N/A,0,1765704
3,0,0,0,0,0,0,0,0,0,None,0,0,0,0,0,0,0,0,0,[],0,0,0,0,0,0,0,0,None,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,None,0,0,0,0,0,0,0,0,None,0,N/A,0.0,0,N/A,N/A,0.0,N/A,0,1468612
4,0,0,0,0,0,0,0,0,0,None,0,0,0,0,0,0,0,0,0,[],0,0,0,0,0,0,0,0,None,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,None,0,0,0,0,0,0,0,0,None,0,N/A,0.0,0,N/A,N/A,0.0,N/A,0,1588938

### status

In [20]:
%%time
stat = retrieve('about.status')
print stat.shape

(46022, 7)
CPU times: user 3.76 s, sys: 16 ms, total: 3.78 s
Wall time: 3.75 s

In [21]:
stat.head()

,deposit_made,email_verified,facebook_connected,identity_verified,payment_verified,phone_verified,profile_complete
0,True,True,False,False,True,False,True
1,True,True,False,False,False,False,True
2,True,True,False,False,False,False,False
3,True,True,False,False,False,False,True
4,True,True,False,False,False,False,True

### timezone

In [22]:
%%time
timezone = retrieve('about.timezone')
print timezone.shape

(46022, 4)
CPU times: user 3.43 s, sys: 16 ms, total: 3.45 s
Wall time: 3.43 s

In [23]:
timezone.columns=map(lambda x: str(x)+'_5',timezone.columns)

In [24]:
timezone.head()

  country_5 id_5 offset_5        timezone_5
0        UK  262        1     Europe/London
1        AU  422       10  Australia/Sydney
2        US   81       -5   America/Chicago
3        US  120       -4  America/New_York
4        US  120       -4  America/New_York

### list length

In [25]:
df2.head(1).iloc[:,-15:]

,about.timezone,about.username,about.username_sentence,hourlyRate,resume.certifications,resume.education,resume.exams,resume.experience,resume.publications,resume.show,skills,timeOffset,Month,Year,desc_len
0,"{u'country': u'UK', u'offset': 1, u'id': 262, ...",a1anm,A1anm,5.0,[],[],[],[],[],False,[],0.0,December,2008,3

In [26]:
lists=[
'resume.certifications',
'resume.education',
'resume.exams',
'resume.experience',
'resume.publications',
'skills']

In [27]:
def helperLen(x):
    try:
        return len(literal_eval(x))
    except:
        return 0

In [28]:
%%time
for i in lists:
    df2[i+'_len']=df[i].apply(helperLen)

CPU times: user 6.23 s, sys: 13 ms, total: 6.25 s
Wall time: 6.22 s

In [31]:
df3 = df2.drop(lists+['about.location','about.primary_currency','about.reputation','about.status','about.timezone'], axis=1)
df3.shape

(46022, 772)

In [32]:
df3.head()

,username,fname.gender,username_split_predict,last,last_two,first,first2,nchar,vowels.pct,digits.pct,last_is_vowel,first_is_vowel,last_is_digit,first_is_digit,digits.num,upper.pct,first_is_upper,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,feature_10,feature_11,feature_12,feature_13,feature_14,feature_15,feature_16,feature_17,feature_18,feature_19,feature_20,feature_21,feature_22,feature_23,feature_24,feature_25,feature_26,feature_27,feature_28,feature_29,feature_30,feature_31,feature_32,...,feature_705,feature_706,feature_707,feature_708,feature_709,feature_710,feature_711,feature_712,feature_713,feature_714,feature_715,feature_716,feature_717,feature_718,feature_719,feature_720,feature_721,feature_722,feature_723,feature_724,feature_725,feature_726,feature_727,feature_728,feature_729,feature_730,about.chosen_role,about.company,about.display_name,about.hourly_rate,about.primary_language,about.public_name,about.recommendations,about.registration_date,about.role,about.tagline,about.username,about.username_sentence,hourlyRate,resume.show,timeOffset,Month,Year,desc_len,resume.certifications_len,resume.education_len,resume.exams_len,resume.experience_len,resume.publications_len,skills_len
0,a1anm,male,male,m,nm,a,a1,5,0.400000,0.200000,False,True,False,False,1,0,False,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,12.0,13.0,4.0,3.0,NaN,a1anm,None,en,a1anm,0.0,1.229565e+09,1.0,NaN,a1anm,A1anm,5.0,False,0.0,December,2008,3,0,0,0,0,0,0
1,a1myspace,male,unknow,e,ce,a,a1,9,0.444444,0.111111,True,True,False,False,1,0,False,2.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,7.0,0.0,7.0,0.0,8.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,2.0,8.0,3.0,a1myspace,a1myspace,None,en,a1myspace,0.0,1.151814e+09,1.0,NaN,a1myspace,A1myspace,10.0,False,660.0,July,2006,3,0,0,0,0,0,2
2,a1xdotcom,male,female,m,om,a,a1,9,0.333333,0.111111,False,True,False,False,1,0,False,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,2.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,6.0,3.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,12.0,14.0,8.0,3.0,A1x.com,a1xdotcom,None,en,a1xdotcom,0.0,1.282742e+09,1.0,NaN,a1xdotcom,A1xdotcom,20.0,False,-300.0,August,2010,3,0,0,0,0,0,0
3,a20ten,male,unknow,n,en,a,a2,6,0.333333,0.333333,False,True,False,False,2,0,False,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,3.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,13.0,4.0,4.0,2.0,a8 group,a20ten,None,en,a20ten,0.0,1.269115e+09,1.0,NaN,a20ten,A20ten,9.0,False,-240.0,March,2010,3,0,0,0,0,0,0
4,a2textbooks,male,unknow,s,ks,a,a2,11,0.363636,0.090909,False,True,False,False,1,0,False,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,1.0,2.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,6.0,0.0,0.0,3.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,18.0,10.0,10.0,2.0,NaN,a2textbooks,None,en,a2textbooks,0.0,1.274916e+09,1.0,NaN,a2textbooks,A2textbooks,5.0,False,-240.0,May,2010,3,0,0,0,0,0,0

In [33]:
df7 = pd.concat([df3, location, curr, repu, stat, timezone], axis=1)
df7.shape

(46022, 876)

In [36]:
df7.to_csv('./goden_full_prepared.csv',index=False, encoding='utf-8')

In [72]:
# list(df7.columns)

In [68]:
len(df7['id_5'].unique())

271

In [69]:
len(df7['id_2'].unique())

24

In [58]:
len(df7['username'].unique())

32937

In [119]:
df7 = df7.drop('user_id_4', axis=1)

ValueError: labels ['user_id_4'] not contained in axis

In [120]:
df7.to_csv('golden_training.csv', index=False, encoding='utf-8')

### label encoding

In [105]:
df7 = pd.read_csv('./golden_training.csv')

In [106]:
names =['about.username_sentence','about.username', 'about.display_name','about.public_name']

In [107]:
# list(df7.columns)

In [108]:
import wordninja
import gender_guesser.detector as gender
d = gender.Detector(case_sensitive=False)

def helper(X):
    tmp = list(map(d.get_gender, X))
    tmp = [i for i in tmp if i!='unknown']
    try:
        tmp[0]
        if len(tmp)>1:
            m=0
            f=0
            for i in tmp:
                if i in ['male','mostly_male','andy']:
                    m+=1
                elif i in ['female','mostly_female']:
                    f+=1
            # change here
            if m>f:
                return 'male'
            else:
                return 'female'
        else:
            if tmp[0] in ['male','mostly_male','andy']:
                    return 'male'
            else:
                return 'female'
    except:
        return 'unknow'

In [110]:
def pred_spl(col, df=df7):
    df['pred_'+col]=df[col].apply(lambda x: ''.join([i for i in str(x) if i.isdigit()==False])).\
    apply(lambda x: wordninja.split(str(x).lower())).apply(helper)
    df = df.drop(col, axis=1)

In [111]:
%%time
for i in names:
    pred_spl(i)

CPU times: user 7.91 s, sys: 218 ms, total: 8.13 s
Wall time: 8.12 s

In [117]:
df7.shape

(46022, 879)

In [118]:
df7 = df[~df7['username'].isnull()]

In [38]:
%%time
# Encoding the Independent Variable
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

for i in range(5):
    i=str(i)
    exec("labelencoder_X_{} = LabelEncoder()".format(i))
    exec("X[:, {}] = labelencoder_X_{}.fit_transform(X[:, {}])".format(i,i,i))

XX=X.copy()

username                             object
fname.gender                         object
username_split_predict               object
last                                 object
last_two                             object
first                                object
first2                               object
nchar                                 int64
vowels.pct                          float64
digits.pct                          float64
last_is_vowel                          bool
first_is_vowel                         bool
last_is_digit                          bool
first_is_digit                         bool
digits.num                            int64
upper.pct                             int64
first_is_upper                         bool
feature_0                           float64
feature_1                           float64
feature_2                           float64
feature_3                           float64
feature_4                           float64
feature_5                           float64
feature_6                           float64
feature_7                           float64
feature_8                           float64
feature_9                           float64
feature_10                          float64
feature_11                          float64
feature_12                          float64
                                     ...
last3months_incomplete_4             object
last3months_incomplete_reviews_4     object
last3months_on_budget_4              object
last3months_on_time_4                object
last3months_overall_4                object
last3months_positive_4               object
last3months_rehire_rate_4            object
last3months_reviews_4                object
project_stats_4                      object
role_4                               object
summary_completion_rate_4            object
summary_earnings_score_4             object
summary_earnings_score_pc_4          object
summary_on_budget_4                  object
summary_on_time_4                    object
summary_rating_score_4               object
summary_rehire_rate_4                object
summary_reviews_4                    object
user_id_4                            object
deposit_made                         object
email_verified                       object
facebook_connected                   object
identity_verified                    object
payment_verified                     object
phone_verified                       object
profile_complete                     object
country_5                            object
id_5                                 object
offset_5                             object
timezone_5                           object
Length: 876, dtype: object