In [2]:
# import sys
# reload(sys)
# sys.setdefaultencoding('utf8')

import os
import pandas as pd
from time import ctime
from lxml import etree
import requests
os.chdir('/home/shj16110/weekly/')

In [3]:
df = pd.read_csv('./users.gender.golden.csv')
df.shape

(121335, 9)

In [4]:
len(df['user_id'].unique())

119819

In [16]:
folder = "Golden_cookie_htmls/"
data = os.listdir(folder)
len(data),len(set(data))

(119819, 119819)

In [25]:
%%time
stat=[]
for i in data:
    if os.path.getsize(folder+i)==0:
        stat.append(i)
print len(stat)

0
CPU times: user 643 ms, sys: 1.92 s, total: 2.56 s
Wall time: 39.4 s

In [27]:
stat

[]

In [28]:
len(data)

119819

In [72]:
s4 = pd.read_csv('./id_username_4sets.csv')
s4.shape

(162646, 2)

In [31]:
df2=pd.DataFrame(data, columns=['username'])
df2.shape

(119819, 1)

In [42]:
df2['username'].str.endswith('html').sum()

119819

In [73]:
s4.head()

           path     username
0  9969021.html   mazennaief
1  8199819.html      nicksal
2  2841583.html  yediyazilim
3   547951.html    vivek2156
4  6961473.html  hozefasaleh

In [46]:
df2.head()

          username
0    RRPteLtd.html
1    techit99.html
2  tsoutsoune.html
3  usawilson1.html
4    georgemd.html

In [49]:
df3=df2['username'].str[:-5]
df3.shape

(119819,)

In [78]:
s4 =s4.dropna()

In [79]:
both = (set(df3) | set(s4['username']))
len(both)

208034

In [80]:
new =  (set(df3) - set(s4['username']))
len(new)

45389

In [90]:
pd.DataFrame(list(both),columns=['username'])['username'].str.lower().value_counts().head()

nadasol          2
anisinfotech     2
dotcommakers     2
pmitchum         1
consolewizard    1
Name: username, dtype: int64

In [93]:
folder

'Golden_cookie_htmls/'

In [98]:
list(new)[:3]

['shamsher295', 'thesponsor', 'AbidButt']

In [99]:
n=0
collect3=[]
failed3=[]


for i in list(new)[:10]:
    n+=1
    if n%2000==0 or n==1:
        print ctime(), ': processed', n
    
    with open(folder+i+'.html','r') as fl:
        text=fl.read()
        tree=etree.HTML(text)
    try:
        collect3.append([i, tree.xpath('//div[@class="profile-user-name"]/text()')[0].strip()[1:]])
    except Exception as e:
        failed3.append(i)

Sun Dec 17 00:22:26 2017 : processed 1

In [103]:
i

'hermant'

In [107]:
df7 = pd.DataFrame(list(both),columns=['ori_username'])
df7['username']=df7['ori_username'].str.lower()
df7.shape

(208034, 2)

In [115]:
df9 = df7.loc[df7['username'].drop_duplicates().index,:]
df9.shape

(208031, 2)

In [118]:
os.chdir('../notebook/5Dec2017/')

In [119]:
df9.to_csv('Final_combine_username.csv', index=False)