In [1]:
import pandas as pd
import os
from time import ctime, time
%matplotlib inline
import seaborn as sns

In [2]:
!ls -lh|grep csv

-rw-r--r-- 1 soyoung soyoung 353M Oct 13 11:30 bidStat.csv
-rw-rw-r-- 1 soyoung soyoung 457M Oct 16 07:37 bidder.pm.csv
-rw-r--r-- 1 soyoung soyoung 140M Oct 13 11:34 empStat.csv
-rw-rw-r-- 1 soyoung soyoung 136M Oct 16 07:38 employer.pm.csv
-rw-rw-r-- 1 soyoung soyoung 652M Oct 14 08:59 project_pm.csv

In [5]:
# %%time
!wc bidder.pm.csv

  9778518  73290631 478337366 bidder.pm.csv

 115839309  
 
 812671165 5548521598 bidders_pm.csv
CPU times: user 1.02 s, sys: 120 ms, total: 1.14 s
Wall time: 43.8 s

In [4]:
# %%time
# !wc employers_pm.csv

  31812578  
  
  262127634 1697945273 
  
  employers_pm.csv CPU times: user 300 ms, sys: 28 ms, total: 328 ms
Wall time: 12.8 s

In [5]:
# conn = pd.read_csv('bidders_pm.csv', chunksize=10000, iterator=True)
# bid = conn.get_chunk()
# conn.close()

In [6]:
# conn = pd.read_csv('employers_pm.csv', chunksize=10000, iterator=True)
# emp = conn.get_chunk()
# conn.close()

In [6]:
%%time
bid = pd.read_csv('bidder.pm.csv')
print bid.shape

(390590, 4)
CPU times: user 6.05 s, sys: 224 ms, total: 6.27 s
Wall time: 6.6 s

In [2]:
%%time
emp = pd.read_csv('employers_pm.csv')
print emp.shape

(3529065, 5)
CPU times: user 20.6 s, sys: 968 ms, total: 21.6 s
Wall time: 23.2 s

In [ ]:
# emp

In [7]:
bid.head()

      pid     eid      bid                                               text
0  183235  342969   267948  Hi, My name is Rakesh Nanda from India. To kno...
1  183235  342969  1274314  hello\r\\r\n\r\\r\ninterested to be a part of ...
2  183235  342969  1297670  Hi,\r\\r\n\r\\r\nCan you pay via GAF, as I do ...
3  183235  342969  1394125  From the name of &quot;ALLAH&quot; the most me...
4  183235  342969  1413909  Sir,\r\\r\nAs an Retd Sr Executive &amp; also ...

In [8]:
# bid.any(1).isnull().sum()

In [10]:
bid['text'].isnull().sum()

0

In [11]:
# bid['pmb_submit_time'].max()

In [12]:
# bid['pmb_submit_time'].min()

In [13]:
# bid['bidder_id'].value_counts()

In [13]:
def time_helper(x):
    try:
        return str(x).split()[0]
    except:
        pass

In [26]:
bid['date'] = bid['pmb_submit_time'].apply(time_helper)
bid.shape

(8535147, 6)

In [30]:
bid['date'].min()

'2004-02-10'

In [31]:
bid['date'].max()

'nan'

In [113]:
# bid['date'].value_counts()

In [52]:
date_stat = bid['date'].value_counts()

In [59]:
date_stat.head()

2010-05-11    18406
2010-03-10    17951
2010-05-04    17896
2010-05-10    17807
2010-04-13    17316
Name: date, dtype: int64

In [62]:
date_stat = bid['date'].value_counts()
dating = pd.DataFrame(date_stat)
dating.columns=['count']
dating.head()

            count
2010-05-11  18406
2010-03-10  17951
2010-05-04  17896
2010-05-10  17807
2010-04-13  17316

In [106]:
sns.distplot?

In [109]:
# sns.distplot(dating['count'])

In [11]:
import plotly 
plotly.tools.set_credentials_file(username='sayasong23333', api_key='IwV1cnQHZ0Y7eLOIMWXh')

import plotly.plotly as py
import plotly.graph_objs as go

In [111]:
data = [go.Bar(x=dating.index,y=dating['count'], opacity=.6)]

In [112]:
py.iplot(data)

In [115]:
bid.head()

,bidder_id,employer_id,project_id,pmb_submit_time,bidder_chat_text,date
0,63,879721,381063.0,2009-02-05 22:20:34,This is OK with me. You can send these article...,2009-02-05
1,63,879721,381063.0,2009-02-06 01:34:01,I went through your post again. I will select ...,2009-02-06
2,63,879721,381063.0,2009-02-06 03:37:00,Sent one article by email to sendmyarticle at ...,2009-02-06
3,63,879721,381063.0,2009-02-12 00:36:23,So far I have sent 10 test articles to Aaron. ...,2009-02-12
4,63,\N,384787.0,2009-02-13 08:44:56,I have attached a sample rewritten article.,2009-02-13

In [128]:
bid['bidder_id'].value_counts().head(10)

531532    52063
42146     52057
517951    42275
173299    38864
137062    36807
34205     34331
162666    30297
404230    29769
206385    26877
81353     24003
Name: bidder_id, dtype: int64

In [129]:
bid['employer_id'].value_counts().head(10)

\N        286389
531532     19040
415396     12060
137062     10497
459878      9065
495614      8312
156327      6850
104997      6794
96587       5855
998573      5394
Name: employer_id, dtype: int64

In [130]:
bid['project_id'].value_counts().head(10)

608694.0    3476
717814.0    1737
630255.0    1596
643382.0    1378
628784.0    1240
642087.0    1196
642729.0    1177
674020.0    1168
669536.0    1163
681109.0    1133
Name: project_id, dtype: int64

In [133]:
bid[["bidder_id","employer_id","project_id","pmb_submit_time"]].to_csv('bidStat.csv', index=False)

In [134]:
del bid

In [5]:
emp.head()

,employer_id,bidder_id,project_id,pmb_submit_time,employer_chat_text
0,399,123488,596461,2010-01-29 12:48:26,Hi Thank you for your interest in our project....
1,399,179466,596461,2010-01-29 12:48:51,Hi Thank you for your interest in our project....
2,399,817773,596461,2010-01-29 12:49:04,Hi Thank you for your interest in our project....
3,399,1216117,596461,2010-01-29 12:49:14,Hi Thank you for your interest in our project....
4,399,1172063,596461,2010-01-29 12:49:22,Hi Thank you for your interest in our project....

In [4]:
emp[["employer_id","bidder_id","project_id","pmb_submit_time"]].to_csv('empStat.csv', index=False)

In [6]:
emp['employer_id'].value_counts().head(10)

531532     52063
517951     42275
34205      34331
162666     30297
404230     29769
1173169    23414
180840     22337
384779     19953
227927     17949
76295      15564
Name: employer_id, dtype: int64

In [7]:
emp['bidder_id'].value_counts().head(10)

\N        41002
173299     8434
404230     7456
34205      5923
206385     5622
517951     5286
531532     5217
399645     5080
162666     5051
42146      5012
Name: bidder_id, dtype: int64

In [8]:
emp['project_id'].value_counts().head(10)

608694    2947
717814    1584
630255    1240
271683    1216
643382    1214
642729    1005
674020     998
642087     996
618377     874
106812     870
Name: project_id, dtype: int64

In [14]:
emp['date'] = emp['pmb_submit_time'].apply(time_helper)
date_stat = emp['date'].value_counts()
dating = pd.DataFrame(date_stat)
dating.columns=['count']
dating.head()

            count
2010-05-18   8333
2010-03-17   8179
2010-04-26   8179
2010-03-10   8134
2010-05-04   8112

In [15]:
data = [go.Bar(x=dating.index,y=dating['count'], opacity=.6)]
py.iplot(data)