In [2]:
import pandas as pd
import os

In [20]:
!ls

boss1.zip  bossPics  css  html	map.csv  mk_html.ipynb

In [3]:
path='bossPics/'

In [4]:
pc=os.listdir(path)
len(pc)

4205

In [40]:
pd.DataFrame(pc, columns=['name']).to_csv('map.csv', index_label='id')

In [41]:
df=pd.read_csv('map.csv')
df.shape

(4205, 2)

In [42]:
df['id'] = df['id']+1
df.to_csv('map.csv', index=False)

In [43]:
df=pd.read_csv('map.csv')
df.shape

(4205, 2)

In [44]:
df.head()

   id                 name
0   1  1567873_profile.jpg
1   2  1513326_profile.jpg
2   3  1566131_profile.jpg
3   4   631739_profile.jpg
4   5   960145_profile.jpg

In [59]:
pre="""
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>
<h1>{}</h1>
<div class="parent"><ul>"""

In [60]:
post="""</ul>
</div>


</body>
</html>"""

In [61]:
pre.format(str(4))

'\n<!DOCTYPE html>\n<html>\n<head>\n  <link rel="stylesheet" href="css/styles.css">\n</head>\n\n<body>\n<h1>4</h1>\n<div class="parent"><ul>'

In [62]:
# os.mkdir('html')

In [63]:
%%time
content=''
n=0
for i in range(len(df)):
    if i==0 or i%100==0:
        
        if i!=0:
            content+=post
        
            with open('html/{}.html'.format(n),'w') as fh:
                fh.write(content)
        n+=1
        content=''
        content+=pre.format(str(i))
    if i==0:
        content+="<ul>"
        content+="""<li>{}<img src="{}"></li>&emsp;""".format(df.iloc[i,:]['id'], path+df.iloc[i,:]['name'])
    else:
        content+="""<li>{}<img src="{}"></li>&emsp;""".format(df.iloc[i,:]['id'], path+df.iloc[i,:]['name'])
        if i%4==3:
            content+="</ul><ul>"
#     print n

CPU times: user 1.7 s, sys: 8 ms, total: 1.71 s
Wall time: 1.74 s

In [64]:
content

'\n<!DOCTYPE html>\n<html>\n<head>\n  <link rel="stylesheet" href="css/styles.css">\n</head>\n\n<body>\n<h1>4200</h1>\n<div class="parent"><ul><li>4201<img src="bossPics/1384590_profile.jpg"></li>&emsp;<li>4202<img src="bossPics/1511385_profile.jpg"></li>&emsp;<li>4203<img src="bossPics/687403_profile.jpg"></li>&emsp;<li>4204<img src="bossPics/1549390_profile.jpg"></li>&emsp;</ul><ul><li>4205<img src="bossPics/757104_profile.jpg"></li>&emsp;'

In [54]:
df.iloc[0,:]

id                        1
name    1567873_profile.jpg
Name: 0, dtype: object