In [1]:
import pandas as pd
import os

In [2]:
!ls

mk_html_flask.ipynb  mk_html_flask_Newest.ipynb  run.py  static  templates

In [3]:
path='static/bossPics/'
path2='bossPics/'

In [4]:
pc=os.listdir(path)
len(pc)

4205

In [5]:
# pd.DataFrame(pc, columns=['name']).to_csv('map.csv', index_label='id')

In [8]:
df=pd.read_csv('../map.csv')
df.shape

(4205, 2)

In [9]:
# df['id'] = df['id']+1
# df.to_csv('map.csv', index=False)

In [10]:
# df=pd.read_csv('map.csv')
# df.shape

In [11]:
df.head()

   id                 name
0   1  1567873_profile.jpg
1   2  1513326_profile.jpg
2   3  1566131_profile.jpg
3   4   631739_profile.jpg
4   5   960145_profile.jpg

In [28]:
pre="""
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')%s }}">
</head>"""

pre2="""
<body>
<h1>Set {}</h1>
<div class="parent"><ul>"""

In [29]:
pre.format('1')%'2'

'\n<!DOCTYPE html>\n<html>\n<head>\n  <link rel="stylesheet" href="{ url_for(\'static\', filename=\'css/styles.css\')2 }">\n</head>'

In [30]:
post="""</ul>
</div>


</body>
</html>"""

In [31]:
# pre.format(str(4))

In [32]:
!pwd

/home/iri/pics/Flask

In [33]:
!ls

mk_html_flask_Newest.ipynb  mk_index.ipynb  run.py  static  templates

In [34]:
try:
    os.mkdir('templates/html')
except Exception as e:
    print e

[Errno 17] File exists: 'templates/html'

In [35]:
target = 'templates/html/'

In [36]:
static="""{{ url_for('static', filename='%s') }}"""%path2
static

"{{ url_for('static', filename='bossPics/') }}"

In [42]:
%%time
content=''
n=0
for i in range(len(df)):
    if i==0 or i%100==0:
        
        if i!=0:
            content+=post
        
            with open(target+'{}.html'.format(n),'w') as fh:
                fh.write(content)
        n+=1
        content=''
        content+=pre%''+pre2.format(str(n))
    if i==0:
        content+="<ul>"
        content+="""<li>{}""".format(df.iloc[i,:]['id'])+"""<img src="{{ url_for('static', filename='%s') }}"></li>&emsp;"""%(path2+df.iloc[i,:]['name'])
    else:
        content+="""<li>{}""".format(df.iloc[i,:]['id'])+"""<img src="{{ url_for('static', filename='%s') }}"></li>&emsp;"""%(path2+df.iloc[i,:]['name'])
        if i%4==3:
            content+="</ul><ul>"
#     print n 

with open(target+'{}.html'.format(n),'w') as fh:
                fh.write(content+post)

CPU times: user 1.66 s, sys: 0 ns, total: 1.66 s
Wall time: 1.67 s

### last

In [43]:
# print content+post

In [27]:
df.iloc[0,:]

id                        1
name    1567873_profile.jpg
Name: 0, dtype: object