In [1]:
import pandas as pd
import os

In [2]:
!ls

mk_html_flask.ipynb  run.py  static  templates

In [4]:
path='static/bossPics/'
path2='bossPics/'

In [5]:
pc=os.listdir(path)
len(pc)

4205

In [6]:
# pd.DataFrame(pc, columns=['name']).to_csv('map.csv', index_label='id')

In [7]:
df=pd.read_csv('../map.csv')
df.shape

(4205, 2)

In [8]:
# df['id'] = df['id']+1
# df.to_csv('map.csv', index=False)

In [9]:
# df=pd.read_csv('map.csv')
# df.shape

In [10]:
df.head()

   id                 name
0   1  1567873_profile.jpg
1   2  1513326_profile.jpg
2   3  1566131_profile.jpg
3   4   631739_profile.jpg
4   5   960145_profile.jpg

In [11]:
pre="""
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>
<h1>Set {}</h1>
<div class="parent"><ul>"""

In [12]:
post="""</ul>
</div>


</body>
</html>"""

In [13]:
# pre.format(str(4))

In [14]:
!pwd

/home/iri/pics/Flask

In [15]:
!ls

mk_html_flask.ipynb  run.py  static  templates

In [16]:
try:
    os.mkdir('templates/html')
except Exception as e:
    print e

[Errno 17] File exists: 'templates/html'

In [17]:
target = 'templates/html/'

In [42]:
static="""{{ url_for('static', filename='{}') }}""".format(path2)
print static

{ url_for('static', filename='bossPics/') }

In [18]:
%%time
content=''
n=0
for i in range(len(df)):
    if i==0 or i%100==0:
        
        if i!=0:
            content+=post
        
            with open(target+'{}.html'.format(n),'w') as fh:
                fh.write(content)
        n+=1
        content=''
        content+=pre.format(str(i))
    if i==0:
        content+="<ul>"
        content+="""<li>{}<img src="{}"></li>&emsp;""".format(df.iloc[i,:]['id'], path+df.iloc[i,:]['name'])
    else:
        content+="""<li>{}<img src="{}"></li>&emsp;""".format(df.iloc[i,:]['id'], path+df.iloc[i,:]['name'])
        if i%4==3:
            content+="</ul><ul>"
#     print n

CPU times: user 1.71 s, sys: 12 ms, total: 1.72 s
Wall time: 1.77 s

In [19]:
content

'\n<!DOCTYPE html>\n<html>\n<head>\n  <link rel="stylesheet" href="css/styles.css">\n</head>\n\n<body>\n<h1>Set 4200</h1>\n<div class="parent"><ul><li>4201<img src="static/bossPics/1384590_profile.jpg"></li>&emsp;<li>4202<img src="static/bossPics/1511385_profile.jpg"></li>&emsp;<li>4203<img src="static/bossPics/687403_profile.jpg"></li>&emsp;<li>4204<img src="static/bossPics/1549390_profile.jpg"></li>&emsp;</ul><ul><li>4205<img src="static/bossPics/757104_profile.jpg"></li>&emsp;'

In [54]:
df.iloc[0,:]

id                        1
name    1567873_profile.jpg
Name: 0, dtype: object