In [1]:
import pandas as pd
import os

In [2]:
!ls

map.csv  mk_html_flask.ipynb  run.py  static  templates  Untitled.ipynb

In [3]:
path='static/bossPics/'
path2='bossPics/'

In [4]:
pc=os.listdir(path)
len(pc)

4205

In [5]:
# pd.DataFrame(pc, columns=['name']).to_csv('map.csv', index_label='id')

In [8]:
df=pd.read_csv('map.csv')
df.shape

(4205, 2)

In [9]:
# df['id'] = df['id']+1
# df.to_csv('map.csv', index=False)

In [10]:
# df=pd.read_csv('map.csv')
# df.shape

In [11]:
df.head()

   id                 name
0   1  1567873_profile.jpg
1   2  1513326_profile.jpg
2   3  1566131_profile.jpg
3   4   631739_profile.jpg
4   5   960145_profile.jpg

In [91]:
pre="""
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')%s }}">
</head>"""

pre2="""
<body>
<h1>Set {}</h1>
<div class="parent">"""

In [89]:
pre.format('1')%'2'

'\n<!DOCTYPE html>\n<html>\n<head>\n  <link rel="stylesheet" href="{ url_for(\'static\', filename=\'css/styles.css\')2 }">\n</head>\n\n<body>\n<h1>Set 1</h1>\n<div class="parent">'

In [63]:
post="""</ul>
</div>


</body>
</html>"""

In [64]:
# pre.format(str(4))

In [65]:
!pwd

/home/flask/Pics

In [66]:
!ls

map.csv  mk_html_flask.ipynb  run.py  static  templates  Untitled.ipynb

In [67]:
try:
    os.mkdir('templates/html')
except Exception as e:
    print e

[Errno 17] File exists: 'templates/html'

In [68]:
target = 'templates/html/'

In [69]:
static="""{{ url_for('static', filename='%s') }}"""%path2
static

"{{ url_for('static', filename='bossPics/') }}"

In [94]:
%%time
content=''
n=0
for i in range(len(df)):
    if i==0 or i%100==0:
        
        if i!=0:
            content+=post
        
            with open(target+'{}.html'.format(n),'w') as fh:
                fh.write(content)
        n+=1
        content=''
        content+=pre%''+pre2.format(str(i))
    if i==0:
        content+="<ul>"
        content+="""<li>{}""".format(df.iloc[i,:]['id'])+"""<img src="{{ url_for('static', filename='%s') }}"></li>&emsp;"""%(path2+df.iloc[i,:]['name'])
    else:
        content+="""<li>{}""".format(df.iloc[i,:]['id'])+"""<img src="{{ url_for('static', filename='%s') }}"></li>&emsp;"""%(path2+df.iloc[i,:]['name'])
        if i%4==3:
            content+="</ul><ul>"
#     print n

CPU times: user 1.49 s, sys: 24 ms, total: 1.52 s
Wall time: 1.49 s

In [95]:
content

'\n<!DOCTYPE html>\n<html>\n<head>\n  <link rel="stylesheet" href="{{ url_for(\'static\', filename=\'css/styles.css\') }}">\n</head>\n<body>\n<h1>Set 4200</h1>\n<div class="parent"><li>4201<img src="{{ url_for(\'static\', filename=\'bossPics/1384590_profile.jpg\') }}"></li>&emsp;<li>4202<img src="{{ url_for(\'static\', filename=\'bossPics/1511385_profile.jpg\') }}"></li>&emsp;<li>4203<img src="{{ url_for(\'static\', filename=\'bossPics/687403_profile.jpg\') }}"></li>&emsp;<li>4204<img src="{{ url_for(\'static\', filename=\'bossPics/1549390_profile.jpg\') }}"></li>&emsp;</ul><ul><li>4205<img src="{{ url_for(\'static\', filename=\'bossPics/757104_profile.jpg\') }}"></li>&emsp;'

In [54]:
df.iloc[0,:]

id                        1
name    1567873_profile.jpg
Name: 0, dtype: object