In [1]:
import pandas as pd
import shutil
import os

### test

In [2]:
path = '/home/soyoung/face/newFlask/static/phos/'
# path = '/home/soyoung/face/Handsome_Pics/handsome/ori/keep/'
path = 'boy/'

In [24]:
# %%time
# df = pd.read_csv('./31_Oct_50W_V5.csv', usecols=['name'])
# print df.shape
# df.head(3)

In [25]:
# df['identify']=df['name'].apply(lambda x: ''.join(x.split('/')[-1].split('.')[:-1]))

In [26]:
# df['name'].apply(lambda x: x.count('.')).value_counts()

In [65]:
# df[df['name'].apply(lambda x: x.count('.'))>1]

In [23]:
# df[df['name'].apply(lambda x: x.find('..jpg')>0)]

In [27]:
# df['identify'].apply(lambda x: x.count('.')).value_counts()

In [28]:
# df.set_index('identify').head()

In [43]:
f = pd.DataFrame(os.listdir(path), columns=['name'])
f.shape

(337905, 1)

In [44]:
f['C']=f['name'].apply(lambda x:x.count('.'))

In [52]:
f['C'].value_counts()

1    330022
2      5960
3       907
0       831
4       146
7        24
5        15
Name: C, dtype: int64

In [55]:
# f[f['C']==0]['name']

ascii    337905
Name: chk, dtype: int64

In [56]:
%%time
fail=[]
for i in f[f['C']==0]['name']:
    try:
        os.remove(path+i)
    except:
        fail.append(i)
print len(fail)

0
Wall time: 149 ms

In [49]:
# %%time
# import chardet
# f['chk'] = f['name'].apply(lambda x: chardet.detect(x)['encoding'])
# print f['chk'].value_counts()

# print f[f['chk']!='ascii']['name'].shape
# %%time
# fail=[]
# for i in f[f['chk']!='ascii']['name']:
#     try:
#         os.remove(path+i)
#     except:
#         fail.append(i)
# print len(fail)

In [61]:
path

'boy/'

In [64]:
os.path.exists(path+'$_1(1).jpg')

True

In [80]:
one = f[f['name'].apply(lambda x:x[-7:]=='(1).jpg')]

In [83]:
%%time
one.loc[:,('dup')]=one['name'].apply(lambda x: os.path.exists(path+x[:-7]+'.jpg'))

Wall time: 2.03 s

In [87]:
one['dup'].sum()

33260

In [88]:
%%time
fail=[]
for i in one[one['dup']]['name']:
    try:
        os.remove(path+i)
    except:
        fail.append(i)
print len(fail)

0
Wall time: 1min 15s

In [34]:
# f[f['C']==0]

In [12]:
f['A']=f['name'].apply(lambda x:x[-5:]=='..jpg')
f['B']=f['name'].apply(lambda x:x[-6:]=='...jpg')

In [13]:
try:
    os.mkdir('delete_boy')
except:
    print 'X'

X

In [14]:
f[f['A']|f['B']].head()

                                                name  C     A      B
0                 UTF-8' '20160214234411_sjVXz...jpg  3  True   True
1                  UTF-8' '20160214234411_sjVXz..jpg  2  True  False
3   UTF-8' '5735405fbb5f429935b70d74c04c8e6b(1).....  3  True   True
4   UTF-8' '5735405fbb5f429935b70d74c04c8e6b(1)..jpg  2  True  False
6     UTF-8' '5735405fbb5f429935b70d74c04c8e6b...jpg  3  True   True

In [15]:
f[f['A']|f['B']].shape

(193934, 4)

In [16]:
for i in f[f['A']|f['B']]['name']:
    print i
    break

 UTF-8' '20160214234411_sjVXz...jpg

In [17]:
# %%time
# fail=[]
# for i in f[f['A']|f['B']]['name']:
#     try:
#         shutil.move(path+i,'delete_boy/')
#     except:
#         fail.append(i)
# print len(fail)

In [20]:
%%time
fail=[]
for i in f[f['A']|f['B']]['name']:
    try:
        os.remove(path+i)
    except:
        fail.append(i)
print len(fail)

0
Wall time: 3min 54s

In [19]:
fail[0]

" UTF-8' '20160214234411_sjVXz...jpg"

In [54]:
a='123456'

In [58]:
a[:-4]

'12'

In [57]:
a[-3:]

'456'

In [60]:
os.rename?

In [1]:
import pandas as pd

In [9]:
pd.DataFrame([(1,2),[3,4],[5,6]], columns=['x','y'])

   x  y
0  1  2
1  3  4
2  5  6

In [8]:
a=[]
a.append([1,2])
a

[[1, 2]]

In [11]:
df = pd.read_csv("./duplicate_['boy'].csv")
df.shape

(43657, 3)

In [17]:
df['file'].value_counts().head()

boy\4354913_906651.jpg                              1
boy\9021746096411051035.jpg                         1
boy\74b1OOOPIC2c..jpg                               1
boy\e61190ef76c6a7ef189a306af4faaf51f3de663a.jpg    1
boy\9c16fdfaaf51f3def199c02394eef01f3a297949.jpg    1
Name: file, dtype: int64

In [19]:
# df['duplicate'].value_counts()

In [23]:
# df['file'].value_counts()

In [27]:
import shutil
import os

In [28]:
%%time
fail=[]
for i in df['file']:
    try:
        os.remove(i)
    except:
        fail.append(i)
print len(fail)

0
Wall time: 2min 21s