In [4]:
import pandas as pd
import shutil
import os

In [2]:
!ls

29_Oct_47W_V4.csv	     para_final_combine_rm_dup_rm_utf-8_V3.ipynb
31_Oct_50W_V5.csv	     para_final_combine_rm_dup_rm_utf-8_V4.ipynb
boy_para.csv		     para_final_combine_rm_dup_rm_utf-8_single_V5.ipynb
keep			     to_be_delete_loli.csv
loli1_para.csv		     to_be_deleted
mv_files_duplicate_V2.ipynb  trash0
old

In [3]:
# path = '/home/soyoung/face/newFlask/static/phos/'
# path = '/home/soyoung/face/Handsome_Pics/handsome/ori/keep/'
# path = 'keep/'
path = '/home/soyoung/face/boy_pics/boy/ori/keep/'

In [5]:
df = pd.read_csv('to_be_delete_boy.csv')
print df.shape
df.head(3)

(37054, 132)

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,121,122,123,124,125,126,127,name,taobao,real_name
0,494271,0.004056,0.144111,-0.059167,-0.044614,-0.028650,0.170312,-0.085778,-0.050478,0.002041,...,-0.101106,0.078300,0.088833,0.003940,0.037355,0.072553,0.090524,boy_sub_40/20141203105000355.jpg,0,20141203105000355.jpg
1,494277,0.018687,-0.006966,-0.107025,0.045025,0.019093,0.056595,0.083725,0.099257,-0.019208,...,-0.049199,-0.171333,0.050248,-0.029392,0.018277,-0.125665,0.055703,boy_sub_40/154_140927125624_3_lit.jpg,0,154_140927125624_3_lit.jpg
2,494280,0.020087,0.012289,0.003983,0.120611,-0.000045,0.022412,0.013041,0.061941,0.087252,...,0.053541,-0.108245,0.201443,0.103465,-0.028815,0.039895,0.093720,boy_sub_6/17-102316_9779.jpg,0,17-102316_9779.jpg

In [6]:
for i in df['name']:
    print i
    break

boy_sub_40/20141203105000355.jpg

In [7]:
trash = 'trash0/'
try:
    os.mkdir(trash)
except Exception as e:
    print e

[Errno 17] File exists: 'trash0/'

In [8]:
# !ls

In [9]:
''.join(i.split('/')[-1:])

'20141203105000355.jpg'

In [11]:
%%time
failed=[]
for i in df['name']:
    try:
        shutil.move(path+i, trash+''.join(i.split('/')[-1:]))
    except Exception as e:
#         print e
#         break
        failed.append(i)
#         print 'X',
print len(failed)

0
CPU times: user 208 ms, sys: 712 ms, total: 920 ms
Wall time: 1.76 s

In [13]:
failed

[]