In [1]:
import pandas as pd
import shutil
import os

In [2]:
!ls

29_Oct_47W_V4.csv
2_Nov_54W_V6.csv
31_Oct_50W_V5.csv
boy_para.csv
delete_fslint.txt
keep
loli1_para.csv
mv_files_duplicate_V2-Copy1.ipynb
mv_files_duplicate_V2.ipynb
old
para_final_combine_rm_dup_rm_utf-8_V3.ipynb
para_final_combine_rm_dup_rm_utf-8_V4.ipynb
para_final_combine_rm_dup_rm_utf-8_single_V5-Copy1.ipynb
para_final_combine_rm_dup_rm_utf-8_single_V5.ipynb
to_be_delete_boy.csv
to_be_delete_loli.csv
to_be_deleted
trash0

In [10]:
# # path = '/home/soyoung/face/newFlask/static/phos/'
# # path = '/home/soyoung/face/Handsome_Pics/handsome/ori/keep/'
# # path = 'keep/'
# path = '/home/soyoung/face/boy_pics/boy/ori/keep/'
path=''

In [5]:
df = pd.read_csv('./delete_fslint.txt', names=['name'])
print df.shape
df.head(3)

(42, 1)

                                                name
0  /home/soyoung/face/newFlask/static/phos/boy_su...
1  /home/soyoung/face/newFlask/static/phos/boy_su...
2  /home/soyoung/face/newFlask/static/phos/boy_su...

In [6]:
for i in df['name']:
    print i
    break

/home/soyoung/face/newFlask/static/phos/boy_sub_28/12(53).jpg

In [7]:
trash = 'trash0/'
try:
    os.mkdir(trash)
except Exception as e:
    print e

[Errno 17] File exists: 'trash0/'

In [8]:
# !ls

In [9]:
''.join(i.split('/')[-1:])

'12(53).jpg'

In [11]:
%%time
failed=[]
for i in df['name']:
    try:
        shutil.move(path+i, trash+''.join(i.split('/')[-1:]))
    except Exception as e:
#         print e
#         break
        failed.append(i)
#         print 'X',
print len(failed)

0
CPU times: user 4 ms, sys: 0 ns, total: 4 ms
Wall time: 20 ms

In [13]:
failed

[]