In [33]:
import pandas as pd
import networkx as nx

In [34]:
df=pd.read_excel('follow.xlsx')
df.head(100)

     er  ee
0     2   1
1     3   1
2     4   1
3     5   1
4     6  13
5     7  13
6     8  13
7     9  13
8    13  21
9    12  21
10   11  21
11   66  21
12   33  21
13   99   4
14   88   4
15   77   4
16  133   4

In [35]:
df['er']=df['er'].astype('string')

In [36]:
df['er']=df['er']+','

In [37]:
group = df.groupby('ee').sum()

In [38]:
group

                 er
ee
1          2,3,4,5,
4     99,88,77,133,
13         6,7,8,9,
21  13,12,11,66,33,

In [41]:
group.shape

(4, 1)

In [42]:
a='12'

In [43]:
a.startswith('1')

True