https://gist.github.com/kimus/10012910

In [1]:
import cx_Oracle
import pandas as pd

df=pd.read_csv('post_url.csv')
df.shape

(210467, 10)

In [2]:
df.head(3)

,id,post_url,note,program_id,user_id,user_name,date,pic_num,rating,program_url
0,607843,http://www.soyoung.com/p12360175,1,cp10000,u10040950,会说话的猫咪,2017-05-02 23:44:56,3,100%,http://y.soyoung.com/cp10000
1,607844,http://www.soyoung.com/p10127503,1,cp10000,u3884867,需要氧气缺氧ing,2016-12-04 10:03:22,1,100%,http://y.soyoung.com/cp10000
2,607845,http://www.soyoung.com/p7615001,1,cp10000,u3884867,需要氧气缺氧ing,2016-06-15 12:54:58,2,100%,http://y.soyoung.com/cp10000

In [3]:
db=cx_Oracle.connect("soyoung", "soyoung", "my.uconn.science:1521/xe")
print db.version

11.2.0.2.0

In [4]:
query="create table whole (ID int, url varchar2(4000))"

In [5]:
conn=db.cursor()
conn

In [6]:
conn.execute(query)

In [7]:
db.commit()

In [8]:
# df.to_sql('new',con=db)

In [9]:
urls = zip(df['id'], df['post_url'])
len(urls)

210467

In [10]:
urls[:3]

[(607843, 'http://www.soyoung.com/p12360175'),
 (607844, 'http://www.soyoung.com/p10127503'),
 (607845, 'http://www.soyoung.com/p7615001')]

In [11]:
# for i in urls:
#     print( "insert into whole values({},'{}')".format(i[0],i[1]))
# db.commit()

In [12]:
%%time

n=0
for i in urls:
    conn.execute( "insert into whole values({},'{}')".format(int(i[0]),i[1]))
    n+=1
    if n%10000==0:
        print n
        db.commit()

10000
20000
30000
40000
50000
60000
70000
80000
90000
100000
110000
120000
130000
140000
150000
160000
170000
180000
190000
200000
210000
CPU times: user 6.92 s, sys: 4.47 s, total: 11.4 s
Wall time: 1min 8s