In [1]:
import pandas as pd
import os
data = [i for i in os.listdir('.') if i.find('csv')>0]

In [2]:
for i in data:
    print i

29_Oct_47W_V4.csv
loli1_para.csv

In [4]:
batch0 = pd.read_csv(data[0]) 
batch0= batch0.iloc[:,:-3]

batch1 = pd.read_csv(data[1])
# batch2 = pd.read_csv(data[0])
batch0.shape, batch1.shape
# batch2.shape

((470814, 126), (96303, 129))

In [5]:
# batch0.head()
# batch1.head()
# batch2.head()

In [19]:
df = batch0.append(batch1).append(batch2).reset_index(drop=True)
df.shape

(576541, 129)

In [20]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,119,120,121,122,123,124,125,126,127,name
0,0.011476,0.165126,-0.129640,0.016787,0.022167,0.051669,0.014077,0.017761,0.011484,0.137340,...,0.157795,-0.054396,-0.000642,-0.096280,0.126662,-0.005746,-0.006710,-0.089524,0.049204,sub_28/1aa1269cc4cd42aeb12fb6f83beb89f4.jpg
1,-0.003138,-0.094253,-0.074803,0.001642,0.080649,-0.065988,-0.029929,0.026139,0.026266,-0.024320,...,0.135359,-0.071909,0.113172,0.045211,0.141725,-0.033956,0.012183,-0.019442,0.013153,sub_28/1985782_13_102812_1.jpg
2,0.052159,0.078025,-0.058801,0.111056,0.011825,0.077016,0.018737,0.034417,0.029392,-0.014144,...,0.076519,-0.007938,0.055379,-0.049870,0.153607,0.078589,-0.073745,0.036184,0.064255,sub_28/1993968735118832174.jpg
3,-0.022384,0.050678,-0.026818,0.041654,0.046246,0.022148,0.001582,0.021008,0.024489,0.015352,...,0.152728,-0.050696,-0.020838,-0.068645,0.067528,-0.124348,0.097163,0.079192,0.057003,sub_28/195943d29ir441i444lhtr.jpg
4,0.059199,0.078390,-0.108855,0.071035,-0.007066,-0.000059,0.007308,-0.022881,-0.106324,0.033876,...,0.116259,-0.019002,0.083863,0.170860,0.019041,0.054721,0.044380,0.145403,-0.038084,sub_28/1dd0675b-b9d6-4cca-a03e-2134403a74a9_si...

In [21]:
exclude = [
'euroB1',           
'euroG2',          
'euroG1',         
'euroB2',        
'east1',       
'east2' ] 
len(exclude)

6

In [23]:
df['taobao'] = df['name'].apply(lambda x: 1 if x.split('/')[0] in exclude else 0)
df.shape

(576541, 130)

In [24]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,120,121,122,123,124,125,126,127,name,taobao
0,0.011476,0.165126,-0.129640,0.016787,0.022167,0.051669,0.014077,0.017761,0.011484,0.137340,...,-0.054396,-0.000642,-0.096280,0.126662,-0.005746,-0.006710,-0.089524,0.049204,sub_28/1aa1269cc4cd42aeb12fb6f83beb89f4.jpg,0
1,-0.003138,-0.094253,-0.074803,0.001642,0.080649,-0.065988,-0.029929,0.026139,0.026266,-0.024320,...,-0.071909,0.113172,0.045211,0.141725,-0.033956,0.012183,-0.019442,0.013153,sub_28/1985782_13_102812_1.jpg,0
2,0.052159,0.078025,-0.058801,0.111056,0.011825,0.077016,0.018737,0.034417,0.029392,-0.014144,...,-0.007938,0.055379,-0.049870,0.153607,0.078589,-0.073745,0.036184,0.064255,sub_28/1993968735118832174.jpg,0
3,-0.022384,0.050678,-0.026818,0.041654,0.046246,0.022148,0.001582,0.021008,0.024489,0.015352,...,-0.050696,-0.020838,-0.068645,0.067528,-0.124348,0.097163,0.079192,0.057003,sub_28/195943d29ir441i444lhtr.jpg,0
4,0.059199,0.078390,-0.108855,0.071035,-0.007066,-0.000059,0.007308,-0.022881,-0.106324,0.033876,...,-0.019002,0.083863,0.170860,0.019041,0.054721,0.044380,0.145403,-0.038084,sub_28/1dd0675b-b9d6-4cca-a03e-2134403a74a9_si...,0

In [25]:
df[df['taobao']==1].shape

(3805, 130)

In [26]:
# df['name'].apply(lambda x: x.count('a')).sort_values(ascending=False).head(3)
# df['name'].apply(lambda x: x.count('/')).sort_values(ascending=False).head(3)

df['real_name'] = df['name'].apply(lambda x: x.split('/')[-1])
df.shape

(576541, 131)

In [27]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,121,122,123,124,125,126,127,name,taobao,real_name
0,0.011476,0.165126,-0.129640,0.016787,0.022167,0.051669,0.014077,0.017761,0.011484,0.137340,...,-0.000642,-0.096280,0.126662,-0.005746,-0.006710,-0.089524,0.049204,sub_28/1aa1269cc4cd42aeb12fb6f83beb89f4.jpg,0,1aa1269cc4cd42aeb12fb6f83beb89f4.jpg
1,-0.003138,-0.094253,-0.074803,0.001642,0.080649,-0.065988,-0.029929,0.026139,0.026266,-0.024320,...,0.113172,0.045211,0.141725,-0.033956,0.012183,-0.019442,0.013153,sub_28/1985782_13_102812_1.jpg,0,1985782_13_102812_1.jpg
2,0.052159,0.078025,-0.058801,0.111056,0.011825,0.077016,0.018737,0.034417,0.029392,-0.014144,...,0.055379,-0.049870,0.153607,0.078589,-0.073745,0.036184,0.064255,sub_28/1993968735118832174.jpg,0,1993968735118832174.jpg
3,-0.022384,0.050678,-0.026818,0.041654,0.046246,0.022148,0.001582,0.021008,0.024489,0.015352,...,-0.020838,-0.068645,0.067528,-0.124348,0.097163,0.079192,0.057003,sub_28/195943d29ir441i444lhtr.jpg,0,195943d29ir441i444lhtr.jpg
4,0.059199,0.078390,-0.108855,0.071035,-0.007066,-0.000059,0.007308,-0.022881,-0.106324,0.033876,...,0.083863,0.170860,0.019041,0.054721,0.044380,0.145403,-0.038084,sub_28/1dd0675b-b9d6-4cca-a03e-2134403a74a9_si...,0,1dd0675b-b9d6-4cca-a03e-2134403a74a9_size162_w...

In [28]:
df['real_name'].value_counts().head()

(3).jpg               4
(7).jpg               4
2-150111133633.jpg    3
211Z0F55-0.jpg        3
1F314145048-15.jpg    3
Name: real_name, dtype: int64

In [29]:
df['real_name'].duplicated().sum()

107972

In [30]:
df[df['taobao']==0]['real_name'].value_counts().head()

e3b1e6be801f57ebfec585cb5ef5666a_799_1200.jpg      3
342ac65c10385343dc7480eb9a13b07ecb808844(1).jpg    3
53e2e1d5N97140b10.jpg                              3
6598176974867148607.jpg                            3
09172_2.jpg                                        3
Name: real_name, dtype: int64

In [31]:
df[df['taobao']==0]['real_name'].duplicated().sum()

105710

In [32]:
taobao = df[df['taobao']==1]
taobao.shape

(3805, 131)

In [33]:
df1 = df[df['taobao']==0]
df1.shape

(572736, 131)

In [34]:
to_be_deleted = df1[df1['real_name'].duplicated()]
to_be_deleted.shape

(105710, 131)

In [35]:
to_be_deleted.to_csv('to_be_delete2.csv')

In [36]:
df1[~df1['real_name'].duplicated()].shape

(467026, 131)

In [37]:
df2 = df1[~df1['real_name'].duplicated()]
df2.shape

(467026, 131)

In [38]:
df3 = df2.append(taobao)
df3.shape

(470831, 131)

In [39]:
df3.tail()

,0,1,2,3,4,5,6,7,8,9,...,121,122,123,124,125,126,127,name,taobao,real_name
364370,0.048079,-0.005735,0.032212,0.108099,-0.034226,0.037377,0.059349,0.087101,0.150105,-0.095889,...,0.009989,-0.143778,0.178605,-0.003081,0.003301,0.086064,0.028129,east1/(455).jpg,1,(455).jpg
364371,0.036722,0.102138,-0.004209,0.140337,-0.059118,0.030608,-0.010955,0.045253,0.105136,0.031112,...,0.052320,-0.101862,0.182439,0.160878,-0.070499,0.112281,0.075241,east1/(162).jpg,1,(162).jpg
364372,-0.040984,0.214801,-0.011364,0.080878,-0.045407,0.056833,-0.051260,0.029586,0.126758,0.122906,...,0.080878,-0.057504,0.135926,0.162637,-0.080175,0.087601,0.090195,east1/(675).jpg,1,(675).jpg
364373,0.031182,0.099060,0.016765,0.127419,-0.007815,0.043578,0.002895,0.058311,0.084792,-0.024607,...,0.095798,-0.118035,0.209204,0.173771,-0.102763,0.085837,0.057860,east1/(349).jpg,1,(349).jpg
364374,0.023592,0.028497,-0.009194,0.040042,-0.030671,0.070353,0.064105,0.141149,0.151046,-0.056462,...,-0.005828,-0.185796,0.209589,-0.003248,-0.015919,-0.046378,0.039214,east1/(582).jpg,1,(582).jpg

In [40]:
df4 = df3.reset_index(drop=True)
df4.shape

(470831, 131)

In [41]:
df4.tail()

,0,1,2,3,4,5,6,7,8,9,...,121,122,123,124,125,126,127,name,taobao,real_name
470826,0.048079,-0.005735,0.032212,0.108099,-0.034226,0.037377,0.059349,0.087101,0.150105,-0.095889,...,0.009989,-0.143778,0.178605,-0.003081,0.003301,0.086064,0.028129,east1/(455).jpg,1,(455).jpg
470827,0.036722,0.102138,-0.004209,0.140337,-0.059118,0.030608,-0.010955,0.045253,0.105136,0.031112,...,0.052320,-0.101862,0.182439,0.160878,-0.070499,0.112281,0.075241,east1/(162).jpg,1,(162).jpg
470828,-0.040984,0.214801,-0.011364,0.080878,-0.045407,0.056833,-0.051260,0.029586,0.126758,0.122906,...,0.080878,-0.057504,0.135926,0.162637,-0.080175,0.087601,0.090195,east1/(675).jpg,1,(675).jpg
470829,0.031182,0.099060,0.016765,0.127419,-0.007815,0.043578,0.002895,0.058311,0.084792,-0.024607,...,0.095798,-0.118035,0.209204,0.173771,-0.102763,0.085837,0.057860,east1/(349).jpg,1,(349).jpg
470830,0.023592,0.028497,-0.009194,0.040042,-0.030671,0.070353,0.064105,0.141149,0.151046,-0.056462,...,-0.005828,-0.185796,0.209589,-0.003248,-0.015919,-0.046378,0.039214,east1/(582).jpg,1,(582).jpg

In [42]:
import chardet

the_encoding = chardet.detect('your string')['encoding']
the_encoding

'ascii'

In [43]:
%%time
df4['chk'] = df4['real_name'].apply(lambda x: chardet.detect(x)['encoding'])

CPU times: user 5.48 s, sys: 0 ns, total: 5.48 s
Wall time: 5.48 s

In [44]:
df4['chk'].value_counts()

ascii    470814
utf-8        17
Name: chk, dtype: int64

In [45]:
df4.shape

(470831, 132)

In [46]:
df4.head()

,0,1,2,3,4,5,6,7,8,9,...,122,123,124,125,126,127,name,taobao,real_name,chk
0,0.011476,0.165126,-0.129640,0.016787,0.022167,0.051669,0.014077,0.017761,0.011484,0.137340,...,-0.096280,0.126662,-0.005746,-0.006710,-0.089524,0.049204,sub_28/1aa1269cc4cd42aeb12fb6f83beb89f4.jpg,0,1aa1269cc4cd42aeb12fb6f83beb89f4.jpg,ascii
1,-0.003138,-0.094253,-0.074803,0.001642,0.080649,-0.065988,-0.029929,0.026139,0.026266,-0.024320,...,0.045211,0.141725,-0.033956,0.012183,-0.019442,0.013153,sub_28/1985782_13_102812_1.jpg,0,1985782_13_102812_1.jpg,ascii
2,0.052159,0.078025,-0.058801,0.111056,0.011825,0.077016,0.018737,0.034417,0.029392,-0.014144,...,-0.049870,0.153607,0.078589,-0.073745,0.036184,0.064255,sub_28/1993968735118832174.jpg,0,1993968735118832174.jpg,ascii
3,-0.022384,0.050678,-0.026818,0.041654,0.046246,0.022148,0.001582,0.021008,0.024489,0.015352,...,-0.068645,0.067528,-0.124348,0.097163,0.079192,0.057003,sub_28/195943d29ir441i444lhtr.jpg,0,195943d29ir441i444lhtr.jpg,ascii
4,0.059199,0.078390,-0.108855,0.071035,-0.007066,-0.000059,0.007308,-0.022881,-0.106324,0.033876,...,0.170860,0.019041,0.054721,0.044380,0.145403,-0.038084,sub_28/1dd0675b-b9d6-4cca-a03e-2134403a74a9_si...,0,1dd0675b-b9d6-4cca-a03e-2134403a74a9_size162_w...,ascii

In [47]:
df4[df4['chk']=='ascii'].shape

(470814, 132)

In [48]:
df5 = df4[df4['chk']=='ascii']
df6 = df5.reset_index(drop=True)
df6.shape

(470814, 132)

In [49]:
df99 = df4[df4['chk']=='utf-8']
df99.shape

(17, 132)

In [50]:
df6.tail()

,0,1,2,3,4,5,6,7,8,9,...,122,123,124,125,126,127,name,taobao,real_name,chk
470809,0.048079,-0.005735,0.032212,0.108099,-0.034226,0.037377,0.059349,0.087101,0.150105,-0.095889,...,-0.143778,0.178605,-0.003081,0.003301,0.086064,0.028129,east1/(455).jpg,1,(455).jpg,ascii
470810,0.036722,0.102138,-0.004209,0.140337,-0.059118,0.030608,-0.010955,0.045253,0.105136,0.031112,...,-0.101862,0.182439,0.160878,-0.070499,0.112281,0.075241,east1/(162).jpg,1,(162).jpg,ascii
470811,-0.040984,0.214801,-0.011364,0.080878,-0.045407,0.056833,-0.051260,0.029586,0.126758,0.122906,...,-0.057504,0.135926,0.162637,-0.080175,0.087601,0.090195,east1/(675).jpg,1,(675).jpg,ascii
470812,0.031182,0.099060,0.016765,0.127419,-0.007815,0.043578,0.002895,0.058311,0.084792,-0.024607,...,-0.118035,0.209204,0.173771,-0.102763,0.085837,0.057860,east1/(349).jpg,1,(349).jpg,ascii
470813,0.023592,0.028497,-0.009194,0.040042,-0.030671,0.070353,0.064105,0.141149,0.151046,-0.056462,...,-0.185796,0.209589,-0.003248,-0.015919,-0.046378,0.039214,east1/(582).jpg,1,(582).jpg,ascii

In [51]:
df99.to_csv('to_be_deleted_ch.csv')

In [56]:
df6.tail()
df6 = df6.iloc[:,:129]

In [57]:
df6.to_csv('29_Oct_47W_V4.csv', index=False)

In [ ]:
# df4.to_csv('28_Oct_40W_V2.csv', index=False)

In [35]:
# .replace({r'[^\x00-\x7F]+':''}, regex=True, inplace=True)

In [36]:
# 'abe'.find(r'[^\x00-\x7F]+',regex=True )

In [58]:
df6.tail()

,0,1,2,3,4,5,6,7,8,9,...,119,120,121,122,123,124,125,126,127,name
470809,0.048079,-0.005735,0.032212,0.108099,-0.034226,0.037377,0.059349,0.087101,0.150105,-0.095889,...,0.155191,-0.071256,0.009989,-0.143778,0.178605,-0.003081,0.003301,0.086064,0.028129,east1/(455).jpg
470810,0.036722,0.102138,-0.004209,0.140337,-0.059118,0.030608,-0.010955,0.045253,0.105136,0.031112,...,0.066564,-0.015882,0.052320,-0.101862,0.182439,0.160878,-0.070499,0.112281,0.075241,east1/(162).jpg
470811,-0.040984,0.214801,-0.011364,0.080878,-0.045407,0.056833,-0.051260,0.029586,0.126758,0.122906,...,0.065558,0.033576,0.080878,-0.057504,0.135926,0.162637,-0.080175,0.087601,0.090195,east1/(675).jpg
470812,0.031182,0.099060,0.016765,0.127419,-0.007815,0.043578,0.002895,0.058311,0.084792,-0.024607,...,0.076707,-0.023888,0.095798,-0.118035,0.209204,0.173771,-0.102763,0.085837,0.057860,east1/(349).jpg
470813,0.023592,0.028497,-0.009194,0.040042,-0.030671,0.070353,0.064105,0.141149,0.151046,-0.056462,...,0.188724,0.004253,-0.005828,-0.185796,0.209589,-0.003248,-0.015919,-0.046378,0.039214,east1/(582).jpg

In [37]:
df.iloc[:5,-4:]

,99,name,real_name,taobao
0,0.004116,face1_sub_58/remoteimage2_20170509105919_53406...,remoteimage2_20170509105919_53406.jpg,0
1,-0.049566,face1_sub_59/tusaJDAyJDI0LzE2OTEzMjIwMzIvVEIyQ...,tusaJDAyJDI0LzE2OTEzMjIwMzIvVEIyQ01JLmRGJDZjbF...,0
2,0.025333,face1_sub_57/n_v1bkujjd2lod2fr2mg2vya_cdebc1e0...,n_v1bkujjd2lod2fr2mg2vya_cdebc1e04c8f0db9.jpg,0
3,-0.045781,face1_sub_6/0df3d7ca7bcb0a46e39596cd6163f6246a...,0df3d7ca7bcb0a46e39596cd6163f6246a60af8a.jpg,0
4,0.042494,face1_sub_6/1(188).jpg,1(188).jpg,0

In [38]:
df['real_name'][::-1].head()

456811                               56d843585d7b3.jpg
456810    622762d0f703918f6f805d3f5b3d269758eec4f6.jpg
456809                52423dd10ffc1049.jpg!600x600.jpg
456808                         5929402048403255325.jpg
456807    5d6034a85edf8db1c797c1ec0323dd54574e74f8.jpg
Name: real_name, dtype: object