In [11]:
import pandas as pd
import os
import shutil

In [13]:
batch1 = pd.read_csv('new_batch_1.csv') 
batch2 = pd.read_csv('new_batch_2.csv')
taobao = pd.read_csv('new_taobao.csv')
batch1.shape, batch2.shape, taobao.shape

((115174, 129), (90542, 129), (3805, 129))

In [14]:
df = batch1.append(batch2).append(taobao)
df.shape

(209521, 129)

In [17]:
df = df.reset_index(drop=True)
df.shape

(209521, 129)

In [18]:
df.tail()

,0,1,2,3,4,5,6,7,8,9,...,119,120,121,122,123,124,125,126,127,name
209516,0.048079,-0.005735,0.032212,0.108099,-0.034226,0.037377,0.059349,0.087101,0.150105,-0.095889,...,0.155191,-0.071256,0.009989,-0.143778,0.178605,-0.003081,0.003301,0.086064,0.028129,east1/(455).jpg
209517,0.036722,0.102138,-0.004209,0.140337,-0.059118,0.030608,-0.010955,0.045253,0.105136,0.031112,...,0.066564,-0.015882,0.052320,-0.101862,0.182439,0.160878,-0.070499,0.112281,0.075241,east1/(162).jpg
209518,-0.040984,0.214801,-0.011364,0.080878,-0.045407,0.056833,-0.051260,0.029586,0.126758,0.122906,...,0.065558,0.033576,0.080878,-0.057504,0.135926,0.162637,-0.080175,0.087601,0.090195,east1/(675).jpg
209519,0.031182,0.099060,0.016765,0.127419,-0.007815,0.043578,0.002895,0.058311,0.084792,-0.024607,...,0.076707,-0.023888,0.095798,-0.118035,0.209204,0.173771,-0.102763,0.085837,0.057860,east1/(349).jpg
209520,0.023592,0.028497,-0.009194,0.040042,-0.030671,0.070353,0.064105,0.141149,0.151046,-0.056462,...,0.188724,0.004253,-0.005828,-0.185796,0.209589,-0.003248,-0.015919,-0.046378,0.039214,east1/(582).jpg

In [19]:
df.to_csv('20WpicsPara.csv', index=False)