https://hub.docker.com/r/sath89/oracle-12c/

https://hub.docker.com/_/mysql/

https://stackoverflow.com/questions/8858008/how-to-move-a-file-in-python

In [105]:
# encoding=utf8
# import sys
# reload(sys)
# sys.setdefaultencoding('utf8')

import pandas as pd
import os
from time import time, ctime

import concurrent.futures

from lxml import etree
import json
import re

In [128]:
!ls

add_bidder	    boss_urls.csv	      pic_down_func_bidder.ipynb
addbidderPics	    data		      pic_down_func.ipynb
addbidder_urls.csv  emp_pages4		      picDown.py
addbossPics	    freelancer.py	      picDown.pyc
addboss_urls.csv    headPics		      pic_down_report.ipynb
add_owner	    old			      pic_report.ipynb
addtional	    Parse_html_Stat.ipynb     PicsWithFace.zip
bidderPics	    Parse_html_V5.ipynb       recIpython
bidder_urls.csv     parse.ipynb		      Tensorflow
bid_pages2	    pic_down_func-add1.ipynb
bossPics	    pic_down_func-add2.ipynb

In [106]:
!pwd

/home/soyoung/face/Freelancer

In [107]:
# path='technosystem.html'

folder='emp_pages4/'
cont = os.listdir(folder)
len(cont)

14362

In [108]:
def flatten_dict(data, layers=1, drop_deeper=False):

        for _ in range(layers):
            data = [(k, v) if not isinstance(v, dict) else [(k + '.' + k2, v2) for k2, v2 in v.items()] for k, v in
                    data.items()]
            data = [item for sublist in data for item in sublist if isinstance(sublist, list)] + [y for y in data if
                                                                                                  not isinstance(y,
                                                                                                                 list)]
            data = dict(data)

        if drop_deeper:
            data = {k: v for k, v in data.items() if not isinstance(v, dict) or isinstance(v, list)}

        return data

In [109]:
failed_names=[]

def get_columns(path):
    global failed_names
    get=[]
    
    with open(folder+path,'r') as fl:
        text=fl.read()
        tree=etree.HTML(text)
    try:
        script = tree.xpath('//script')[-1]
        data = re.search(r"__export\('profileServerData',(.*?)\n", script.text)        
        jsondata=data.group(1)[:-2]
        
        json_dict = json.loads(jsondata)
        flat = flatten_dict(json_dict, layers=1)
        names = flat.keys()
        return names
    except Exception as e:
        failed_names.append(path)
        return []

In [110]:
from collections import defaultdict
stat = defaultdict(int)

In [111]:
%%time
for i in cont:
    for k in get_columns(i):
        stat[k]+=1
len(stat),len(failed_names)

CPU times: user 54.1 s, sys: 468 ms, total: 54.6 s
Wall time: 54.6 s

In [112]:
len(stat),len(failed_names)

(73, 2982)

In [113]:
col = pd.Series(stat.values(), index=stat.keys())
col.shape

(73,)

In [114]:
col.value_counts()

11379    53
11380    19
3054      1
dtype: int64

In [117]:
col.sort_values(ascending=False).head()

resume.publications    11380
resume.exams           11380
isLoggedIn             11380
hireMeCurrencyId       11380
resume.education       11380
dtype: int64

In [118]:
print failed_names[:3]
len(failed_names)

['CoolProject.html', 'goggy.html', 'banatelnet.html']

2982

In [119]:
try:
    os.mkdir(folder+'NoJson')
except:
    print 'exists'

In [120]:
!ls {folder}'NoJson'|wc

      0       0       0

In [121]:
import shutil

In [122]:
%%time
# os.rename("path/to/current/file.foo", "path/to/new/desination/for/file.foo")
for i in failed_names:
    try:
        shutil.move(folder+i, folder+'NoJson/')
    except:
        pass

CPU times: user 24 ms, sys: 36 ms, total: 60 ms
Wall time: 60.7 ms

In [123]:
!ls {folder}'NoJson'|wc

   2982    2982   44855

In [124]:
!ls {folder}|wc

  11381   11381  169171

In [138]:
col.to_csv('boss1.csv', header=['count'], index_label='name')

In [144]:
pd.read_csv('boss1.csv').set_index('name')

                               count
name
about.support_status           11379
about.test_user                11379
viewer                         11380
about.avatar                   11379
about.tagline                  11379
userId                         11380
about.status                   11379
about.location                 11380
timeOffset                     11380
isSupportAgent                 11380
resume.publications            11380
resume.experience              11380
jobsLimit                      11380
isLoggedIn                     11380
about.email                    11379
about.closed                   11379
about.endorsements             11379
about.true_location            11379
about.company                  11379
about.profile_description      11379
about.display_name             11379
resume.show                    11380
about.force_verify             11379
canViewEmployer                11380
about.registration_date        11379
hourlyRate                      3054
resume.exams                   11380
about.recommendations          11379
about.suspended                11379
about.last_name                11379
...                              ...
about.search_languages         11379
about.is_active                11379
about.hourly_rate              11379
about.jobs                     11379
about.membership_package       11379
abTests                        11380
about.role                     11379
about.corporate                11379
about.id                       11379
about.timezone                 11379
about.mobile_tracking          11379
about.cover_image              11379
hireMeCurrencyId               11380
resume.education               11380
about.registration_date_human  11379
about.username                 11379
about.primary_language         11379
about.preferred_freelancer     11379
about.avatar_large_cdn         11379
about.username_sentence        11379
skills                         11380
about.corporate_users          11379
about.user_id                  11379
isOwner                        11380
about.first_name               11379
about.primary_currency         11379
about.limited_account          11379
about.address                  11379
about.employer_reputation      11379
about.badges                   11379

[73 rows x 1 columns]

In [68]:
# group=[]
# def batch(batchfiles):
#     global group
#     group=[]
#     start=time()
#     with concurrent.futures.ThreadPoolExecutor(max_workers=8) as executor:
#         executor.map(get_single, batchfiles)
#     past='{:.2f}'.format(time()-start)
#     now=ctime()[4:]

#     print 'profiles ',len(batchfiles),'  used ',past,'s', now
#     return group

In [74]:
len(batch(cont[:2]))

profiles  2   used  0.02 s Sep 28 01:07:10 2017

2

In [84]:
len(batch(cont[:10])[6])

'NoneType' object has no attribute 'group'
'NoneType' object has no attribute 'group'
profiles  10   used  0.06 s Sep 28 01:08:03 2017

168