https://hub.docker.com/r/sath89/oracle-12c/

https://hub.docker.com/_/mysql/

https://stackoverflow.com/questions/8858008/how-to-move-a-file-in-python

In [1]:
# encoding=utf8
# import sys
# reload(sys)
# sys.setdefaultencoding('utf8')

import pandas as pd
import os
from time import time, ctime

import concurrent.futures

from lxml import etree
import json
import re

In [4]:
!ls|grep add

add_bidder
addbidderPics
addbidder_urls.csv
addbossPics
addboss_urls.csv
add_owner
addtional
Parse_html_Stat-add1.ipynb
pic_down_func-add1.ipynb
pic_down_func-add2.ipynb

In [3]:
!pwd

/home/soyoung/face/Freelancer

In [5]:
# path='technosystem.html'

folder='add_owner/'
cont = os.listdir(folder)
len(cont)

23703

In [6]:
def flatten_dict(data, layers=1, drop_deeper=False):

        for _ in range(layers):
            data = [(k, v) if not isinstance(v, dict) else [(k + '.' + k2, v2) for k2, v2 in v.items()] for k, v in
                    data.items()]
            data = [item for sublist in data for item in sublist if isinstance(sublist, list)] + [y for y in data if
                                                                                                  not isinstance(y,
                                                                                                                 list)]
            data = dict(data)

        if drop_deeper:
            data = {k: v for k, v in data.items() if not isinstance(v, dict) or isinstance(v, list)}

        return data

In [7]:
failed_names=[]

def get_columns(path):
    global failed_names
    get=[]
    
    with open(folder+path,'r') as fl:
        text=fl.read()
        tree=etree.HTML(text)
    try:
        script = tree.xpath('//script')[-1]
        data = re.search(r"__export\('profileServerData',(.*?)\n", script.text)        
        jsondata=data.group(1)[:-2]
        
        json_dict = json.loads(jsondata)
        flat = flatten_dict(json_dict, layers=1)
        names = flat.keys()
        return names
    except Exception as e:
        failed_names.append(path)
        return []

In [8]:
from collections import defaultdict
stat = defaultdict(int)

In [9]:
%%time
for i in cont:
    for k in get_columns(i):
        stat[k]+=1
len(stat),len(failed_names)

CPU times: user 1min 42s, sys: 1.46 s, total: 1min 44s
Wall time: 1min 58s

In [10]:
len(stat),len(failed_names)

(73, 4325)

In [11]:
col = pd.Series(stat.values(), index=stat.keys())
col.shape

(73,)

In [12]:
col.value_counts()

19378    72
5602      1
dtype: int64

In [13]:
col.sort_values(ascending=True).head()

hourlyRate               5602
about.support_status    19378
about.id                19378
about.corporate         19378
about.role              19378
dtype: int64

In [14]:
print failed_names[:3]
len(failed_names)

['13574941.html', '9358100.html', '13083150.html']

4325

In [15]:
try:
    os.mkdir(folder+'NoJson')
except:
    print 'exists'

In [16]:
!ls {folder}'NoJson'|wc

      0       0       0

In [17]:
import shutil

In [18]:
%%time
# os.rename("path/to/current/file.foo", "path/to/new/desination/for/file.foo")
for i in failed_names:
    try:
        shutil.move(folder+i, folder+'NoJson/')
    except:
        pass

CPU times: user 44 ms, sys: 48 ms, total: 92 ms
Wall time: 91.3 ms

In [19]:
!ls {folder}'NoJson'|wc

   4325    4325   57349

In [20]:
!ls {folder}|wc

  19379   19379  255554

In [21]:
col.to_csv('addboss.csv', header=['count'], index_label='name')

In [22]:
df1 = pd.read_csv('bidder1.csv').set_index('name')
df2 = pd.read_csv('boss1.csv').set_index('name')
df3 = pd.read_csv('addboss.csv').set_index('name')

In [23]:
df1.shape, df2.shape, df3.shape

((73, 1), (73, 1), (73, 1))

In [24]:
df1+df2+df3

                           count
name
abTests                    85908
about.account_balances     85907
about.address              85907
about.avatar               85907
about.avatar_cdn           85907
about.avatar_large         85907
about.avatar_large_cdn     85907
about.badges               85907
about.chosen_role          85907
about.closed               85907
about.company              85907
about.corporate            85907
about.corporate_users      85907
about.cover_image          85907
about.display_name         85907
about.email                85907
about.employer_reputation  85907
about.endorsements         85907
about.first_name           85907
about.force_verify         85907
about.hourly_rate          85907
about.id                   85907
about.is_active            85907
about.is_local             85907
about.jobs                 85907
about.last_name            85907
about.limited_account      85907
about.location             85908
about.membership_package   85907
about.mobile_tracking      85907
...                          ...
about.search_languages     85907
about.spam_profile         85907
about.status               85907
about.support_status       85907
about.suspended            85907
about.tagline              85907
about.test_user            85907
about.timezone             85907
about.true_location        85907
about.user_id              85907
about.username             85907
about.username_sentence    85907
canViewEmployer            85908
hireMeCurrencyId           85908
hourlyRate                 51299
isLoggedIn                 85908
isOwner                    85908
isSupportAgent             85908
jobsLimit                  85908
resume.certifications      85908
resume.education           85908
resume.exams               85908
resume.experience          85908
resume.publications        85908
resume.show                85908
skills                     85908
timeOffset                 85908
userId                     85908
username                   85908
viewer                     85908

[73 rows x 1 columns]

In [68]:
# group=[]
# def batch(batchfiles):
#     global group
#     group=[]
#     start=time()
#     with concurrent.futures.ThreadPoolExecutor(max_workers=8) as executor:
#         executor.map(get_single, batchfiles)
#     past='{:.2f}'.format(time()-start)
#     now=ctime()[4:]

#     print 'profiles ',len(batchfiles),'  used ',past,'s', now
#     return group

In [74]:
len(batch(cont[:2]))

profiles  2   used  0.02 s Sep 28 01:07:10 2017

2

In [84]:
len(batch(cont[:10])[6])

'NoneType' object has no attribute 'group'
'NoneType' object has no attribute 'group'
profiles  10   used  0.06 s Sep 28 01:08:03 2017

168