In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [2]:
pcode=pd.read_csv('pcode.csv')
dcode=pd.read_csv('dcode.csv')

In [3]:
dpool = dcode['code'].head(20).values

In [4]:
dpool

array(['A000', 'A001', 'A009', 'A0100', 'A0101', 'A0102', 'A0103',
       'A0104', 'A0105', 'A0109', 'A011', 'A012', 'A013', 'A014', 'A020',
       'A021', 'A0220', 'A0221', 'A0222', 'A0223'], dtype=object)

In [5]:
ppool = pcode['code'].head(100).values

In [6]:
ppool

array(['04B00ZZ', '04B04ZZ', '04R007Z', '04R00JZ', '04R00KZ', '04R047Z',
       '04R04JZ', '04R04KZ', '0X600ZZ', '0X610ZZ', '0X620ZZ', '0X630ZZ',
       '0X680Z1', '0X680Z2', '0X680Z3', '0X690Z1', '0X690Z2', '0X690Z3',
       '0X6B0ZZ', '0X6C0ZZ', '0X6D0Z1', '0X6D0Z2', '0X6D0Z3', '0X6F0Z1',
       '0X6F0Z2', '0X6F0Z3', '0X6J0Z0', '0X6J0Z4', '0X6J0Z5', '0X6J0Z6',
       '0X6J0Z7', '0X6J0Z8', '0X6J0Z9', '0X6J0ZB', '0X6J0ZC', '0X6J0ZD',
       '0X6J0ZF', '0X6K0Z0', '0X6K0Z4', '0X6K0Z5', '0X6K0Z6', '0X6K0Z7',
       '0X6K0Z8', '0X6K0Z9', '0X6K0ZB', '0X6K0ZC', '0X6K0ZD', '0X6K0ZF',
       '0X6L0Z0', '0X6L0Z1', '0X6L0Z2', '0X6L0Z3', '0X6M0Z0', '0X6M0Z1',
       '0X6M0Z2', '0X6M0Z3', '0X6N0Z0', '0X6N0Z1', '0X6N0Z2', '0X6N0Z3',
       '0X6P0Z0', '0X6P0Z1', '0X6P0Z2', '0X6P0Z3', '0X6Q0Z0', '0X6Q0Z1',
       '0X6Q0Z2', '0X6Q0Z3', '0X6R0Z0', '0X6R0Z1', '0X6R0Z2', '0X6R0Z3',
       '0X6S0Z0', '0X6S0Z1', '0X6S0Z2', '0X6S0Z3', '0X6T0Z0', '0X6T0Z1',
       '0X6T0Z2', '0X6T0Z3', '0X6V0Z0', '0X6V0Z1', '0X6V0Z2', '0X6V0Z3',
       '0X6W0Z0', '0X6W0Z1', '0X6W0Z2', '0X6W0Z3', '0Y620ZZ', '0Y630ZZ',
       '0Y640ZZ', '0Y670ZZ', '0Y680ZZ', '0Y6C0Z1', '0Y6C0Z2', '0Y6C0Z3',
       '0Y6D0Z1', '0Y6D0Z2', '0Y6D0Z3', '0Y6F0ZZ'], dtype=object)

In [7]:
import numpy as np
from numpy import random
random.seed(7)

In [8]:
sele = list(dpool)+list(ppool)
testcode=random.choice(sele, size=random.randint(3,15))

In [9]:
def newcode_helper(ID):
    result=[]
    for i in testcode:
        result.append([ID,i,1.0])
    return result

In [10]:
def genOneClaim():
    #rd = [i for i in np.concatenate([random.choice(dpool, 1),random.choice(dpool, 1)*(random.random()<0.2)]) if i!='']
    rd = random.choice(dpool, 1)
    # print rd

    rp = random.choice(ppool, random.randint(3,15))
    # print rp

    pool = np.concatenate([rd, rp])
    return pool

In [11]:
%%time
mock=[testcode]
for i in range(1000):
    mock.append(genOneClaim())
    
print len(mock)

1001
CPU times: user 28 ms, sys: 0 ns, total: 28 ms
Wall time: 25.4 ms

In [12]:
df = pd.DataFrame([{i:1 for i in j} for j in mock]).fillna(0)
df.shape

(1001, 120)

In [13]:
df['index']=df.index+1

In [14]:
df.head(10)

,04B00ZZ,04B04ZZ,04R007Z,04R00JZ,04R00KZ,04R047Z,04R04JZ,04R04KZ,0X600ZZ,0X610ZZ,...,A012,A013,A014,A020,A021,A0220,A0221,A0222,A0223,index
0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,2
2,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3
3,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6
6,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7
7,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8
8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,9
9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10

In [15]:
dfm = df.melt(id_vars=['index'])
dfm.head()

   index variable  value
0      1  04B00ZZ    0.0
1      2  04B00ZZ    0.0
2      3  04B00ZZ    0.0
3      4  04B00ZZ    0.0
4      5  04B00ZZ    0.0

In [16]:
newcode_helper(999)

[[999, '04R047Z', 1.0],
 [999, '0Y6D0Z3', 1.0],
 [999, '0X6K0ZF', 1.0],
 [999, '0X6P0Z3', 1.0],
 [999, '04R00JZ', 1.0],
 [999, '0X6V0Z3', 1.0],
 [999, '0X6S0Z0', 1.0]]

In [17]:
pd.concat([dfm, pd.DataFrame(newcode_helper(999), columns=dfm.columns)]).tail(10)

        index variable  value
120117    999    A0223    0.0
120118   1000    A0223    0.0
120119   1001    A0223    0.0
0         999  04R047Z    1.0
1         999  0Y6D0Z3    1.0
2         999  0X6K0ZF    1.0
3         999  0X6P0Z3    1.0
4         999  04R00JZ    1.0
5         999  0X6V0Z3    1.0
6         999  0X6S0Z0    1.0

In [18]:
dfm = pd.concat([dfm, pd.DataFrame(newcode_helper(999), columns=dfm.columns)])

In [19]:
le = LabelEncoder()
le.fit(dfm['variable'].unique())

LabelEncoder()

In [20]:
dfm['code']=le.transform(dfm['variable'])
dfm.head()

   index variable  value  code
0      1  04B00ZZ    0.0     0
1      2  04B00ZZ    0.0     0
2      3  04B00ZZ    0.0     0
3      4  04B00ZZ    0.0     0
4      5  04B00ZZ    0.0     0

In [21]:
dfm.shape

(120127, 4)

In [22]:
exist_code = dfm['code'].unique()
exist_code

array([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,
        13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,
        26,  27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,
        39,  40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,
        52,  53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,
        65,  66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,
        78,  79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,
        91,  92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103,
       104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116,
       117, 118, 119])

In [23]:
# sele = list(df.columns.unique())[:-1]
# sele_code = le.transform(sele)

# testcode=random.choice(sele_code, size=random.randint(3,15))

In [24]:
import os
import pandas as pd
import math
import findspark

findspark.init('/usr/hdp/2.6.0.3-8/spark2')

In [25]:
from pyspark.mllib.recommendation import ALS, MatrixFactorizationModel, Rating
from pyspark import rdd, SparkContext, SparkFiles
sc=SparkContext()

In [26]:
dfm2 = dfm[['index','code','value']]

In [27]:
# dfm2['value'].value_counts()

In [28]:
%%time
table = sc.parallelize(dfm2.values)
table

CPU times: user 12 ms, sys: 8 ms, total: 20 ms
Wall time: 248 ms

In [29]:
table = table.map(lambda x: [int(x[0]), int(x[1]), x[2]])

In [30]:
table.take(3)

[[1, 0, 0.0], [2, 0, 0.0], [3, 0, 0.0]]

In [31]:
# data = sc.union([table ,new])
# data.take(3)

___

In [33]:
ratings = table.map(lambda l: Rating(int(l[0]), int(l[1]), float(l[2])))

In [34]:
rank = 10
numIterations = 10

In [35]:
%%time
model = ALS.train(ratings, rank, numIterations)

CPU times: user 12 ms, sys: 12 ms, total: 24 ms
Wall time: 4.3 s

In [36]:
model.predict(1,2)

-0.09817675420011815

___

In [37]:
ratings.filter(lambda x: x[0] == 999).map(lambda p: (p[0], p[1]))

PythonRDD[212] at RDD at PythonRDD.scala:48

In [41]:
le.transform(testcode)

array([ 5, 98, 47, 63,  3, 83, 72])

In [42]:
%%time
results = model.predictAll(sc.parallelize([(999,i) for i in le.transform(testcode)]))

CPU times: user 0 ns, sys: 8 ms, total: 8 ms
Wall time: 143 ms

In [43]:
from pyspark.sql.types import StructType
from pyspark.sql.types import StructField
from pyspark.sql.types import StringType, IntegerType, FloatType

from pyspark.sql import SQLContext
sqlContext = SQLContext(sc)

schema = StructType([StructField('userID', IntegerType(), True), 
                     StructField('codeID', IntegerType(), True), 
                     StructField('valid_prob', FloatType(), True)])

In [44]:
df = sqlContext.createDataFrame(results, schema)
df = df.toPandas()
df

   userID  codeID  valid_prob
0     999      72    0.491238
1     999       5    0.180094
2     999      98    0.291221
3     999      47    0.174258
4     999      63    0.254583
5     999      83    0.140956
6     999       3    0.206765

___

In [45]:
from sklearn.preprocessing import MinMaxScaler

In [46]:
df['test'] = MinMaxScaler().fit_transform(df['valid_prob'].values.reshape(-1,1))
df

   userID  codeID  valid_prob      test
0     999      72    0.491238  1.000000
1     999       5    0.180094  0.111733
2     999      98    0.291221  0.428981
3     999      47    0.174258  0.095072
4     999      63    0.254583  0.324387
5     999      83    0.140956  0.000000
6     999       3    0.206765  0.187875

In [47]:
df[df['test']<0.05]

   userID  codeID  valid_prob  test
5     999      83    0.140956   0.0

___

In [48]:
zip(le.inverse_transform(df['codeID']), df['test'])

/home/saya/anaconda2/lib/python2.7/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

[('0X6S0Z0', 0.9999999999999999),
 ('04R047Z', 0.11173272266698098),
 ('0Y6D0Z3', 0.4289810451772257),
 ('0X6K0ZF', 0.09507155719877303),
 ('0X6P0Z3', 0.3243871750707098),
 ('0X6V0Z3', 0.0),
 ('04R00JZ', 0.1878749388639528)]

In [49]:
%%time
results = model.predictAll(sc.parallelize([(999,i) for i in exist_code]))

CPU times: user 4 ms, sys: 4 ms, total: 8 ms
Wall time: 121 ms

In [50]:
df = sqlContext.createDataFrame(results, schema)
dfp =df.toPandas()
dfp

     userID  codeID  valid_prob
0       999      84    0.158663
1       999     100    0.053266
2       999      96    0.094551
3       999      52    0.039409
4       999      56    0.062733
5       999       4    0.060310
6       999      76    0.165787
7       999     112    0.076135
8       999      16    0.022099
9       999      28    0.167026
10      999      80    0.161987
11      999     116    0.051908
12      999      48    0.143941
13      999     104    0.066307
14      999      32    0.043188
15      999      36    0.256776
16      999       0    0.134983
17      999      24    0.039602
18      999      64   -0.009066
19      999      92    0.059500
20      999      40    0.080991
21      999      72    0.491238
22      999       8    0.097784
23      999      12    0.122807
24      999      20    0.038533
25      999      60    0.051029
26      999      44    0.005230
27      999      88    0.115681
28      999     108    0.112163
29      999      68    0.292194
..      ...     ...         ...
90      999      19    0.063501
91      999      39    0.049304
92      999     115    0.062651
93      999     119    0.093403
94      999      15    0.114588
95      999      47    0.174258
96      999      71    0.074065
97      999      55    0.061277
98      999      95    0.234411
99      999      79    0.052338
100     999      59    0.152338
101     999     107    0.039891
102     999      11    0.170661
103     999      35    0.109793
104     999      27    0.071762
105     999     111    0.098346
106     999      75   -0.009207
107     999      51    0.060204
108     999      23    0.224586
109     999      63    0.254583
110     999      83    0.140956
111     999      67    0.229888
112     999       3    0.206765
113     999       7    0.131633
114     999     103    0.134039
115     999      91    0.057867
116     999      31    0.047026
117     999      87    0.132807
118     999      43    0.167879
119     999      99    0.150045

[120 rows x 3 columns]

In [51]:
dfp[dfp['valid_prob']<0]

     userID  codeID  valid_prob
18      999      64   -0.009066
77      999      90   -0.063723
89      999       2   -0.081117
106     999      75   -0.009207

In [52]:
dfp[dfp['valid_prob']<0.1]

     userID  codeID  valid_prob
1       999     100    0.053266
2       999      96    0.094551
3       999      52    0.039409
4       999      56    0.062733
5       999       4    0.060310
7       999     112    0.076135
8       999      16    0.022099
11      999     116    0.051908
13      999     104    0.066307
14      999      32    0.043188
17      999      24    0.039602
18      999      64   -0.009066
19      999      92    0.059500
20      999      40    0.080991
22      999       8    0.097784
24      999      20    0.038533
25      999      60    0.051029
26      999      44    0.005230
33      999     101    0.030141
36      999      77    0.063844
38      999      97    0.093400
41      999     105    0.060107
42      999      65    0.070163
43      999     117    0.022883
44      999      73    0.067177
54      999      69    0.092908
58      999     109    0.064821
61      999      82    0.086822
64      999      54    0.074592
67      999      30    0.057312
71      999     110    0.062998
73      999     102    0.046680
76      999     118    0.017648
77      999      90   -0.063723
80      999      18    0.019329
83      999      58    0.036692
84      999     114    0.043321
87      999      10    0.081139
89      999       2   -0.081117
90      999      19    0.063501
91      999      39    0.049304
92      999     115    0.062651
93      999     119    0.093403
96      999      71    0.074065
97      999      55    0.061277
99      999      79    0.052338
101     999     107    0.039891
104     999      27    0.071762
105     999     111    0.098346
106     999      75   -0.009207
107     999      51    0.060204
115     999      91    0.057867
116     999      31    0.047026

In [53]:
dfp[dfp['valid_prob']>0.3]

    userID  codeID  valid_prob
21     999      72    0.491238
31     999      41    0.393758
75     999      74    0.382951

In [56]:
testcode

array(['04R047Z', '0Y6D0Z3', '0X6K0ZF', '0X6P0Z3', '04R00JZ', '0X6V0Z3',
       '0X6S0Z0'], dtype='|S7')

In [59]:
dfm['variable'].unique()

array(['04B00ZZ', '04B04ZZ', '04R007Z', '04R00JZ', '04R00KZ', '04R047Z',
       '04R04JZ', '04R04KZ', '0X600ZZ', '0X610ZZ', '0X620ZZ', '0X630ZZ',
       '0X680Z1', '0X680Z2', '0X680Z3', '0X690Z1', '0X690Z2', '0X690Z3',
       '0X6B0ZZ', '0X6C0ZZ', '0X6D0Z1', '0X6D0Z2', '0X6D0Z3', '0X6F0Z1',
       '0X6F0Z2', '0X6F0Z3', '0X6J0Z0', '0X6J0Z4', '0X6J0Z5', '0X6J0Z6',
       '0X6J0Z7', '0X6J0Z8', '0X6J0Z9', '0X6J0ZB', '0X6J0ZC', '0X6J0ZD',
       '0X6J0ZF', '0X6K0Z0', '0X6K0Z4', '0X6K0Z5', '0X6K0Z6', '0X6K0Z7',
       '0X6K0Z8', '0X6K0Z9', '0X6K0ZB', '0X6K0ZC', '0X6K0ZD', '0X6K0ZF',
       '0X6L0Z0', '0X6L0Z1', '0X6L0Z2', '0X6L0Z3', '0X6M0Z0', '0X6M0Z1',
       '0X6M0Z2', '0X6M0Z3', '0X6N0Z0', '0X6N0Z1', '0X6N0Z2', '0X6N0Z3',
       '0X6P0Z0', '0X6P0Z1', '0X6P0Z2', '0X6P0Z3', '0X6Q0Z0', '0X6Q0Z1',
       '0X6Q0Z2', '0X6Q0Z3', '0X6R0Z0', '0X6R0Z1', '0X6R0Z2', '0X6R0Z3',
       '0X6S0Z0', '0X6S0Z1', '0X6S0Z2', '0X6S0Z3', '0X6T0Z0', '0X6T0Z1',
       '0X6T0Z2', '0X6T0Z3', '0X6V0Z0', '0X6V0Z1', '0X6V0Z2', '0X6V0Z3',
       '0X6W0Z0', '0X6W0Z1', '0X6W0Z2', '0X6W0Z3', '0Y620ZZ', '0Y630ZZ',
       '0Y640ZZ', '0Y670ZZ', '0Y680ZZ', '0Y6C0Z1', '0Y6C0Z2', '0Y6C0Z3',
       '0Y6D0Z1', '0Y6D0Z2', '0Y6D0Z3', '0Y6F0ZZ', 'A000', 'A001', 'A009',
       'A0100', 'A0101', 'A0102', 'A0103', 'A0104', 'A0105', 'A0109',
       'A011', 'A012', 'A013', 'A014', 'A020', 'A021', 'A0220', 'A0221',
       'A0222', 'A0223'], dtype=object)

In [60]:
# dfm['variable'].unique()+testcode

In [61]:
# df.to_dict()

In [62]:
round(1.234,2)

1.23

In [63]:
import pandas as pd

In [64]:
from IPython.display import display

In [65]:
a=pd.DataFrame([1,2,3])

In [66]:
print display(pd.DataFrame([1,2,3]))

   0
0  1
1  2
2  3

None

In [67]:
a.to_html()

u'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>0</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>2</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>3</td>\n    </tr>\n  </tbody>\n</table>'

In [68]:
from IPython.display import HTML