In [1]:
import pandas as pd

In [2]:
!cat 18_Nov_71W_V7.csv|head -n 2

0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,name
0.0114755947143,0.16512554884000002,-0.129639655352,0.016786793246899998,0.0221667457372,0.051669020205699995,0.014076540246600001,0.017760738730400003,0.0114837940782,0.137339919806,0.163647413254,0.059307526797099996,0.11813147365999999,-0.047515094280199996,-0.09902775287630002,0.035826899111300006,0.060241147875800004,0.10740338265900001,-0.18705131113499998,0.09203851222989999,-0.000639685837086,-0.152154311538,0.0910706445575,0.0631383880973,-0.03829003125430001,-0.143389761448,-0.028866909444300003,0.0161444004625,0.007044715341180001,0.011580228805499998,-0.028139833360900004,0.0110282013193,0.0123306214809,0.04636298120019999,-0.193577870727,-0.00530302478001,-0.10112352669199999,0.0399960465729,-0.0883806943893,0.15233181417000002,-0.0425610840321,-0.030998161062599998,-0.052471600472900004,0.0182582419366,-0.09827861934900001,-0.117195099592,0.0217870026827,0.00985851511359,-0.0294080618769,0.135882377625,0.134951457381,0.058050185442,-0.27542835474,-0.0261201113462,-0.09822290390730001,0.027382927015400002,-0.014921249821799999,0.0177872199565,0.08261515200139999,0.074913688004,-0.11072938144200001,-0.0358557030559,0.0545921809971,-0.118153981864,-0.00966240279377,-0.134779006243,-0.039019614458099997,0.0629217028618,-0.120564050972,0.11816582083699999,0.0739344730973,0.11187312752,0.0226344820112,0.0824722349644,0.0185796990991,0.0227139033377,0.0248784180731,0.102571301162,-0.107057280838,-0.0632206574082,-0.132788792253,-0.0731893777847,0.025076827034400003,0.061450663954,-0.13483299315,0.179783597589,0.0328277647495,-0.08990164101119999,0.07213815301660001,-0.0770088136196,-0.151372894645,-0.15262228250499998,-0.0072636711411199996,-0.060897942632400004,0.0867335796356,-0.115921765566,-0.0935572087765,-0.013114179484500001,-0.0827350243926,0.0029900111258,-0.0544898882508,0.0160359237343,0.019758414477099997,0.164742946625,0.0559461228549,0.0498732477427,-0.0840067192912,0.11949225515100001,0.0278082471341,-0.0837615355849,-0.1086499542,0.0944928452373,0.08084009587760001,0.112804226577,-0.0407354049385,-0.0370221398771,0.00614127516747,0.04347484186290001,0.09570274502039999,0.15779472887499998,-0.0543958581984,-0.0006417959230019999,-0.0962796136737,0.126661986113,-0.00574641954154,-0.00671024201438,-0.08952426910399999,0.04920392483469999,sub_28/1aa1269cc4cd42aeb12fb6f83beb89f4.jpg
cat: write error: Broken pipe

In [2]:
%%time
df = pd.read_csv('./18_Nov_71W_V7.csv')
print df.shape

(710869, 129)
CPU times: user 23 s, sys: 880 ms, total: 23.8 s
Wall time: 27.3 s

In [3]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,119,120,121,122,123,124,125,126,127,name
0,0.011476,0.165126,-0.129640,0.016787,0.022167,0.051669,0.014077,0.017761,0.011484,0.137340,...,0.157795,-0.054396,-0.000642,-0.096280,0.126662,-0.005746,-0.006710,-0.089524,0.049204,sub_28/1aa1269cc4cd42aeb12fb6f83beb89f4.jpg
1,-0.003138,-0.094253,-0.074803,0.001642,0.080649,-0.065988,-0.029929,0.026139,0.026266,-0.024320,...,0.135359,-0.071909,0.113172,0.045211,0.141725,-0.033956,0.012183,-0.019442,0.013153,sub_28/1985782_13_102812_1.jpg
2,0.052159,0.078025,-0.058801,0.111056,0.011825,0.077016,0.018737,0.034417,0.029392,-0.014144,...,0.076519,-0.007938,0.055379,-0.049870,0.153607,0.078589,-0.073745,0.036184,0.064255,sub_28/1993968735118832174.jpg
3,-0.022384,0.050678,-0.026818,0.041654,0.046246,0.022148,0.001582,0.021008,0.024489,0.015352,...,0.152728,-0.050696,-0.020838,-0.068645,0.067528,-0.124348,0.097163,0.079192,0.057003,sub_28/195943d29ir441i444lhtr.jpg
4,0.059199,0.078390,-0.108855,0.071035,-0.007066,-0.000059,0.007308,-0.022881,-0.106324,0.033876,...,0.116259,-0.019002,0.083863,0.170860,0.019041,0.054721,0.044380,0.145403,-0.038084,sub_28/1dd0675b-b9d6-4cca-a03e-2134403a74a9_si...

In [4]:
to_be_removed = [
    'http://iridescent.date/static/phos/sub_9/1-1603161RR3421.jpg',
]

In [5]:
be_removed = map(lambda x: x.split('http://iridescent.date/static/phos/')[-1], to_be_removed)
def helper(name):
    return name in be_removed

In [6]:
drop_index = df[df['name'].apply(helper)].index
df[df['name'].apply(helper)]

,0,1,2,3,4,5,6,7,8,9,...,119,120,121,122,123,124,125,126,127,name
149755,-0.003725,0.000691,0.015736,-0.160532,0.069777,-0.036845,0.015135,0.002222,-0.056534,0.018476,...,-0.025279,-0.041722,-0.013743,-0.007712,0.043923,-0.171531,-0.027036,-0.118158,-0.076183,sub_9/1-1603161RR3421.jpg

In [7]:
print df.shape
df1 = df.drop(drop_index)
print df1.shape

(710869, 129)
(710868, 129)

In [8]:
%%time
df1.to_csv('./18_Nov_71W_V7.csv', index=False)

CPU times: user 1min 29s, sys: 964 ms, total: 1min 30s
Wall time: 1min 31s