In [1]:
import pandas as pd
import os
import shutil

# import sys
# reload(sys)
# sys.setdefaultencoding('utf8')

In [2]:
os.getcwd()

'/home/soyoung/face/baidu_face_project/96_data/batch1Data'

In [7]:
path = '/home/soyoung/face/baidu_full_pics/taobao/'

In [8]:
df = pd.read_csv(path+'labels.csv', names=['id','url'])
df.shape

(3805, 2)

In [10]:
df.head()

   id                        url
0   1  phos_128/euroB1/(232).png
1   1  phos_128/euroB1/(165).png
2   1  phos_128/euroB1/(309).png
3   1   phos_128/euroB1/(47).png
4   1  phos_128/euroB1/(245).png

In [11]:
data = pd.read_csv(path+'reps.csv', header=None)
data.shape

(3805, 128)

In [12]:
data.head()

,0,1,2,3,4,5,6,7,8,9,...,118,119,120,121,122,123,124,125,126,127
0,-0.009009,-0.069898,-0.033349,-0.039599,-0.002459,0.120187,-0.077429,-0.032427,-0.092308,-0.075887,...,0.081682,0.067576,-0.024599,-0.085593,0.022879,-0.045567,-0.146018,0.137369,-0.006227,0.152161
1,-0.010190,0.014992,0.105786,0.045863,-0.157205,0.069604,0.055465,0.096935,0.120242,-0.069009,...,0.140509,-0.004848,-0.011827,-0.109739,-0.017729,0.023205,0.010710,0.094274,0.123548,0.066754
2,-0.091601,0.100453,-0.065682,0.099207,-0.044374,0.067193,0.015413,-0.045535,0.007935,0.101267,...,0.147082,0.056352,0.052493,-0.072530,0.055757,-0.046096,0.013768,0.092233,0.128870,0.183456
3,0.006042,0.067140,0.324193,0.179972,0.046648,-0.029058,-0.005584,-0.126199,0.109598,-0.167778,...,-0.087296,0.059735,-0.009884,0.159149,-0.117678,-0.037892,0.140269,0.113840,0.116706,-0.103922
4,-0.044639,-0.078704,0.046995,-0.027442,0.029847,0.112890,0.003039,0.070407,0.090547,-0.056013,...,0.080330,0.159327,0.052245,-0.047192,-0.075919,0.023843,-0.036660,0.098312,0.059402,0.112280

In [13]:
data['url']=df['url']
data.shape

(3805, 129)

In [16]:
del df
df = data

In [17]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,119,120,121,122,123,124,125,126,127,url
0,-0.009009,-0.069898,-0.033349,-0.039599,-0.002459,0.120187,-0.077429,-0.032427,-0.092308,-0.075887,...,0.067576,-0.024599,-0.085593,0.022879,-0.045567,-0.146018,0.137369,-0.006227,0.152161,phos_128/euroB1/(232).png
1,-0.010190,0.014992,0.105786,0.045863,-0.157205,0.069604,0.055465,0.096935,0.120242,-0.069009,...,-0.004848,-0.011827,-0.109739,-0.017729,0.023205,0.010710,0.094274,0.123548,0.066754,phos_128/euroB1/(165).png
2,-0.091601,0.100453,-0.065682,0.099207,-0.044374,0.067193,0.015413,-0.045535,0.007935,0.101267,...,0.056352,0.052493,-0.072530,0.055757,-0.046096,0.013768,0.092233,0.128870,0.183456,phos_128/euroB1/(309).png
3,0.006042,0.067140,0.324193,0.179972,0.046648,-0.029058,-0.005584,-0.126199,0.109598,-0.167778,...,0.059735,-0.009884,0.159149,-0.117678,-0.037892,0.140269,0.113840,0.116706,-0.103922,phos_128/euroB1/(47).png
4,-0.044639,-0.078704,0.046995,-0.027442,0.029847,0.112890,0.003039,0.070407,0.090547,-0.056013,...,0.159327,0.052245,-0.047192,-0.075919,0.023843,-0.036660,0.098312,0.059402,0.112280,phos_128/euroB1/(245).png

In [21]:
df['full_url']=df['url'].apply(lambda x: '/home/soyoung/face/baidu_full_pics/taobao/'+x.split('phos_128/')[-1][:-3]+'jpg')
df.shape

(3805, 130)

In [22]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,120,121,122,123,124,125,126,127,url,full_url
0,-0.009009,-0.069898,-0.033349,-0.039599,-0.002459,0.120187,-0.077429,-0.032427,-0.092308,-0.075887,...,-0.024599,-0.085593,0.022879,-0.045567,-0.146018,0.137369,-0.006227,0.152161,phos_128/euroB1/(232).png,/home/soyoung/face/baidu_full_pics/taobao/euro...
1,-0.010190,0.014992,0.105786,0.045863,-0.157205,0.069604,0.055465,0.096935,0.120242,-0.069009,...,-0.011827,-0.109739,-0.017729,0.023205,0.010710,0.094274,0.123548,0.066754,phos_128/euroB1/(165).png,/home/soyoung/face/baidu_full_pics/taobao/euro...
2,-0.091601,0.100453,-0.065682,0.099207,-0.044374,0.067193,0.015413,-0.045535,0.007935,0.101267,...,0.052493,-0.072530,0.055757,-0.046096,0.013768,0.092233,0.128870,0.183456,phos_128/euroB1/(309).png,/home/soyoung/face/baidu_full_pics/taobao/euro...
3,0.006042,0.067140,0.324193,0.179972,0.046648,-0.029058,-0.005584,-0.126199,0.109598,-0.167778,...,-0.009884,0.159149,-0.117678,-0.037892,0.140269,0.113840,0.116706,-0.103922,phos_128/euroB1/(47).png,/home/soyoung/face/baidu_full_pics/taobao/euro...
4,-0.044639,-0.078704,0.046995,-0.027442,0.029847,0.112890,0.003039,0.070407,0.090547,-0.056013,...,0.052245,-0.047192,-0.075919,0.023843,-0.036660,0.098312,0.059402,0.112280,phos_128/euroB1/(245).png,/home/soyoung/face/baidu_full_pics/taobao/euro...

In [23]:
df['name']=df['full_url'].apply(lambda x:x.split('/home/soyoung/face/baidu_full_pics/taobao/')[-1])
df.shape

(3805, 131)

In [24]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,121,122,123,124,125,126,127,url,full_url,name
0,-0.009009,-0.069898,-0.033349,-0.039599,-0.002459,0.120187,-0.077429,-0.032427,-0.092308,-0.075887,...,-0.085593,0.022879,-0.045567,-0.146018,0.137369,-0.006227,0.152161,phos_128/euroB1/(232).png,/home/soyoung/face/baidu_full_pics/taobao/euro...,euroB1/(232).jpg
1,-0.010190,0.014992,0.105786,0.045863,-0.157205,0.069604,0.055465,0.096935,0.120242,-0.069009,...,-0.109739,-0.017729,0.023205,0.010710,0.094274,0.123548,0.066754,phos_128/euroB1/(165).png,/home/soyoung/face/baidu_full_pics/taobao/euro...,euroB1/(165).jpg
2,-0.091601,0.100453,-0.065682,0.099207,-0.044374,0.067193,0.015413,-0.045535,0.007935,0.101267,...,-0.072530,0.055757,-0.046096,0.013768,0.092233,0.128870,0.183456,phos_128/euroB1/(309).png,/home/soyoung/face/baidu_full_pics/taobao/euro...,euroB1/(309).jpg
3,0.006042,0.067140,0.324193,0.179972,0.046648,-0.029058,-0.005584,-0.126199,0.109598,-0.167778,...,0.159149,-0.117678,-0.037892,0.140269,0.113840,0.116706,-0.103922,phos_128/euroB1/(47).png,/home/soyoung/face/baidu_full_pics/taobao/euro...,euroB1/(47).jpg
4,-0.044639,-0.078704,0.046995,-0.027442,0.029847,0.112890,0.003039,0.070407,0.090547,-0.056013,...,-0.047192,-0.075919,0.023843,-0.036660,0.098312,0.059402,0.112280,phos_128/euroB1/(245).png,/home/soyoung/face/baidu_full_pics/taobao/euro...,euroB1/(245).jpg

In [25]:
for i in df['full_url']:
    print i
    break

/home/soyoung/face/baidu_full_pics/taobao/euroB1/(232).jpg

In [26]:
path

'/home/soyoung/face/baidu_full_pics/taobao/'

In [31]:
dest = path+'hasFace/'

In [32]:
dest

'/home/soyoung/face/baidu_full_pics/taobao/hasFace/'

In [33]:
source = path

In [34]:
# for i in range(112):
#     try:
#         os.mkdir(dest+'sub_'+str(i))
#     except:
#         pass

In [35]:
n=0
no=[]
for i in df['name']:
    try:
        shutil.move(source+i, dest+i)
    except Exception as e:
        n+=1
        no.append(i)
#         print '!',
n

0

In [36]:
n=0
no=[]
for i in df['name']:
    try:
        shutil.move(source+i[:-3]+'JPG', dest+i)
    except Exception as e:
        n+=1
        no.append(i)
#         print '!',
n

3805

In [37]:
# nodf=pd.DataFrame(no, columns=['name'])
# nodf

In [38]:
n=0
no=[]
for i in df['name']:
    try:
        shutil.move(dest+i, dest+i)
    except Exception as e:
        n+=1
        no.append(i)
#         print '!',
n

0

In [39]:
no

[]

In [48]:
df.tail()

,0,1,2,3,4,5,6,7,8,9,...,121,122,123,124,125,126,127,url,full_url,name
3800,0.048079,-0.005735,0.032212,0.108099,-0.034226,0.037377,0.059349,0.087101,0.150105,-0.095889,...,0.009989,-0.143778,0.178605,-0.003081,0.003301,0.086064,0.028129,phos_128/east1/(455).png,/home/soyoung/face/baidu_full_pics/taobao/east...,east1/(455).jpg
3801,0.036722,0.102138,-0.004209,0.140337,-0.059118,0.030608,-0.010955,0.045253,0.105136,0.031112,...,0.052320,-0.101862,0.182439,0.160878,-0.070499,0.112281,0.075241,phos_128/east1/(162).png,/home/soyoung/face/baidu_full_pics/taobao/east...,east1/(162).jpg
3802,-0.040984,0.214801,-0.011364,0.080878,-0.045407,0.056833,-0.051260,0.029586,0.126758,0.122906,...,0.080878,-0.057504,0.135926,0.162637,-0.080175,0.087601,0.090195,phos_128/east1/(675).png,/home/soyoung/face/baidu_full_pics/taobao/east...,east1/(675).jpg
3803,0.031182,0.099060,0.016765,0.127419,-0.007815,0.043578,0.002895,0.058311,0.084792,-0.024607,...,0.095798,-0.118035,0.209204,0.173771,-0.102763,0.085837,0.057860,phos_128/east1/(349).png,/home/soyoung/face/baidu_full_pics/taobao/east...,east1/(349).jpg
3804,0.023592,0.028497,-0.009194,0.040042,-0.030671,0.070353,0.064105,0.141149,0.151046,-0.056462,...,-0.005828,-0.185796,0.209589,-0.003248,-0.015919,-0.046378,0.039214,phos_128/east1/(582).png,/home/soyoung/face/baidu_full_pics/taobao/east...,east1/(582).jpg

In [49]:
!pwd

/home/soyoung/face/baidu_face_project/96_data/batch1Data

In [51]:
df.shape

(3805, 131)

In [52]:
df_V4 = df.drop(['url'], axis=1)
df_V4 = df_V4.drop(['full_url'], axis=1)
df_V4.shape

(3805, 129)

In [54]:
df_V4.to_csv('new_taobao.csv', index=False)

In [40]:
# df[df['name'].apply(lambda x: x in no)]

In [41]:
# to_be_drop = df[df['name'].apply(lambda x: x in no)].index
# to_be_drop

In [42]:
# df.shape

In [43]:
# df.drop(to_be_drop).shape

In [44]:
# df_V2= df.drop(to_be_drop)
# df_V2.shape

In [45]:
# df_V3 = df_V2.reset_index(drop=True)
# df_V3.shape

In [46]:
# df_V3