In [35]:
import pandas as pd
import os
from time import time, ctime

import concurrent.futures
import requests
from lxml import etree
from bs4 import BeautifulSoup

import sys
reload(sys)
sys.setdefaultencoding("utf-8")

In [ ]:
try:
    os.mkdir('bidder_pages')
except:
    print 'exists'

In [25]:
pre='https://www.freelancer.com/u/'

In [32]:
def getsingle(name):
    n+=1
    if n%5000==0 or n==1:
        print ctime(), 'of ', n, 'failed', len(fail)
    global fail, n
    try:
        one=requests.get(pre+name)
    except:
#         print 'X',
        fail.append(name)
    with open('bidder_pages/{}.html'.format(name), 'w+') as fl:
        fl.write(one.text)
#     print 'O',

In [37]:
def batch(allnames):
    global n
    n=0
    start=time()
    with concurrent.futures.ThreadPoolExecutor(max_workers=8) as executor:
        executor.map(getsingle, allnames)
    past='{:.2f}'.format(time()-start)
    now=ctime()[4:]

    print 'profiles ',len(allnames),'  used ',past,'s', now

In [ ]:
if __name__=='__main__':
    try:
        f=pd.read('fail.csv')
        if f.shape[0]!=0:
            
            fail=[]
            batch(allemp)
            pd.DataFrame(fail, columns=['username']).to_csv('fail.csv',index=False)
        else:
            print 'Scrape Success!!!'
            print os.listdir('./bidder_pages')
            exit()
        
    except:
        df=pd.read_csv('uploads/users.gender.golden.csv')
        print len(df['username'].unique()), df.shape
        allemp=df['username'].tolist()
        print len(allemp)
        fail=[]
        batch(allemp[:100])
        pd.DataFrame(fail, columns=['username']).to_csv('fail.csv',index=False)

In [1]:
while len(fail)

SyntaxError: invalid syntax (<ipython-input-1-8a7039d10a4e>, line 1)

In [2]:
a=['123','fff','ccc']

In [4]:
import pandas as pd

In [6]:
pd.DataFrame(a, columns=['name'])

  name
0  123
1  fff
2  ccc