In [1]:
import os
import pandas as pd
import numpy as np
import findspark
findspark.init('/home/soyoung/standaloneSpark/spark-2.2.1-bin-hadoop2.7')
from pyspark.sql import SparkSession

# Spark DataFrames Project Exercise

Let's get some quick practice with your new Spark DataFrame skills, you will be asked some basic questions about some stock market data, in this case Walmart Stock from the years 2012-2017. This exercise will just ask a bunch of questions, unlike the future machine learning exercises, which will be a little looser and be in the form of "Consulting Projects", but more on that later!

For now, just answer the questions and complete the tasks below.

#### Use the walmart_stock.csv file to Answer and complete the  tasks below!

In [4]:
!ls

Spark DataFrames Project Exercise.ipynb		     spark-warehouse
Spark DataFrames Project Exercise - SOLUTIONS.ipynb  walmart_stock.csv

#### Start a simple Spark Session

In [2]:
%%time
spark = SparkSession.builder.appName('exe').getOrCreate()

CPU times: user 16 ms, sys: 12 ms, total: 28 ms
Wall time: 3.65 s

#### Load the Walmart Stock CSV File, have Spark infer the data types.

In [12]:
%%time
df = spark.read.csv('walmart_stock.csv', header=True, inferSchema=True)

CPU times: user 0 ns, sys: 4 ms, total: 4 ms
Wall time: 415 ms

In [13]:
df.printSchema()

root
 |-- Date: timestamp (nullable = true)
 |-- Open: double (nullable = true)
 |-- High: double (nullable = true)
 |-- Low: double (nullable = true)
 |-- Close: double (nullable = true)
 |-- Volume: integer (nullable = true)
 |-- Adj Close: double (nullable = true)

#### What are the column names?

In [14]:
df.columns

['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Adj Close']

['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Adj Close']

#### What does the Schema look like?

In [15]:
df.printSchema()

root
 |-- Date: timestamp (nullable = true)
 |-- Open: double (nullable = true)
 |-- High: double (nullable = true)
 |-- Low: double (nullable = true)
 |-- Close: double (nullable = true)
 |-- Volume: integer (nullable = true)
 |-- Adj Close: double (nullable = true)

root
 |-- Date: timestamp (nullable = true)
 |-- Open: double (nullable = true)
 |-- High: double (nullable = true)
 |-- Low: double (nullable = true)
 |-- Close: double (nullable = true)
 |-- Volume: integer (nullable = true)
 |-- Adj Close: double (nullable = true)

#### Print out the first 5 columns.

In [20]:
for i in df.collect()[:5]:print i,'\n'

Row(Date=datetime.datetime(2012, 1, 3, 0, 0), Open=59.970001, High=61.060001, Low=59.869999, Close=60.330002, Volume=12668800, Adj Close=52.619234999999996)

Row(Date=datetime.datetime(2012, 1, 4, 0, 0), Open=60.209998999999996, High=60.349998, Low=59.470001, Close=59.709998999999996, Volume=9593300, Adj Close=52.078475)

Row(Date=datetime.datetime(2012, 1, 5, 0, 0), Open=59.349998, High=59.619999, Low=58.369999, Close=59.419998, Volume=12768200, Adj Close=51.825539)

Row(Date=datetime.datetime(2012, 1, 6, 0, 0), Open=59.419998, High=59.450001, Low=58.869999, Close=59.0, Volume=8069400, Adj Close=51.45922)

Row(Date=datetime.datetime(2012, 1, 9, 0, 0), Open=59.029999, High=59.549999, Low=58.919998, Close=59.18, Volume=6679300, Adj Close=51.616215000000004)

In [21]:
df.show(5)

+-------------------+------------------+---------+---------+------------------+--------+------------------+
|               Date|              Open|     High|      Low|             Close|  Volume|         Adj Close|
+-------------------+------------------+---------+---------+------------------+--------+------------------+
|2012-01-03 00:00:00|         59.970001|61.060001|59.869999|         60.330002|12668800|52.619234999999996|
|2012-01-04 00:00:00|60.209998999999996|60.349998|59.470001|59.709998999999996| 9593300|         52.078475|
|2012-01-05 00:00:00|         59.349998|59.619999|58.369999|         59.419998|12768200|         51.825539|
|2012-01-06 00:00:00|         59.419998|59.450001|58.869999|              59.0| 8069400|          51.45922|
|2012-01-09 00:00:00|         59.029999|59.549999|58.919998|             59.18| 6679300|51.616215000000004|
+-------------------+------------------+---------+---------+------------------+--------+------------------+
only showing top 5 rows

Row(Date=datetime.datetime(2012, 1, 3, 0, 0), Open=59.970001, High=61.060001, Low=59.869999, Close=60.330002, Volume=12668800, Adj Close=52.619234999999996)


Row(Date=datetime.datetime(2012, 1, 4, 0, 0), Open=60.209998999999996, High=60.349998, Low=59.470001, Close=59.709998999999996, Volume=9593300, Adj Close=52.078475)


Row(Date=datetime.datetime(2012, 1, 5, 0, 0), Open=59.349998, High=59.619999, Low=58.369999, Close=59.419998, Volume=12768200, Adj Close=51.825539)


Row(Date=datetime.datetime(2012, 1, 6, 0, 0), Open=59.419998, High=59.450001, Low=58.869999, Close=59.0, Volume=8069400, Adj Close=51.45922)


Row(Date=datetime.datetime(2012, 1, 9, 0, 0), Open=59.029999, High=59.549999, Low=58.919998, Close=59.18, Volume=6679300, Adj Close=51.616215000000004)

#### Use describe() to learn about the DataFrame.

In [23]:
df.describe().show()

+-------+------------------+-----------------+-----------------+-----------------+-----------------+-----------------+
|summary|              Open|             High|              Low|            Close|           Volume|        Adj Close|
+-------+------------------+-----------------+-----------------+-----------------+-----------------+-----------------+
|  count|              1258|             1258|             1258|             1258|             1258|             1258|
|   mean| 72.35785375357709|72.83938807631165| 71.9186009594594|72.38844998012726|8222093.481717011|67.23883848728146|
| stddev|  6.76809024470826|6.768186808159218|6.744075756255496|6.756859163732991|  4519780.8431556|6.722609449996857|
|    min|56.389998999999996|        57.060001|        56.299999|        56.419998|          2094900|        50.363689|
|    max|         90.800003|        90.970001|            89.25|        90.470001|         80898100|84.91421600000001|
+-------+------------------+-----------------+-----------------+-----------------+-----------------+-----------------+

+-------+------------------+-----------------+-----------------+-----------------+-----------------+-----------------+
|summary|              Open|             High|              Low|            Close|           Volume|        Adj Close|
+-------+------------------+-----------------+-----------------+-----------------+-----------------+-----------------+
|  count|              1258|             1258|             1258|             1258|             1258|             1258|
|   mean| 72.35785375357709|72.83938807631165| 71.9186009594594|72.38844998012726|8222093.481717011|67.23883848728146|
| stddev|  6.76809024470826|6.768186808159218|6.744075756255496|6.756859163732991|  4519780.8431556|6.722609449996857|
|    min|56.389998999999996|        57.060001|        56.299999|        56.419998|          2094900|        50.363689|
|    max|         90.800003|        90.970001|            89.25|        90.470001|         80898100|84.91421600000001|
+-------+------------------+-----------------+-----------------+-----------------+-----------------+-----------------+

In [24]:
df.count()

1258

## Bonus Question!
#### There are too many decimal places for mean and stddev in the describe() dataframe. Format the numbers to just show up to two decimal places. Pay careful attention to the datatypes that .describe() returns, we didn't cover how to do this exact formatting, but we covered something very similar. [Check this link for a hint](http://spark.apache.org/docs/latest/api/python/pyspark.sql.html#pyspark.sql.Column.cast)

If you get stuck on this, don't worry, just view the solutions.

In [25]:
df.show(4)

+-------------------+------------------+---------+---------+------------------+--------+------------------+
|               Date|              Open|     High|      Low|             Close|  Volume|         Adj Close|
+-------------------+------------------+---------+---------+------------------+--------+------------------+
|2012-01-03 00:00:00|         59.970001|61.060001|59.869999|         60.330002|12668800|52.619234999999996|
|2012-01-04 00:00:00|60.209998999999996|60.349998|59.470001|59.709998999999996| 9593300|         52.078475|
|2012-01-05 00:00:00|         59.349998|59.619999|58.369999|         59.419998|12768200|         51.825539|
|2012-01-06 00:00:00|         59.419998|59.450001|58.869999|              59.0| 8069400|          51.45922|
+-------------------+------------------+---------+---------+------------------+--------+------------------+
only showing top 4 rows

In [58]:
df.describe().show()

+-------+------------------+-----------------+-----------------+-----------------+-----------------+-----------------+
|summary|              Open|             High|              Low|            Close|           Volume|        Adj Close|
+-------+------------------+-----------------+-----------------+-----------------+-----------------+-----------------+
|  count|              1258|             1258|             1258|             1258|             1258|             1258|
|   mean| 72.35785375357709|72.83938807631165| 71.9186009594594|72.38844998012726|8222093.481717011|67.23883848728146|
| stddev|  6.76809024470826|6.768186808159218|6.744075756255496|6.756859163732991|  4519780.8431556|6.722609449996857|
|    min|56.389998999999996|        57.060001|        56.299999|        56.419998|          2094900|        50.363689|
|    max|         90.800003|        90.970001|            89.25|        90.470001|         80898100|84.91421600000001|
+-------+------------------+-----------------+-----------------+-----------------+-----------------+-----------------+

root
 |-- summary: string (nullable = true)
 |-- Open: string (nullable = true)
 |-- High: string (nullable = true)
 |-- Low: string (nullable = true)
 |-- Close: string (nullable = true)
 |-- Volume: string (nullable = true)
 |-- Adj Close: string (nullable = true)

In [26]:
from pyspark.sql.functions import format_number

In [41]:
format_number?

In [55]:
df.select(format_number(df['Open'].astype('float'),2).alias('test')).show(3)

+-----+
| test|
+-----+
|59.97|
|60.21|
|59.35|
+-----+
only showing top 3 rows

In [104]:
ds = df.describe()
ds

DataFrame[summary: string, Open: string, High: string, Low: string, Close: string, Volume: string, Adj Close: string]

In [119]:
ds.show(3)

+-------+-----------------+-----------------+-----------------+-----------------+-----------------+-----------------+
|summary|             Open|             High|              Low|            Close|           Volume|        Adj Close|
+-------+-----------------+-----------------+-----------------+-----------------+-----------------+-----------------+
|  count|             1258|             1258|             1258|             1258|             1258|             1258|
|   mean|72.35785375357709|72.83938807631165| 71.9186009594594|72.38844998012726|8222093.481717011|67.23883848728146|
| stddev| 6.76809024470826|6.768186808159218|6.744075756255496|6.756859163732991|  4519780.8431556|6.722609449996857|
+-------+-----------------+-----------------+-----------------+-----------------+-----------------+-----------------+
only showing top 3 rows

In [110]:
for i in ds.columns[1:-1]:
    print ds.select(format_number(ds[i].cast('float'),2).alias(i))

DataFrame[Open: string]
DataFrame[High: string]
DataFrame[Low: string]
DataFrame[Close: string]
DataFrame[Volume: string]

In [120]:
[format_number(ds[i].cast('float'),2).alias(i) for i in ds.columns[1:-1]]

[Column<format_number(CAST(Open AS FLOAT), 2) AS `Open`>,
 Column<format_number(CAST(High AS FLOAT), 2) AS `High`>,
 Column<format_number(CAST(Low AS FLOAT), 2) AS `Low`>,
 Column<format_number(CAST(Close AS FLOAT), 2) AS `Close`>,
 Column<format_number(CAST(Volume AS FLOAT), 2) AS `Volume`>]

In [127]:
ds.select(ds['summary'],ds['summary'])

DataFrame[summary: string, summary: string]

In [149]:
helper = [ds['summary']]+\
            [format_number(ds[i].cast('float'),2).alias(i) for i in ds.columns[1:-1]]+\
            [ds['Volume'].cast('int').alias('Volume')]
helper

[Column<summary>,
 Column<format_number(CAST(Open AS FLOAT), 2) AS `Open`>,
 Column<format_number(CAST(High AS FLOAT), 2) AS `High`>,
 Column<format_number(CAST(Low AS FLOAT), 2) AS `Low`>,
 Column<format_number(CAST(Close AS FLOAT), 2) AS `Close`>,
 Column<format_number(CAST(Volume AS FLOAT), 2) AS `Volume`>,
 Column<CAST(Volume AS INT) AS `Volume`>]

In [152]:
ds.select(helper).show()

+-------+--------+--------+--------+--------+-------------+--------+
|summary|    Open|    High|     Low|   Close|       Volume|  Volume|
+-------+--------+--------+--------+--------+-------------+--------+
|  count|1,258.00|1,258.00|1,258.00|1,258.00|     1,258.00|    1258|
|   mean|   72.36|   72.84|   71.92|   72.39| 8,222,093.50| 8222093|
| stddev|    6.77|    6.77|    6.74|    6.76| 4,519,781.00| 4519780|
|    min|   56.39|   57.06|   56.30|   56.42| 2,094,900.00| 2094900|
|    max|   90.80|   90.97|   89.25|   90.47|80,898,096.00|80898100|
+-------+--------+--------+--------+--------+-------------+--------+

#### Create a new dataframe with a column called HV Ratio that is the ratio of the High Price versus volume of stock traded for a day.

In [72]:
new = df.select((df['High']/df['Volume']).alias('HV Ratio'))
new

DataFrame[HV Ratio: double]

In [160]:
new.show(3)

+--------------------+
|            HV Ratio|
+--------------------+
|4.819714653321546E-6|
|6.290848613094555E-6|
|4.669412994783916E-6|
+--------------------+
only showing top 3 rows

In [159]:
new2 = df.withColumn('HV Ratio',df['High']/df['Volume'])
new2

DataFrame[Date: timestamp, Open: double, High: double, Low: double, Close: double, Volume: int, Adj Close: double, HV Ratio: double]

In [162]:
new2.select('HV Ratio').show(3)

+--------------------+
|            HV Ratio|
+--------------------+
|4.819714653321546E-6|
|6.290848613094555E-6|
|4.669412994783916E-6|
+--------------------+
only showing top 3 rows

#### What day had the Peak High in Price?

In [188]:
from pyspark.sql.functions import max
import pyspark

In [186]:
df.createOrReplaceTempView('tmp')

In [194]:
spark.sql('select date from tmp where High=(select max(High) from tmp)').collect()[0][0]

datetime.datetime(2015, 1, 13, 0, 0)

In [195]:
spark.sql('select date from tmp order by High desc limit 1').collect()[0][0]

datetime.datetime(2015, 1, 13, 0, 0)

In [201]:
df.select(max(df['High'])).show()

+---------+
|max(High)|
+---------+
|90.970001|
+---------+

In [210]:
df.select(max(df['High'])).collect()[0][0]

90.970001

In [211]:
df.filter(df['High']==df.select(max(df['High'])).collect()[0][0]).show()

+-------------------+---------+---------+-----+---------+-------+---------+
|               Date|     Open|     High|  Low|    Close| Volume|Adj Close|
+-------------------+---------+---------+-----+---------+-------+---------+
|2015-01-13 00:00:00|90.800003|90.970001|88.93|89.309998|8215400|83.825448|
+-------------------+---------+---------+-----+---------+-------+---------+

In [206]:
df.filter(df['High']>90).show()

+-------------------+---------+-----------------+---------+---------+--------+-----------------+
|               Date|     Open|             High|      Low|    Close|  Volume|        Adj Close|
+-------------------+---------+-----------------+---------+---------+--------+-----------------+
|2015-01-08 00:00:00|89.209999|90.66999799999999|    89.07|90.470001|12713600|84.91421600000001|
|2015-01-09 00:00:00|    90.32|        90.389999|    89.25|89.349998| 8522500|        83.862993|
|2015-01-12 00:00:00|89.360001|        90.309998|89.220001|90.019997| 7372500|        84.491846|
|2015-01-13 00:00:00|90.800003|        90.970001|    88.93|89.309998| 8215400|        83.825448|
+-------------------+---------+-----------------+---------+---------+--------+-----------------+

In [217]:
df.orderBy(df['High'].desc()).select('date').collect()[0][0]

datetime.datetime(2015, 1, 13, 0, 0)

In [222]:
df.orderBy(df['High'].desc()).head(1)[0]

Row(Date=datetime.datetime(2015, 1, 13, 0, 0), Open=90.800003, High=90.970001, Low=88.93, Close=89.309998, Volume=8215400, Adj Close=83.825448)

In [223]:
df.orderBy(df['High'].desc()).head(1)[0][0]

datetime.datetime(2015, 1, 13, 0, 0)

#### What is the mean of the Close column?

In [227]:
from pyspark.sql.functions import mean

In [228]:
df.select(mean(df['Close'])).show()

+-----------------+
|       avg(Close)|
+-----------------+
|72.38844998012726|
+-----------------+

+-----------------+
|       avg(Close)|
+-----------------+
|72.38844998012726|
+-----------------+

#### What is the max and min of the Volume column?

In [229]:
from pyspark.sql.functions import max, min

In [233]:
df.select(max(df['Volume']), min(df['Volume'])).show()

+-----------+-----------+
|max(Volume)|min(Volume)|
+-----------+-----------+
|   80898100|    2094900|
+-----------+-----------+

In [234]:
df.select(max("Volume"),min("Volume")).show()

+-----------+-----------+
|max(Volume)|min(Volume)|
+-----------+-----------+
|   80898100|    2094900|
+-----------+-----------+

#### How many days was the Close lower than 60 dollars?

In [239]:
df.filter(df['Close']<60).count()

81

In [240]:
df.filter('Close<60').count()

81

81

#### What percentage of the time was the High greater than 80 dollars ?
#### In other words, (Number of Days High>80)/(Total Days in the dataset)

In [242]:
df.filter('High>80').count()/float(df.count())*100

9.141494435612083

9.141494435612083

#### What is the Pearson correlation between High and Volume?
#### [Hint](http://spark.apache.org/docs/latest/api/python/pyspark.sql.html#pyspark.sql.DataFrameStatFunctions.corr)

In [245]:
from pyspark.sql.functions import corr

In [248]:
df.select(corr(df['High'],df['Volume'])).show()

+-------------------+
| corr(High, Volume)|
+-------------------+
|-0.3384326061737161|
+-------------------+

In [250]:
df.select(corr('High','Volume')).show()

+-------------------+
| corr(High, Volume)|
+-------------------+
|-0.3384326061737161|
+-------------------+

+-------------------+
| corr(High, Volume)|
+-------------------+
|-0.3384326061737161|
+-------------------+

#### What is the max High per year?

In [267]:
from pyspark.sql.functions import max, year

In [270]:
df.groupby(year('Date').alias('Year')).max().select('Year','max(High)').show()

+----+---------+
|Year|max(High)|
+----+---------+
|2015|90.970001|
|2013|81.370003|
|2014|88.089996|
|2012|77.599998|
|2016|75.190002|
+----+---------+

+----+---------+
|Year|max(High)|
+----+---------+
|2015|90.970001|
|2013|81.370003|
|2014|88.089996|
|2012|77.599998|
|2016|75.190002|
+----+---------+

#### What is the average Close for each Calendar Month?
#### In other words, across all the years, what is the average Close price for Jan,Feb, Mar, etc... Your result will have a value for each of these months.

In [287]:
from pyspark.sql.functions import month, mean,col

In [290]:
col?

In [289]:
df.withColumn('Month',month('Date')).groupby('Month').mean().select('Month','avg(Close)').orderBy(col('Month').desc()).show()

+-----+-----------------+
|Month|       avg(Close)|
+-----+-----------------+
|   12|72.84792478301885|
|   11| 72.1110893069307|
|   10|71.57854545454543|
|    9|72.18411785294116|
|    8|73.02981855454546|
|    7|74.43971943925233|
|    6| 72.4953774245283|
|    5|72.30971688679247|
|    4|72.97361900952382|
|    3|71.77794377570092|
|    2|  71.306804443299|
|    1|71.44801958415842|
+-----+-----------------+

+-----+-----------------+
|Month|       avg(Close)|
+-----+-----------------+
|    1|71.44801958415842|
|    2|  71.306804443299|
|    3|71.77794377570092|
|    4|72.97361900952382|
|    5|72.30971688679247|
|    6| 72.4953774245283|
|    7|74.43971943925233|
|    8|73.02981855454546|
|    9|72.18411785294116|
|   10|71.57854545454543|
|   11| 72.1110893069307|
|   12|72.84792478301885|
+-----+-----------------+

# Great Job!