In [1]:
import pandas as pd

In [2]:
df= pd.read_csv('./diaryID.csv')
df.shape

(145771, 1)

In [3]:
df.head()

   group_id
0   7158089
1   6173083
2   4728665
3   6951648
4   2402431

In [7]:
df.shape[0]/2

72885

In [10]:
df1 = df.iloc[:72885,:]
df2 = df.iloc[72885:,:]
df1.shape, df2.shape

((72885, 1), (72886, 1))

In [12]:
df1.to_csv('diary1.csv', index=False)
df2.to_csv('diary2.csv', index=False)