In [4]:
import pandas as pd
from time import ctime, time

In [11]:
%%timeit
ctime()

The slowest run took 7.04 times longer than the fastest. This could mean that an intermediate result is being cached.
1000000 loops, best of 3: 1.12 µs per loop

In [13]:
df=pd.read_csv('post_url.csv')
df.shape

(210467, 10)

In [14]:
df.head()

,id,post_url,note,program_id,user_id,user_name,date,pic_num,rating,program_url
0,607843,http://www.soyoung.com/p12360175,1,cp10000,u10040950,会说话的猫咪,2017-05-02 23:44:56,3,100%,http://y.soyoung.com/cp10000
1,607844,http://www.soyoung.com/p10127503,1,cp10000,u3884867,需要氧气缺氧ing,2016-12-04 10:03:22,1,100%,http://y.soyoung.com/cp10000
2,607845,http://www.soyoung.com/p7615001,1,cp10000,u3884867,需要氧气缺氧ing,2016-06-15 12:54:58,2,100%,http://y.soyoung.com/cp10000
3,607846,http://www.soyoung.com/p6941462,1,cp10000,u3345716,路心,2016-04-29 15:55:07,1,100%,http://y.soyoung.com/cp10000
4,607847,http://www.soyoung.com/p6316803,1,cp10000,u1783000,蛮大大,2016-03-16 23:29:25,2,100%,http://y.soyoung.com/cp10000

In [15]:
df.dtypes

id              int64
post_url       object
note            int64
program_id     object
user_id        object
user_name      object
date           object
pic_num         int64
rating         object
program_url    object
dtype: object

In [18]:
one=df[df.id<610000][['id','post_url']]
one.shape

(2153, 2)

In [19]:
one.head()

       id                          post_url
0  607843  http://www.soyoung.com/p12360175
1  607844  http://www.soyoung.com/p10127503
2  607845   http://www.soyoung.com/p7615001
3  607846   http://www.soyoung.com/p6941462
4  607847   http://www.soyoung.com/p6316803

In [20]:
one.to_csv('one.csv', index=False)