In [2]:
import pandas as pd
import numpy as np

In [34]:
df = pd.DataFrame(np.random.random(10), columns=['A'])
df['B'] = pd.DataFrame(np.random.random(10))
df

          A         B
0  0.024616  0.786316
1  0.388310  0.039322
2  0.450605  0.655472
3  0.554916  0.706975
4  0.188618  0.837433
5  0.652368  0.998395
6  0.071837  0.443228
7  0.522543  0.640644
8  0.410626  0.736390
9  0.992704  0.817303

In [35]:
# ss = pd.Series(np.random.random(10))
# ss

In [36]:
# pd.Series([1,2,3])

In [45]:
df['A'].iloc[df.index[3:5]] =pd.Series([1,2,3])

In [49]:
df['A'].iloc[df.index[3:5]]

3   NaN
4   NaN
Name: A, dtype: float64

In [56]:
df

     A         B
0  1.0  0.786316
1  2.0  0.039322
2  3.0  0.655472
3  NaN  0.706975
4  NaN  0.837433
5  NaN  0.998395
6  NaN  0.443228
7  NaN  0.640644
8  NaN  0.736390
9  NaN  0.817303

In [63]:
df.loc[[4,6,8],'A']=[44,33,22]

In [64]:
df

      A         B
0   1.0  0.786316
1   2.0  0.039322
2   3.0  0.655472
3   NaN  0.706975
4  44.0  0.837433
5   NaN  0.998395
6  33.0  0.443228
7   NaN  0.640644
8  22.0  0.736390
9   NaN  0.817303

In [59]:
df.iloc[[2,4,8],:]

     A         B
2  3.0  0.655472
4  NaN  0.837433
8  NaN  0.736390

In [62]:
df.loc[[2,4,8],:]

     A         B
2  3.0  0.655472
4  NaN  0.837433
8  NaN  0.736390

In [15]:
ss.iloc[[1,3,4]]

1    5.000000
3         NaN
4    0.156894
dtype: float64