In [1]:
import pandas as pd

In [10]:
df = pd.read_csv('parameter/20WpicsPara.csv')
print df.shape
df.head()

(209521, 129)

,0,1,2,3,4,5,6,7,8,9,...,119,120,121,122,123,124,125,126,127,name
0,0.011476,0.165126,-0.129640,0.016787,0.022167,0.051669,0.014077,0.017761,0.011484,0.137340,...,0.157795,-0.054396,-0.000642,-0.096280,0.126662,-0.005746,-0.006710,-0.089524,0.049204,sub_28/1aa1269cc4cd42aeb12fb6f83beb89f4.jpg
1,-0.003138,-0.094253,-0.074803,0.001642,0.080649,-0.065988,-0.029929,0.026139,0.026266,-0.024320,...,0.135359,-0.071909,0.113172,0.045211,0.141725,-0.033956,0.012183,-0.019442,0.013153,sub_28/1985782_13_102812_1.jpg
2,0.052159,0.078025,-0.058801,0.111056,0.011825,0.077016,0.018737,0.034417,0.029392,-0.014144,...,0.076519,-0.007938,0.055379,-0.049870,0.153607,0.078589,-0.073745,0.036184,0.064255,sub_28/1993968735118832174.jpg
3,-0.022384,0.050678,-0.026818,0.041654,0.046246,0.022148,0.001582,0.021008,0.024489,0.015352,...,0.152728,-0.050696,-0.020838,-0.068645,0.067528,-0.124348,0.097163,0.079192,0.057003,sub_28/195943d29ir441i444lhtr.jpg
4,0.059199,0.078390,-0.108855,0.071035,-0.007066,-0.000059,0.007308,-0.022881,-0.106324,0.033876,...,0.116259,-0.019002,0.083863,0.170860,0.019041,0.054721,0.044380,0.145403,-0.038084,sub_28/1dd0675b-b9d6-4cca-a03e-2134403a74a9_si...

In [11]:
name = df.pop('name').to_frame()
name.head()

                                                name
0        sub_28/1aa1269cc4cd42aeb12fb6f83beb89f4.jpg
1                     sub_28/1985782_13_102812_1.jpg
2                     sub_28/1993968735118832174.jpg
3                  sub_28/195943d29ir441i444lhtr.jpg
4  sub_28/1dd0675b-b9d6-4cca-a03e-2134403a74a9_si...

In [14]:
df.as_matrix().shape

(209521, 128)

In [19]:
name.iloc[3][0]

'sub_28/195943d29ir441i444lhtr.jpg'