In [1]:
import os
import pandas as pd
from lxml import etree

In [2]:
os.chdir('../../weekly/')

In [6]:
directory="Golden_cookie_htmls/"
new=os.listdir(directory)
len(new)

119819

In [21]:
test = etree.HTML(open(directory+new[10000]).read())
print new[10000]
type(test)

MarcJenkins.html

lxml.etree._Element

In [22]:
test.xpath('//title/text()')

['Marc J. - Superior Sports Writer  - United States | Freelancer',
 'Desktop icon',
 'Desktop icon']

In [30]:
test.xpath('//h1[@class="PageProfile-info-name"]/text()')[0].strip()

'Marc J.'

In [34]:
df = pd.DataFrame(['a b','ccc','3f 33','afafaf','bbbb'], columns=['name'])
df

     name
0     a b
1     ccc
2   3f 33
3  afafaf
4    bbbb

In [44]:
def helper(x):
    S = x.split()
    if len(S)>1:
        return S[0]
    else:
        return x

In [46]:
df['FirstName']= df['name'].apply(helper)

In [48]:
df['name']=0

In [50]:
df['name']+1

0    1
1    1
2    1
3    1
4    1
Name: name, dtype: int64

In [51]:
df

   name FirstName
0     0         a
1     0       ccc
2     0        3f
3     0    afafaf
4     0      bbbb