#### learn tablespace, etc

http://nonfunctionaltestingtools.blogspot.com/2012/12/using-sql-developer-to-create-and-view.html

http://www.rebellionrider.com/tablespace-in-oracle/how-to-create-tablespace-using-sql-developer-rebellionrider.htm#.WbqexsiGPIU

https://hub.docker.com/r/wnameless/oracle-xe-11g/

In [3]:
import pandas as pd
import cx_Oracle

db=cx_Oracle.connect("soyoung", "soyoung", "my.uconn.science:1521/xe")
print db.version

11.2.0.2.0

In [9]:
db.commit()
try:
    db.cursor().execute('drop table basementzip')
    print 'drop done'
except:
    print 'not exists'
db.commit()

drop done

In [23]:
# df=pd.read_csv('zip_code.csv')
# df.shape

# df.columns=(map(lambda x:x.replace('zipcode.',''),df.columns))
# df.columns=map(lambda x: x.replace('.','_'),df.columns)
# df.to_csv('new_zip_code.csv', index=False)

In [5]:
df=pd.read_csv('new_zip_code.csv')
df.shape

/home/saya/anaconda2/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (1,2,23,24,25,27,29,39,40,41,42,43,44,45,46,47,48,49,50,51,52,54,57,58,59,61) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(941296, 62)

In [6]:
len(df['id'].unique())

941296

In [7]:
cur=db.cursor()
cur

In [10]:
try:
    cur.execute("""CREATE TABLE basementzip 
    ( id NUMBER,
    zip VARCHAR2(128),
    fsa VARCHAR2(128),
    primary_record VARCHAR2(128),
    population NUMBER,
    households_per_zipcode NUMBER,
    white_population NUMBER,
    black_population NUMBER,
    hispanic_population NUMBER,
    asian_population NUMBER,
    hawaiian_population NUMBER,
    indian_population NUMBER,
    other_population NUMBER,
    male_population NUMBER,
    female_population NUMBER,
    persons_per_household NUMBER,
    avarage_house_value NUMBER,
    income_per_household NUMBER,
    latitude NUMBER,
    longitude NUMBER,
    elevation NUMBER,
    state VARCHAR2(128),
    state_full_name VARCHAR2(128),
    city_type VARCHAR2(128),
    city_alias_abbreviation VARCHAR2(128),
    area_code VARCHAR2(128),
    city VARCHAR2(128),
    city_alias_name VARCHAR2(128),
    country VARCHAR2(128),
    county VARCHAR2(128),
    county_fips NUMBER,
    state_fips NUMBER,
    time_zone NUMBER,
    day_light_saving VARCHAR2(128),
    msa NUMBER,
    pmsa NUMBER,
    csa NUMBER,
    cbsa NUMBER,
    cbsa_div NUMBER,
    cbsa_type VARCHAR2(128),
    cbsa_name VARCHAR2(128),
    msa_name VARCHAR2(128),
    pmsa_name VARCHAR2(128),
    region VARCHAR2(128),
    division VARCHAR2(128),
    mailing_name VARCHAR2(128),
    preferred_last_line_key VARCHAR2(128),
    classification_code VARCHAR2(128),
    multi_county VARCHAR2(128),
    csa_name VARCHAR2(128),
    cbsa_div_name VARCHAR2(128),
    city_state_key VARCHAR2(128),
    city_alias_code VARCHAR2(128),
    city_mixed_case VARCHAR2(128),
    city_alias_mixed_case VARCHAR2(128),
    state_ansi NUMBER,
    county_ansi NUMBER,
    facility_code VARCHAR2(128),
    city_delivery_indicator VARCHAR2(128),
    carrier_route_rate_sortation VARCHAR2(128),
    finance_NUMBER NUMBER,
    unique_zip_name VARCHAR2(128),
    CONSTRAINT basezip_PK PRIMARY KEY (id))
    TABLESPACE basement PARALLEL""")
    db.commit()
    print 'create success'
except Exception as e:
    print e

create success

In [31]:
# df.head()

In [30]:
# df.iloc[20,:]

In [11]:
def helper(x):
    try:
        a=x.replace("'","''")
        return a
    except:
        return x

In [12]:
from time import time
start=time()
n=0
for i in range(df.shape[0]):
    string = str("insert into basementzip values "\
                 +str(tuple(df.iloc[i,:].map(helper)\
                            .tolist())).replace('nan','null')\
                             .replace(', "',",'").replace('",',"',"))
    n+=1
    try:
        cur.execute(string)
    except Exception as e:
        print e
        print i,string
#     if n==100:
#         db.commit()
#         break
    if n%10000==0:
        db.commit()
        print str(i//10000+1)+'W:',
        print '{:.2f}s '.format(time()-start),
        start=time()
db.commit()

1W: 12.67s  2W: 13.43s  3W: 13.78s  4W: 13.41s  5W: 13.18s  6W: 13.37s  7W: 12.28s  8W: 13.92s  9W: 13.62s  10W: 13.73s  11W: 12.88s  12W: 13.14s  13W: 13.14s  14W: 13.03s  15W: 13.21s  16W: 14.39s  17W: 14.08s  18W: 13.52s  19W: 14.41s  20W: 14.45s  21W: 12.88s  22W: 13.23s  23W: 13.03s  24W: 14.03s  25W: 13.14s  26W: 13.92s  27W: 13.06s  28W: 12.66s  29W: 12.95s  30W: 12.50s  31W: 13.66s  32W: 13.92s  33W: 12.34s  34W: 12.84s  35W: 12.02s  36W: 14.15s  37W: 14.40s  38W: 12.09s  39W: 12.91s  40W: 12.35s  41W: 11.62s  42W: 13.21s  43W: 13.39s  44W: 13.52s  45W: 12.47s  46W: 12.84s  47W: 13.35s  48W: 13.43s  49W: 13.45s  50W: 12.71s  51W: 13.48s  52W: 13.75s  53W: 12.95s  54W: 13.62s  55W: 12.67s  56W: 13.89s  57W: 11.68s  58W: 13.82s  59W: 13.33s  60W: 15.32s  61W: 12.93s  62W: 13.89s  63W: 12.65s  64W: 11.59s  65W: 13.27s  66W: 13.17s  67W: 12.82s  68W: 12.44s  69W: 14.09s  70W: 13.87s  71W: 12.88s  72W: 12.64s  73W: 13.29s  74W: 11.93s  75W: 12.57s  76W: 12.12s  77W: 12.77s  78W: 14.05s  79W: 14.08s  80W: 12.94s  81W: 13.19s  82W: 12.90s  83W: 14.07s  84W: 13.19s  85W: 14.12s  86W: 13.07s  87W: 13.31s  88W: 12.75s  89W: 13.43s  90W: 13.70s  91W: 13.07s  92W: 13.81s  93W: 13.43s  94W: 13.29s