#### learn tablespace, etc

http://nonfunctionaltestingtools.blogspot.com/2012/12/using-sql-developer-to-create-and-view.html

http://www.rebellionrider.com/tablespace-in-oracle/how-to-create-tablespace-using-sql-developer-rebellionrider.htm#.WbqexsiGPIU

https://hub.docker.com/r/wnameless/oracle-xe-11g/

In [50]:
import pandas as pd
import cx_Oracle

db=cx_Oracle.connect("soyoung", "soyoung", "my.uconn.science:1521/xe")
print db.version

11.2.0.2.0

In [51]:
# db.commit()
# try:
#     db.cursor().execute('drop table basementinfo')
# except:
#     print 'not exists'
# db.commit()

In [52]:
# zp=pd.read_csv('zip_code.csv')
# zp.shape

In [53]:
# zp.columns

In [5]:
# zp.head(2)

In [54]:
df=pd.read_csv('UCONN Updated 10 Years.csv')
df.shape

(1558719, 24)

In [55]:
df.columns

Index([u'id', u'name', u'address', u'city', u'state', u'zip', u'type',
       u'source', u'association', u'service_type', u'received_time',
       u'sent_time', u'company', u'status', u'price', u'campaign',
       u'is_mobile', u'landing_page', u'contact_page', u'previous_page',
       u'inbound_number', u'call_status', u'duration', u'job_sold'],
      dtype='object')

In [56]:
len(df['id'].unique())

1558719

In [57]:
cur=db.cursor()
cur

In [58]:
try:
    cur.execute("""CREATE TABLE basementinfo ( 
    id NUMBER,
    name VARCHAR2(250),
    address VARCHAR2(368),
    city VARCHAR2(250),
    state VARCHAR2(128),
    zip VARCHAR2(128),
    type VARCHAR2(128),
    source VARCHAR2(250),
    association VARCHAR2(250),
    service_type VARCHAR2(128),
    received_time VARCHAR2(128),
    sent_time VARCHAR2(128),
    company VARCHAR2(250),
    status VARCHAR2(128),
    price NUMBER,
    campaign VARCHAR2(250),
    is_mobile VARCHAR2(64),
    landing_page VARCHAR2(2500),
    contact_page VARCHAR2(2500),
    previous_page VARCHAR2(2500),
    inbound_number VARCHAR2(128),
    call_status VARCHAR2(64),
    duration VARCHAR2(128),
    job_sold NUMBER,
    CONSTRAINT baseinfo_PK PRIMARY KEY (id))
    TABLESPACE basement PARALLEL""")
    db.commit()
    print 'create success'
except Exception as e:
    print e

create success

In [59]:
# df.iloc[20,:]

In [60]:
def helper(x):
    try:
        a=x.replace("'","''")
        return a
    except:
        return x

In [61]:
# string2 = str("insert into basementinfo values "\
#                  +str(tuple(df.iloc[20,:].map(helper)\
#                             .tolist())).replace('nan','null').replace(', "',",'").replace('",',"',"))
# print string2

In [62]:
# string = str("insert into basementinfo values "\
#                  +str(tuple(df.iloc[12168,:].map(helper)\
#                             .tolist())).replace('nan','null'))
# print string

In [63]:
df.loc[928964,'address']=df.iloc[928964,:]['address'].replace('"','').replace("\'",'')

In [64]:
df.loc[917339,'name']=df.loc[917339,'name'].replace(',',' ')

In [65]:
# df.iloc[20,:].map(helper).tolist()

In [66]:
from time import time
start=time()
n=0
for i in range(df.shape[0]):
    string = str("insert into basementinfo values "\
                 +str(tuple(df.iloc[i,:].map(helper)\
                            .tolist())).replace('nan','null')\
                             .replace(', "',",'").replace('",',"',"))
    n+=1
    try:
        cur.execute(string)
    except Exception as e:
        print e
        print i,string
#     if n==100:
#         db.commit()
#         break
    if n%10000==0:
        db.commit()
        print str(i//10000+1)+'W:',
        print '{:.2f}s '.format(time()-start),
        start=time()
db.commit()

1W: 10.43s  2W: 10.64s  3W: 10.30s  4W: 10.49s  5W: 10.39s  6W: 9.86s  7W: 9.55s  8W: 11.73s  9W: 9.74s  10W: 10.41s  11W: 9.70s  12W: 9.49s  13W: 9.57s  14W: 9.19s  15W: 9.92s  16W: 9.70s  17W: 9.87s  18W: 10.69s  19W: 9.99s  20W: 10.35s  21W: 10.49s  22W: 10.08s  23W: 10.54s  24W: 10.89s  25W: 10.58s  26W: 11.27s  27W: 11.46s  28W: 10.47s  29W: 10.09s  30W: 11.38s  31W: 10.82s  32W: 10.07s  33W: 10.60s  34W: 11.11s  35W: 10.61s  36W: 10.13s  37W: 10.91s  38W: 10.38s  39W: 10.11s  40W: 9.61s  41W: 9.83s  42W: 9.58s  43W: 10.80s  44W: 10.44s  45W: 9.57s  46W: 9.21s  47W: 9.98s  48W: 9.65s  49W: 10.30s  50W: 10.22s  51W: 10.60s  52W: 9.03s  53W: 10.46s  54W: 10.52s  55W: 9.59s  56W: 10.26s  57W: 10.49s  58W: 10.46s  59W: 9.82s  60W: 10.57s  61W: 9.37s  62W: 9.94s  63W: 9.62s  64W: 9.84s  65W: 10.02s  66W: 9.51s  67W: 10.82s  68W: 10.75s  69W: 11.11s  70W: 10.16s  71W: 9.55s  72W: 9.87s  73W: 10.50s  74W: 11.33s  75W: 9.87s  76W: 10.47s  77W: 10.73s  78W: 11.13s  79W: 10.45s  80W: 11.27s  81W: 9.72s  82W: 10.42s  83W: 9.76s  84W: 11.01s  85W: 11.01s  86W: 10.63s  87W: 9.92s  88W: 9.62s  89W: 9.75s  90W: 10.15s  91W: 10.23s  92W: 10.53s  93W: 10.99s  94W: 10.24s  95W: 10.08s  96W: 9.13s  97W: 10.74s  98W: 10.52s  99W: 10.18s  100W: 10.69s  101W: 9.37s  102W: 10.32s  103W: 11.57s  104W: 10.57s  105W: 9.73s  106W: 10.50s  107W: 10.21s  108W: 9.52s  109W: 9.50s  110W: 10.43s  111W: 10.66s  112W: 10.69s  113W: 10.26s  114W: 9.58s  115W: 9.70s  116W: 10.33s  117W: 10.59s  118W: 10.43s  119W: 9.59s  120W: 9.52s  121W: 10.55s  122W: 10.40s  123W: 10.50s  124W: 10.01s  125W: 10.47s  126W: 11.04s  127W: 10.24s  128W: 9.30s  129W: 10.17s  130W: 11.35s  131W: 10.28s  132W: 10.70s  133W: 11.44s  134W: 10.14s  135W: 9.99s  136W: 10.59s  137W: 10.46s  138W: 9.46s  139W: 9.46s  140W: 9.96s  141W: 10.39s  142W: 10.04s  143W: 9.79s  144W: 11.40s  145W: 9.70s  146W: 11.46s  147W: 9.61s  148W: 10.64s  149W: 10.64s  150W: 10.63s  151W: 10.40s  152W: 10.21s  153W: 10.61s  154W: 10.98s  155W: 10.38s

In [67]:
# db.commit()

In [ ]:
# a =df.iloc[7,:]
# a

In [ ]:
# str(tuple(a.tolist()))

In [ ]:
# one = "insert into basementinfo values "+str(tuple(a.tolist())).replace('nan','null')
# one

In [ ]:
# cur.execute(one)

In [ ]:
# print "insert into basementinfo values "+str(tuple(a.tolist())).replace('nan','null')