In [1]:
import pandas as pd
# from natsort import natsorted
# import os

In [8]:
df = pd.read_csv('./diary_all.csv', usecols=['group_id'])
df.shape

(147226, 1)

In [9]:
len(df['group_id'].unique())

147226

In [10]:
df.head()

   group_id
0   5819831
1   7085323
2   5196852
3   4010774
4   7446685

In [10]:
path = './data/'
files = os.listdir(path)
files = natsorted(files)
len(files)

274

In [13]:
%%time
df = pd.concat([pd.read_excel(path + i) for i in files])
print df.shape

(61456, 47)
CPU times: user 23.9 s, sys: 314 ms, total: 24.2 s
Wall time: 24.2 s

In [71]:
col = list(df.columns)
col = [col.pop(col.index('pid')), col.pop(col.index('title'))]+col
df = df[col]
df = df.reset_index(drop=True)
df.shape

(61456, 47)

In [79]:
len(df['pid'].unique())

47734

In [78]:
df.drop_duplicates().shape

(47771, 47)

In [83]:
df2 = df.loc[df['pid'].drop_duplicates().index,:]
df2.shape

(47734, 47)

In [85]:
df2.to_excel('products.xlsx', encoding='utf-8', index=False)

In [94]:
df2['doctor'][0]

u"[{u'doctor_id': u'80171', u'name_cn': u'\\u6e38\\u5c0f\\u660e', u'paystages': u'0'}]"

In [96]:
df9

NameError: name 'df9' is not defined