In [35]:
import pandas as pd
import os
from time import time, ctime

import concurrent.futures
import requests
from lxml import etree
from bs4 import BeautifulSoup

import sys
reload(sys)
sys.setdefaultencoding("utf-8")

In [6]:
!ls data

bidderIDs.csv		     employerIDs_namesonpaypal.csv
bidderIDs_namesonpaypal.csv  employerIDs_username.csv
bidderIDs_profile.csv	     escrow_ID_name.csv
bidderIDs_username.csv	     transfer_ID_name.csv
employerIDs.csv

In [3]:
os.mkdir('bidder_pages')

In [8]:
df=pd.read_csv('data/bidderIDs_username.csv')
df.shape

(68227, 2)

In [10]:
df.head()

   user_id       username
0       63     paddyshyam
1      215   revitupmedia
2      220  AnsonSequeira
3      224         Tooner
4      274  sakshiinfosys

In [25]:
pre='https://www.freelancer.com/u/'

In [26]:
df.head()

   user_id       username
0       63     paddyshyam
1      215   revitupmedia
2      220  AnsonSequeira
3      224         Tooner
4      274  sakshiinfosys

In [27]:
len(df['username'].unique()), df.shape

(68227, (68227, 2))

In [28]:
one=df['username'][72]
one

'pinky'

In [29]:
test = pre+one
test

'https://www.freelancer.com/u/pinky'

In [30]:
fl = requests.get(test)
fl

In [20]:
fail=[]

In [31]:
allemp=df['username'].tolist()
print len(allemp)
allemp[:3]

68227

['paddyshyam', 'revitupmedia', 'AnsonSequeira']

In [32]:
def getsingle(name):
    global fail
    try:
        one=requests.get(pre+name)
    except:
        print 'X',
        fail.append(name)
    with open('bidder_pages/{}.html'.format(name), 'w+') as fl:
        fl.write(one.text)
#     print 'O',

In [36]:
getsingle('superwanchiu')

In [37]:
def batch(allnames):
    start=time()
    with concurrent.futures.ThreadPoolExecutor(max_workers=8) as executor:
        executor.map(getsingle, allnames)
    past='{:.2f}'.format(time()-start)
    now=ctime()[4:]

    print 'profiles ',len(allnames),'  used ',past,'s', now

In [ ]:
batch(allemp)