In [37]:
import pandas as pd
import os
from time import time, ctime

import concurrent.futures
import requests
from lxml import etree
from bs4 import BeautifulSoup

In [5]:
!ls

code  data  empDown.ipynb  Instructions.docx  test.ipynb

In [7]:
# os.mkdir('emp_pages')

In [2]:
empname=pd.read_csv('data/employerIDs_username.csv')
empname.shape

(14362, 2)

In [4]:
pre='https://www.freelancer.com/u/'

In [3]:
empname.head()

   user_id       username
0      399      dreamdash
1      532     sunsetsurf
2      978        lobster
3     2263       Bushsong
4     2873  empiredetroit

In [23]:
len(empname['username'].unique()), empname.shape

(14362, (14362, 2))

In [17]:
one=empname['username'][7]
one

'amoore'

In [18]:
test = pre+one

In [19]:
fl = requests.get(test)
fl

In [ ]:
fail=[]

In [35]:
allemp=empname['username'].tolist()
print len(allemp)
allemp[:3]

14362

['dreamdash', 'sunsetsurf', 'lobster']

In [32]:
def getsingle(name):
    global fail
    try:
        one=requests.get(pre+name)
    except:
        print 'X',
        fail.append(name)
    with open('emp_pages/{}.html'.format(name), 'w+') as fl:
        fl.write(one.text)
#     print 'O',

In [33]:
getsingle('amoore')

In [28]:
def batch(allnames):
    start=time()
    with concurrent.futures.ThreadPoolExecutor(max_workers=8) as executor:
        executor.map(getsingle, allnames)
    past='{:.2f}'.format(time()-start)
    now=ctime()[4:]

    print 'profiles ',len(allnames),'  used ',past,'s', now

In [ ]:
batch(allemp)