In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('20WpicsPara.csv')
df.shape

(209521, 129)

In [3]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,119,120,121,122,123,124,125,126,127,name
0,0.011476,0.165126,-0.129640,0.016787,0.022167,0.051669,0.014077,0.017761,0.011484,0.137340,...,0.157795,-0.054396,-0.000642,-0.096280,0.126662,-0.005746,-0.006710,-0.089524,0.049204,sub_28/1aa1269cc4cd42aeb12fb6f83beb89f4.jpg
1,-0.003138,-0.094253,-0.074803,0.001642,0.080649,-0.065988,-0.029929,0.026139,0.026266,-0.024320,...,0.135359,-0.071909,0.113172,0.045211,0.141725,-0.033956,0.012183,-0.019442,0.013153,sub_28/1985782_13_102812_1.jpg
2,0.052159,0.078025,-0.058801,0.111056,0.011825,0.077016,0.018737,0.034417,0.029392,-0.014144,...,0.076519,-0.007938,0.055379,-0.049870,0.153607,0.078589,-0.073745,0.036184,0.064255,sub_28/1993968735118832174.jpg
3,-0.022384,0.050678,-0.026818,0.041654,0.046246,0.022148,0.001582,0.021008,0.024489,0.015352,...,0.152728,-0.050696,-0.020838,-0.068645,0.067528,-0.124348,0.097163,0.079192,0.057003,sub_28/195943d29ir441i444lhtr.jpg
4,0.059199,0.078390,-0.108855,0.071035,-0.007066,-0.000059,0.007308,-0.022881,-0.106324,0.033876,...,0.116259,-0.019002,0.083863,0.170860,0.019041,0.054721,0.044380,0.145403,-0.038084,sub_28/1dd0675b-b9d6-4cca-a03e-2134403a74a9_si...

In [7]:
data = df.iloc[:,:-1]

In [10]:
# data.iloc[0]

In [17]:
data.shape

(209521, 128)

In [32]:
# %%timeit
np.std([data.iloc[0], data.iloc[1]])

0.088387733153790837

In [38]:
# %%time
# for i in range(data.shape[0]):
#     if np.std([data.iloc[36361], data.iloc[i]])<0.05:
#         print i, np.std([data.iloc[36361], data.iloc[i]])

In [35]:
df[df['name']=="sub_37/20141005051559961.jpg"]

,0,1,2,3,4,5,6,7,8,9,...,119,120,121,122,123,124,125,126,127,name
36361,0.045286,0.189491,0.012533,0.113205,-0.04042,0.074714,-0.017322,0.006159,0.057158,0.045895,...,0.066937,0.006078,0.063212,-0.053941,0.147512,0.153599,-0.098349,0.089263,0.026891,sub_37/20141005051559961.jpg

In [42]:
np.testing.assert_almost_equal

In [55]:
pd.testing.assert_frame_equal?

In [75]:
tmp[tmp>1].head(1)

Series([], dtype: float64)

In [56]:
from sklearn.metrics.pairwise import cosine_similarity

In [83]:
%%time
delete=[]
for i in range(1000,2000):
    precious=cosine_similarity(data.iloc[i].values.reshape(1,-1), data)
    precious=pd.Series(precious[0])
    
    tmp=precious[precious>.99]
    if len(tmp)>1:
        delete.append(list(tmp.index))

Wall time: 4min 55s

In [84]:
delete

[[1005, 47471],
 [1010, 194874],
 [1016, 8135, 102635],
 [1019, 73727, 75518],
 [1020, 205043],
 [1024, 81259],
 [1041, 178332],
 [1052, 45359],
 [1077, 142115, 146636],
 [1101, 25757, 38192, 56214, 65954, 84018],
 [1136, 48577],
 [1158, 160919],
 [1169, 164146],
 [1182, 39669],
 [1198, 160028],
 [1207, 191056, 199300],
 [1211, 47663, 173268],
 [1224, 31836, 92548, 127191],
 [1229, 3952, 208017],
 [1237, 14058, 164058],
 [1239, 35669],
 [1240, 20675, 46505, 49884, 68422, 68650, 80255, 163517],
 [105, 1249, 2484],
 [1255, 17356],
 [1262, 158057],
 [1271, 164571, 201870],
 [1282, 191470],
 [1298, 35382, 42901, 45642, 119524],
 [1308, 75024],
 [1313, 149985],
 [1318, 155724, 176554],
 [1329, 167591],
 [1333, 199862],
 [1351, 77330, 90260, 105192, 159768, 178168],
 [1353, 22934],
 [1356, 147625],
 [1368, 74400],
 [1389, 138081],
 [1429, 194664],
 [1440, 156322],
 [1445, 27828],
 [1467, 94404],
 [1478, 2692, 39938, 71363, 100955, 154743, 166931, 170464],
 [1483, 170426],
 [1488, 97388],
 [1494,
  13936,
  15216,
  19644,
  21621,
  22539,
  38184,
  42437,
  45063,
  47639,
  48166,
  50003,
  68681,
  87690,
  132837,
  134669,
  162904,
  169307,
  171553,
  172157,
  172388,
  172832,
  180310],
 [1517, 90412],
 [1527, 156808],
 [1531, 155325, 183005],
 [1541, 157484],
 [1548, 29794, 92941, 113666, 152321, 191923],
 [1559, 2991, 68753, 158326],
 [1563, 14536, 104386],
 [1570, 180398],
 [1580, 21706],
 [1592, 69266],
 [1595, 136130],
 [1602, 170911, 180707],
 [1616, 15197, 84562, 95273, 171451],
 [1618, 156073],
 [1635, 39778, 78695, 79534, 91321, 145786, 158460, 201231],
 [1663, 42989],
 [1667, 52598, 60464, 165323],
 [1669, 82553, 90817, 128740, 161838, 162523],
 [1696, 138331],
 [1701, 49119],
 [1714, 21118, 44098, 126145],
 [1725, 14058, 164058],
 [1734, 4884, 29234, 40135, 45313, 131339, 133036],
 [1747, 152872],
 [775, 1768],
 [1803, 2935],
 [1833, 195112],
 [1837, 145408],
 [1841, 7553, 11682, 20290],
 [1843,
  3281,
  5561,
  7994,
  8232,
  9714,
  13898,
  15221,
  17898,
  26445,
  34445,
  41579,
  43383,
  47765,
  48192,
  48373,
  55572,
  55716,
  81026,
  106398,
  110366,
  110675,
  111092,
  124472,
  130556,
  148355,
  167114,
  168272,
  174881,
  175772,
  176746,
  179400,
  179806,
  191088,
  191380],
 [1887, 3388],
 [1891, 114902],
 [1895, 171238, 176041],
 [1922, 169896],
 [1931, 87551],
 [1951, 91112, 92149, 101402, 178611, 179009, 196932],
 [1982, 37246, 40832, 117114]]

In [80]:
220000/100*30/60/60

18

In [69]:
df.loc[91,'name']

'sub_28/192009k8gg8o85bb5u9x9b.jpg'

In [77]:
df.loc[34,'name']

'sub_28/193327_1442257520eTMN.jpg'