In [1]:
import pandas as pd

In [3]:
!pwd

/home/soyoung/Dec_Gender

In [6]:
%%time
gd = pd.read_csv('./archive/clean_golden_cookie_newJson_Dec_10_2017.csv')
al = pd.read_csv('./archive/clean_Json_cookie_new_Dec_13_2017.csv')
print gd.shape, al.shape

(107984, 42) (162695, 42)
CPU times: user 13.2 s, sys: 636 ms, total: 13.8 s
Wall time: 16 s

In [3]:
gd.columns

Index([u'about.avatar', u'about.avatar_cdn', u'about.avatar_large',
       u'about.avatar_large_cdn', u'about.chosen_role', u'about.company',
       u'about.corporate', u'about.cover_image', u'about.display_name',
       u'about.hourly_rate', u'about.id', u'about.location',
       u'about.preferred_freelancer', u'about.primary_currency',
       u'about.primary_language', u'about.profile_description',
       u'about.public_name', u'about.recommendations',
       u'about.registration_date', u'about.registration_date_human',
       u'about.registration_date_localized', u'about.reputation',
       u'about.responsiveness', u'about.responsivenessText', u'about.role',
       u'about.status', u'about.tagline', u'about.timezone', u'about.username',
       u'about.username_sentence', u'hourlyRate', u'resume.certifications',
       u'resume.education', u'resume.exams', u'resume.experience',
       u'resume.publications', u'resume.show', u'skills', u'timeOffset',
       u'userId', u'username', u'public_firstname'],
      dtype='object')

In [4]:
df = pd.concat([gd,al])
df = df.reset_index(drop=True)
df.shape

(270690, 42)

In [5]:
df1 = df[(df['username'].str.lower()==df['about.username'].str.lower()) & (df['about.id']==df['userId'])]
df1.shape

(258093, 42)

In [6]:
(df1['username'].value_counts()>1).sum()

68254

In [7]:
df2=df1.drop_duplicates()
df2.shape

(240894, 42)

In [8]:
len(df2['username'].unique())

186866

In [9]:
(df2['username'].value_counts()>1).sum()

53365

In [10]:
(df2['username'].value_counts()>2).sum()

653

In [136]:
# df2[df2['username']=="tanaaz1"]

In [137]:
pd.options.display.max_columns=100

In [138]:
# df2[df2['username']=="janetmilongo"]

In [139]:
# df2['username'].value_counts()

In [140]:
# df2['username'].value_counts()[df2['username'].value_counts()==2]

In [11]:
keep_index = df2['username'].drop_duplicates().index
len(keep_index)

186866

In [12]:
keep_index

Int64Index([     0,      1,      3,      4,      5,      6,      7,      8,
                 9,     10,
            ...
            270677, 270679, 270681, 270682, 270684, 270685, 270686, 270687,
            270688, 270689],
           dtype='int64', length=186866)

In [22]:
df3=df2.loc[keep_index, :]
df3.shape

(186866, 42)

In [148]:
# df3['username'].to_csv('CombineAll_username.csv', index=False)

In [14]:
import sys
reload(sys)
sys.setdefaultencoding('utf8')

In [15]:
%%time
df3.to_csv('combine_login_data.csv', index=False)

### excel

In [20]:
import sys
reload(sys)
sys.setdefaultencoding('utf8')

from unidecode import unidecode
def FormatString(s):
    if isinstance(s, unicode):
        try:
            s.encode('ascii')
            return s
        except:
            return unidecode(s)
    else:
        return s

df3 = df.applymap(FormatString)
print 'convert to xlsx'
df3.to_excel('combine_login_data.xlsx', index=False)
print 'done saving to xlsx'

In [19]:
# df3

In [23]:
df3.shape

(186866, 42)

In [ ]:
df3.to_excel('combine_login_data.xlsx', index=False)