In [1]:
!ls

con_924.ipynb	     geo.csv	     index.pyc	      onlyLL.csv
control-Copy1.ipynb  geo.ipynb	     mod_traffic.csv  parsing.ipynb
control.ipynb	     geo.py	     mod_traffic.zip  sample.csv
control-new.ipynb    geo-test.ipynb  newgeo.py	      traffic1.csv
first_newgeo.py      index.pkl	     noGeo.csv	      traffic.csv
geo-Copy1.ipynb      index.py	     noGeo.zip	      Untitled.ipynb

In [3]:
import pandas as pd

In [4]:
df=pd.read_csv('onlyLL.csv')
df.shape

(569274, 2)

In [10]:
df.iloc[:10000,:].head()

   index                                  geo
0      1         38.981725, -77.0927566666667
1      2  39.1628883333333, -77.2290883333333
2      3         39.056975, -76.9546333333333
3      6  39.0933833333333, -77.0795516666667
4     10       39.2348434333333, -77.28153995

In [11]:
df.iloc[:10000,:].tail()

      index                                  geo
9995  21052        39.1298465333333, -77.0056424
9996  21053             39.0760523, -76.93998715
9997  21054       38.99950885, -76.9943146166667
9998  21057          39.0555016666667, -76.95948
9999  21058  39.0543433333333, -77.0862033333333

In [9]:
df.index

RangeIndex(start=0, stop=569274, step=1)

In [6]:
df.tail()

          index                                  geo
569269  1163600  39.1568459666667, -77.2029032166667
569270  1163601  39.1431373333333, -77.1586750333333
569271  1163602  39.1527700833333, -77.2202923833333
569272  1163603        39.0800610666667, -77.0743472
569273  1163604  39.0171391166667, -77.0063790833333

In [ ]:
for i in range(3,58):
    print i
    !python -u newgeo.py {i}
    # break

2
http://localhost:8080/reverse
569274
569274
11.2.0.2.0
Sep 24 17:11:53 2017 start
first [10000, 10001, 10002, 10003, 10004, 10005, 10006, 10007, 10008, 10009]
last [19990, 19991, 19992, 19993, 19994, 19995, 19996, 19997, 19998, 19999]
99 1/100 1.00 s | 100 2/100 1.02 s | 100 3/100 0.98 s | 100 4/100 1.01 s | 100 5/100 1.01 s | 100 6/100 1.01 s | 100 7/100 1.01 s | 100 8/100 0.96 s | 100 9/100 0.97 s | 100 10/100 0.98 s | 100 11/100 1.01 s | 100 12/100 1.01 s | 100 13/100 1.01 s | 100 14/100 0.99 s |