In [ ]:
import sys
reload(sys)
sys.setdefaultencoding("utf-8")

import pandas as pd
import os
from time import time, ctime

import concurrent.futures
import requests
from lxml import etree
from bs4 import BeautifulSoup

In [ ]:
!ls

In [84]:
os.mkdir('emp_pages3')

In [85]:
empname=pd.read_csv('data/employerIDs_username.csv')
empname.shape

(14362, 2)

In [86]:
pre='https://www.freelancer.com/u/'

In [88]:
empname.head()

   user_id       username
0      399      dreamdash
1      532     sunsetsurf
2      978        lobster
3     2263       Bushsong
4     2873  empiredetroit

In [89]:
len(empname['username'].unique()), empname.shape

(14362, (14362, 2))

In [71]:
# one=empname['username'][7]
# one

In [72]:
# test = pre+one

In [73]:
# fl = requests.get(test)
# fl

In [90]:
fail=[]

In [91]:
allemp=empname['username'].tolist()
print len(allemp)
allemp[:3]

['dreamdash', 'sunsetsurf', 'lobster']

In [92]:
len(allemp)

14362

In [96]:
fail=[]
def getsingle(name):
    global fail
    try:
        one=requests.get(pre+name)
        with open('emp_pages3/{}.html'.format(name), 'w+') as fl:
            fl.write(one.text)
    except Exception as e:
        print e
#         print 'X',
        fail.append(name)
#         print 'O',
#     return fail

In [94]:
# getsingle('amoore')

In [95]:
def batch(allnames):
    start=time()
    with concurrent.futures.ThreadPoolExecutor(max_workers=8) as executor:
        executor.map(getsingle, allnames)
    past='{:.2f}'.format(time()-start)
    now=ctime()[4:]

    print 'profiles ',len(allnames),'  used ',past,'s', now

In [ ]:
batch(allemp)

In [81]:
len(fail)

6239

In [82]:
14362-6239

8123