In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('img_3.csv')
df.shape

(10000, 2)

In [8]:
df[df['URL'].str.startswith('http')!=True]

Empty DataFrame
Columns: [ID, URL]
Index: []

In [18]:
df[df['URL'].str.contains("/20170102/9/20170102102736573_570.jpg")]['URL'].values

array([ 'http://img2.soyoung.com/tieba/android/20170102/9/20170102102736573_570.jpg'], dtype=object)

In [19]:
test= df[df['URL'].str.contains("/20170102/9/20170102102736573_570.jpg")]

In [25]:
a=[]
for i in test.itertuples():
    a.append(str(i[1])+'__'+str(i[2]))

In [26]:
a

['612257__http://img2.soyoung.com/tieba/android/20170102/9/20170102102736573_570.jpg']

In [27]:
ID, url = a[0].split('__')

In [28]:
ID

'612257'

In [29]:
url

'http://img2.soyoung.com/tieba/android/20170102/9/20170102102736573_570.jpg'

### -----

In [30]:
import os

In [32]:
already = os.listdir('img_3')
len(already)

7452

In [33]:
will=pd.read_csv('img_3.csv')
will.shape

(10000, 2)

In [35]:
will.head()

       ID                                                URL
0  611451  http://img2.soyoung.com/tieba/ios/20170331/7/2...
1  611451  http://img2.soyoung.com/tieba/ios/20170331/5/2...
2  611451  http://img2.soyoung.com/tieba/ios/20170331/2/2...
3  611451  http://img2.soyoung.com/tieba/ios/20170331/0/2...
4  611451  http://img2.soyoung.com/tieba/ios/20170331/8/2...

In [55]:
will['URL'].apply(lambda x: x.split('/')[-1])[:3]

0    20170331111126724_570.jpg
1    20170331111128388_570.jpg
2    20170331111128442_570.jpg
Name: URL, dtype: object

In [53]:
will['URL'].apply(lambda x: x.split('/')[-1]).str.len().mean()

25.0

In [60]:
will['URL'].apply(lambda x: x.split('/')[-1]).apply(lambda x: x.split('_')[0])[:3]

0    20170331111126724
1    20170331111128388
2    20170331111128442
Name: URL, dtype: object

In [61]:
will['URL'].apply(lambda x: x.split('/')[-1]).apply(lambda x: x.split('_')[0]).str.len().mean()

17.0

In [73]:
will['parse']=will['URL'].apply(lambda x: x.split('/')[-1]).apply(lambda x: x.split('_')[0])
will.shape

(10000, 3)

In [74]:
will.head()

,ID,URL,parse
0,611451,http://img2.soyoung.com/tieba/ios/20170331/7/2...,20170331111126724
1,611451,http://img2.soyoung.com/tieba/ios/20170331/5/2...,20170331111128388
2,611451,http://img2.soyoung.com/tieba/ios/20170331/2/2...,20170331111128442
3,611451,http://img2.soyoung.com/tieba/ios/20170331/0/2...,20170331111127399
4,611451,http://img2.soyoung.com/tieba/ios/20170331/8/2...,20170331111129868

In [64]:
df = pd.DataFrame(already, columns=['url'])
df.head()

                                   url
0      631946_ios20170601143711832.jpg
1      609485_web20170508132548945.jpg
2      611574_ios20161229151130159.jpg
3  632138_android20160923163738282.jpg
4      609785_ios20170403163102426.jpg

In [80]:
df['url'].apply(lambda x: x.split('_')[-1][:-4][-17:])[:7]

0    20170601143711832
1    20170508132548945
2    20161229151130159
3    20160923163738282
4    20170403163102426
5    20170324134447489
6    20161012141938826
Name: url, dtype: object

In [70]:
df['url'].apply(lambda x: x.split('_')[-1][:-4][-17:]).str.len().mean()

17.0

In [78]:
df['parse']=df['url'].apply(lambda x: x.split('_')[-1][:-4][-17:])
df.shape

(7452, 2)

In [79]:
df.head()

                                   url              parse
0      631946_ios20170601143711832.jpg  20170601143711832
1      609485_web20170508132548945.jpg  20170508132548945
2      611574_ios20161229151130159.jpg  20161229151130159
3  632138_android20160923163738282.jpg  20160923163738282
4      609785_ios20170403163102426.jpg  20170403163102426

In [36]:
s="631946_ios20170601143711832.jpg"
print dir(s)

['__add__', '__class__', '__contains__', '__delattr__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getslice__', '__gt__', '__hash__', '__init__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '_formatter_field_name_split', '_formatter_parser', 'capitalize', 'center', 'count', 'decode', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'index', 'isalnum', 'isalpha', 'isdigit', 'islower', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [63]:
s.split('_')

['631946', 'ios20170601143711832.jpg']

### join

In [84]:
df.head()

                                   url              parse
0      631946_ios20170601143711832.jpg  20170601143711832
1      609485_web20170508132548945.jpg  20170508132548945
2      611574_ios20161229151130159.jpg  20161229151130159
3  632138_android20160923163738282.jpg  20160923163738282
4      609785_ios20170403163102426.jpg  20170403163102426

In [86]:
will.head()

,ID,URL,parse
0,611451,http://img2.soyoung.com/tieba/ios/20170331/7/2...,20170331111126724
1,611451,http://img2.soyoung.com/tieba/ios/20170331/5/2...,20170331111128388
2,611451,http://img2.soyoung.com/tieba/ios/20170331/2/2...,20170331111128442
3,611451,http://img2.soyoung.com/tieba/ios/20170331/0/2...,20170331111127399
4,611451,http://img2.soyoung.com/tieba/ios/20170331/8/2...,20170331111129868

In [89]:
df.shape, will.shape

((7452, 2), (10000, 3))

In [88]:
will.set_index('parse').join(df.set_index('parse'))

,ID,URL,url
parse,,,
20141103094647561,611674,http://img1.soyoung.com/tieba/android/20141103...,NaN
20141103094651170,611674,http://img1.soyoung.com/tieba/android/20141103...,NaN
20150213085631843,632089,http://img1.soyoung.com/tieba/android/20150213...,632089_android20150213085631843.jpg
20150213085643757,632089,http://img1.soyoung.com/tieba/android/20150213...,632089_android20150213085643757.jpg
20150213085645704,632089,http://img1.soyoung.com/tieba/android/20150213...,632089_android20150213085645704.jpg
20150213085648755,632089,http://img1.soyoung.com/tieba/android/20150213...,632089_android20150213085648755.jpg
20150213085651261,632089,http://img1.soyoung.com/tieba/android/20150213...,632089_android20150213085651261.jpg
20150626000507893,622194,http://img2.soyoung.com/tieba/ios/20150626/5/2...,622194_ios20150626000507893.jpg
20150626000509233,622194,http://img2.soyoung.com/tieba/ios/20150626/0/2...,622194_ios20150626000509233.jpg
20150626000512319,622194,http://img2.soyoung.com/tieba/ios/20150626/5/2...,622194_ios20150626000512319.jpg
20150629001242228,622193,http://img2.soyoung.com/tieba/ios/20150629/7/2...,622193_ios20150629001242228.jpg
20150629001244997,622193,http://img2.soyoung.com/tieba/ios/20150629/9/2...,622193_ios20150629001244997.jpg
20150629001247745,622193,http://img2.soyoung.com/tieba/ios/20150629/4/2...,622193_ios20150629001247745.jpg
20150629001249149,622193,http://img2.soyoung.com/tieba/ios/20150629/6/2...,622193_ios20150629001249149.jpg
20150630143727313,609419,http://img1.soyoung.com/tieba/web/20150630/9/2...,609419_web20150630143727313.jpg
20150630191231510,622192,http://img2.soyoung.com/tieba/ios/20150630/5/2...,622192_ios20150630191231510.jpg
20150630191235125,622192,http://img2.soyoung.com/tieba/ios/20150630/3/2...,622192_ios20150630191235125.jpg
20150630191238361,622192,http://img2.soyoung.com/tieba/ios/20150630/1/2...,622192_ios20150630191238361.jpg
20150630191242718,622192,http://img2.soyoung.com/tieba/ios/20150630/3/2...,622192_ios20150630191242718.jpg
20150630191244467,622192,http://img2.soyoung.com/tieba/ios/20150630/0/2...,622192_ios20150630191244467.jpg
20150630191247368,622192,http://img2.soyoung.com/tieba/ios/20150630/3/2...,622192_ios20150630191247368.jpg
20150704083255558,622191,http://img2.soyoung.com/tieba/ios/20150704/9/2...,622191_ios20150704083255558.jpg
20150704083301278,622191,http://img2.soyoung.com/tieba/ios/20150704/6/2...,622191_ios20150704083301278.jpg
20150708000759296,622190,http://img2.soyoung.com/tieba/ios/20150708/9/2...,622190_ios20150708000759296.jpg
20150708000802662,622190,http://img2.soyoung.com/tieba/ios/20150708/4/2...,622190_ios20150708000802662.jpg
20150708000804345,622190,http://img2.soyoung.com/tieba/ios/20150708/3/2...,622190_ios20150708000804345.jpg
20150708000807771,622190,http://img2.soyoung.com/tieba/ios/20150708/4/2...,622190_ios20150708000807771.jpg
20150709185028132,622189,http://img2.soyoung.com/tieba/ios/20150709/4/2...,622189_ios20150709185028132.jpg
20150711121749471,622188,http://img2.soyoung.com/tieba/ios/20150711/5/2...,622188_ios20150711121749471.jpg
20150711121749695,622188,http://img2.soyoung.com/tieba/ios/20150711/5/2...,622188_ios20150711121749695.jpg
...,...,...,...
20170619183356120,609425,http://img2.soyoung.com/tieba/ios/20170619/7/2...,NaN
20170619183356241,609425,http://img2.soyoung.com/tieba/ios/20170619/9/2...,NaN
20170619183357266,609425,http://img2.soyoung.com/tieba/ios/20170619/6/2...,NaN
20170620150527862,611656,http://img2.soyoung.com/tieba/web/20170620/2/2...,NaN
20170620150528757,611656,http://img2.soyoung.com/tieba/web/20170620/0/2...,NaN
20170620150529328,611656,http://img2.soyoung.com/tieba/web/20170620/4/2...,NaN
20170620150531353,611656,http://img2.soyoung.com/tieba/web/20170620/6/2...,NaN
20170620150532204,611656,http://img2.soyoung.com/tieba/web/20170620/3/2...,NaN
20170620150532854,611656,http://img2.soyoung.com/tieba/web/20170620/9/2...,NaN
20170620190142242,611629,http://img2.soyoung.com/tieba/ios/20170620/8/2...,NaN
20170620190142909,611629,http://img2.soyoung.com/tieba/ios/20170620/8/2...,NaN
20170620190142975,611629,http://img2.soyoung.com/tieba/ios/20170620/5/2...,NaN
20170620211618427,609774,http://img2.soyoung.com/tieba/ios/20170620/4/2...,609774_ios20170620211618427.jpg
20170620230509835,611687,http://img2.soyoung.com/tieba/web/20170620/7/2...,NaN
20170620230516578,611687,http://img2.soyoung.com/tieba/web/20170620/6/2...,NaN
20170620230523912,611687,http://img2.soyoung.com/tieba/web/20170620/1/2...,NaN
20170620230532528,611687,http://img2.soyoung.com/tieba/web/20170620/9/2...,NaN
20170620230538823,611687,http://img2.soyoung.com/tieba/web/20170620/2/2...,NaN
20170620230551399,611687,http://img2.soyoung.com/tieba/web/20170620/1/2...,NaN
20170620230557100,611687,http://img2.soyoung.com/tieba/web/20170620/5/2...,NaN
20170620230604139,611687,http://img2.soyoung.com/tieba/web/20170620/8/2...,NaN
20170620233929103,611686,http://img2.soyoung.com/tieba/ios/20170620/9/2...,611686_ios20170620233929103.jpg
20170620233929820,611686,http://img2.soyoung.com/tieba/ios/20170620/2/2...,NaN
20170620233930269,611686,http://img2.soyoung.com/tieba/ios/20170620/8/2...,NaN
20170620233930683,611686,http://img2.soyoung.com/tieba/ios/20170620/4/2...,NaN
20170620233931866,611686,http://img2.soyoung.com/tieba/ios/20170620/6/2...,NaN
20170620233931950,611686,http://img2.soyoung.com/tieba/ios/20170620/8/2...,NaN
20170620233931985,611686,http://img2.soyoung.com/tieba/ios/20170620/8/2...,NaN
20170620233932723,611686,http://img2.soyoung.com/tieba/ios/20170620/0/2...,NaN
20170620233932899,611686,http://img2.soyoung.com/tieba/ios/20170620/8/2...,NaN

In [117]:
joind=will.set_index('parse').join(df.set_index('parse'))

In [120]:
joind[joind['url'].isnull()].shape

(2545, 3)

                       ID                                                URL
parse
20141103094647561  611674  http://img1.soyoung.com/tieba/android/20141103...
20141103094651170  611674  http://img1.soyoung.com/tieba/android/20141103...
20150822183200896  621780  http://img2.soyoung.com/tieba/android/20150822...
20150920185653265  621779  http://img2.soyoung.com/tieba/android/20150920...
20151014101752122  609189  http://img2.soyoung.com/tieba/web/20151014/7/2...

In [131]:
for i in joind[joind['url'].isnull()][['ID','URL']].itertuples():
    print i, i[0], i[1], i[2]
    break

Pandas(Index='20141103094647561', ID=611674, URL='http://img1.soyoung.com/tieba/android/20141103/6/20141103094647561_570.jpg') 20141103094647561 611674 http://img1.soyoung.com/tieba/android/20141103/6/20141103094647561_570.jpg

In [136]:
os.listdir('./img_'+str(3))[:3]

['631946_ios20170601143711832.jpg',
 '609485_web20170508132548945.jpg',
 '611574_ios20161229151130159.jpg']

In [1]:
import pandas as pd
import cx_Oracle



db=cx_Oracle.connect("soyoung", "soyoung", "my.uconn.science:1521/xe")
print db.version
conn=db.cursor()

11.2.0.2.0

In [2]:
df=pd.read_sql?

In [3]:
df=pd.read_sql("select * from single", db)
df.shape

(488262, 4)

In [4]:
df.head()

,ID,URL,GET_TIME,ELLIPSE
0,607847,http://img2.soyoung.com/tieba/ios/20160316/4/2...,Aug 30 19:19:24 2017,19.78
1,607847,http://img2.soyoung.com/tieba/ios/20160316/8/2...,Aug 30 19:19:24 2017,19.78
2,607849,http://img2.soyoung.com/tieba/ios/20160310/0/2...,Aug 30 19:19:24 2017,19.78
3,607849,http://img2.soyoung.com/tieba/ios/20160310/2/2...,Aug 30 19:19:24 2017,19.78
4,607850,http://img2.soyoung.com/tieba/ios/20160309/1/2...,Aug 30 19:19:24 2017,19.78

In [7]:
p = df.iloc[230000:240000,:][['ID','URL']]
p.shape

(10000, 2)

In [9]:
p.tail()

            ID                                                URL
239995  680084  http://img2.soyoung.com/tieba/ios/20160723/7/2...
239996  680084  http://img2.soyoung.com/tieba/ios/20160723/8/2...
239997  680084  http://img2.soyoung.com/tieba/ios/20160723/0/2...
239998  680084  http://img2.soyoung.com/tieba/ios/20160723/4/2...
239999  680084  http://img2.soyoung.com/tieba/ios/20160723/0/2...

In [10]:
p.to_csv('img_24.csv', index=False)