In [131]:
import pandas as pd
import cx_Oracle
import os
import concurrent.futures

import requests
from lxml import etree
from time import time, ctime

db=cx_Oracle.connect("soyoung", "soyoung", "my.uconn.science:1521/xe")
print db.version
conn=db.cursor()

11.2.0.2.0

In [132]:
query="create table boss1 (name varchar2(250), url varchar2(1000), constraint boss1_pk primary key(name))"

In [133]:
try:
    conn.execute(query)
    db.commit()
    print 'create success'
except Exception as e:
    print e

ORA-00955: name is already used by an existing object

In [134]:
# !ls

In [135]:
folder='emp_pages4/'

In [136]:
cont = os.listdir(folder)
len(cont)

14362

In [137]:
cont[0]

'timpears.html'

In [138]:
fail=[]
def one(ID):
    with open(folder+str(ID),'r') as fl:
        tex=fl.read()
        test=etree.HTML(tex).xpath('//img[@class="profile-image-ImageThumbnail-image ImageThumbnail-image"]/@src')
        test3=etree.HTML(tex).xpath('//img[@itemprop="logo"]/@src')
        if test==test3:
            if test==[]:
                return ID, "None"
            else:
                return ID, test[0]
        else:
            print 'X'
            print ID, test, test3
            fail.append(ID)
            return ID, 'fail'

In [139]:
# k=0
# for i in cont:
#     print one(i)
#     k+=1
#     if k==100:
#         break

In [140]:
# str(one(cont[10]))[1:-1]

In [141]:
# tp=one(cont[10])
# print "1{},2{}".format(tp[0],tp[-1])

In [142]:
# print "1{},2{}".format('1','2')

In [143]:
# db.commit()

In [144]:
print len(cont)
n=0
start=time()
for i in cont:
    tmp=one(i)
    conn.execute("""insert into boss1 values('{}','{}')""".format(tmp[0],tmp[-1]))
    n+=1
    if n%1000==0:
        print n,':',
        
        print '{:.2f}s |'.format(time()-start)
        start=time()
        
        db.commit()
db.commit()

14362
O 9.23
O 9.00
O 9.15
O 9.25
O 9.35
O 9.28
O 9.26
O 9.14
O 9.24
O 9.10
O 9.23
O 9.32
O 9.25
O 9.21

In [115]:
fail

[]

In [117]:
db.commit()

In [119]:
conn.execute('select * from boss1 where rownum<10').fetchall()

[('timpears.html', '//cdn6.f-cdn.com/img/unknown.png'),
 ('emmat1707.html', '//cdn6.f-cdn.com/img/unknown.png'),
 ('pulsar77.html', '//cdn6.f-cdn.com/img/unknown.png'),
 ('seanfirth.html',
  '//cdn3.f-cdn.com/ppic/56839106/logo/1537889/WCz7H/profile_logo_.jpg'),
 ('andtox.html', '//cdn6.f-cdn.com/img/unknown.png'),
 ('CoolProject.html', '//cdn6.f-cdn.com/img/unknown.png'),
 ('proga171078.html', '//cdn6.f-cdn.com/img/unknown.png'),
 ('goggy.html', '//cdn6.f-cdn.com/img/unknown.png'),
 ('mmc111.html', '//cdn6.f-cdn.com/img/unknown.png')]

In [121]:
db.commit()

In [130]:
conn.execute('select count(*) from boss1').fetchall()

InterfaceError: not open

In [128]:
conn.close()