https://help.openstreetmap.org/questions/15505/import-more-osm-files-in-to-nominatim
    
https://hub.docker.com/r/mediagis/nominatim/

In [1]:
# !pip install geopy 
import pandas as pd

In [11]:
from geopy.geocoders import Nominatim
g = Nominatim()
pd.options.display.max_columns=100

In [12]:
df=pd.read_csv('onlyLL.csv',low_memory=False)
df.shape

(569274, 2)

In [13]:
# df['geo']=df['geo'].apply(lambda x:x.replace('(','').replace(')',''))

In [14]:
df.head()

   index                                  geo
0      1         38.981725, -77.0927566666667
1      2  39.1628883333333, -77.2290883333333
2      3         39.056975, -76.9546333333333
3      6  39.0933833333333, -77.0795516666667
4     10       39.2348434333333, -77.28153995

In [15]:
# df.to_csv('onlyLL.csv', index=False)

In [26]:
df['geo'][0]

'38.981725, -77.0927566666667'

In [21]:
g.api

'https://nominatim.openstreetmap.org/search'

In [22]:
g.reverse_api

'https://nominatim.openstreetmap.org/reverse'

In [23]:
g.api='http://my.uconn.science:8080'
g.reverse_api='http://my.uconn.science:8080/reverse'

In [24]:
%%time
r = g.reverse(df['geo'][0])
print int(r.raw['address']['postcode'])

20815
CPU times: user 0 ns, sys: 0 ns, total: 0 ns
Wall time: 830 ms

In [25]:
r.raw

{u'address': {u'country': u'United States of America',
  u'country_code': u'us',
  u'postcode': u'20815'},
 u'display_name': u'20815, United States of America',
 u'lat': u'38.9829587314249',
 u'licence': u'Data \xa9 OpenStreetMap contributors, ODbL 1.0. http://www.openstreetmap.org/copyright',
 u'lon': u'-77.0770237920107',
 u'place_id': u'115525'}

In [63]:
cur=db.cursor()
cur

In [109]:
try:
    cur.execute("""CREATE TABLE geo 
    (id NUMBER, geo VARCHAR2(1024), zip VARCHAR2(512),
    CONSTRAINT geo_PK PRIMARY KEY(id))  
    TABLESPACE basement PARALLEL""")
    db.commit()
    print 'create success'
except Exception as e:
    print e

 create success

In [110]:
print """insert into geo values({},"{}",{},)""".format(1,df['Geolocation'][1][1:-1], int(r.raw['address']['postcode']))

insert into geo values(1,"38.981725, -77.0927566666667",22814,)

In [111]:
%%time
for i in index[:10]:
    geo=df.loc[i,'Geolocation'][1:-1]
    tmp = g.reverse(geo)
    raw=tmp.raw
    print i,
    cur.execute("""insert into geo values({},'{}','{}')""".format(i,geo, int(raw['address']['postcode'])))
                                                                     
db.commit()

1 2 3 6 10 11 12 13 14 15CPU times: user 144 ms, sys: 8 ms, total: 152 ms
Wall time: 5.21 s

In [112]:
db.commit()

In [128]:
pd.options.display.max_rows=10000

In [131]:
from index import index

In [132]:
len(index)

1072813

In [115]:
try:
   import cPickle as pickle
except:
   import pickle

In [117]:
with open('index.pkl', 'wb') as fp:
    pickle.dump(list(index), fp)

In [136]:
!ls -lh

total 1.5G
-rw-r--r-- 1 root root  18K Sep 23 18:32 geo-Copy1.ipynb
-rw-r--r-- 1 root root  44M Sep 23 18:37 geo.csv
-rw-r--r-- 1 root root  14K Sep 23 13:48 geo.ipynb
-rw-r--r-- 1 root root    0 Sep 23 18:14 geo.py
-rw-r--r-- 1 root root  53M Sep 23 18:20 index.pkl
-rw-r--r-- 1 root root 8.3M Sep 23 18:30 index.py
-rw-r--r-- 1 root root  12M Sep 23 18:30 index.pyc
-rw-r--r-- 1 root root 443M Sep 23 10:13 mod_traffic.csv
-rw-r--r-- 1 root root  56M Sep 23 10:15 mod_traffic.zip
-rw-r--r-- 1 root root  30M Sep 23 10:31 noGeo.csv
-rw-r--r-- 1 root root 3.0M Sep 23 10:32 noGeo.zip
-rw-r--r-- 1 root root 539K Sep 23 12:16 parsing.ipynb
-rw-r--r-- 1 root root  22M Sep 21 15:14 sample.csv
-rw-r--r-- 1 root root 423M Sep 21 14:21 traffic1.csv
-rw-r--r-- 1 root root 403M Sep 21 10:50 traffic.csv

In [123]:
%%time
with open('index.pkl') as f:
    li=pickle.load(f)
type(li)

CPU times: user 2.76 s, sys: 40 ms, total: 2.8 s
Wall time: 2.8 s

In [134]:
df.shape

(1163605, 36)

In [138]:
df.to_csv?

In [140]:
pd.DataFrame.to_csv?

In [148]:
df['Geolocation'].to_csv('geo.csv', header=['geo'], index_label='index')

In [149]:
go=pd.read_csv('geo.csv')
go.head()

   index                                    geo
0      0                                    NaN
1      1         (38.981725, -77.0927566666667)
2      2  (39.1628883333333, -77.2290883333333)
3      3         (39.056975, -76.9546333333333)
4      4                                    NaN

In [150]:
a=[1,2,3,4]

In [151]:
a[-2:3]

[3]

In [152]:
a[:3]

[1, 2, 3]

In [153]:
a[2:3]

[3]