In [2]:
import pandas as pd
import cx_Oracle

db=cx_Oracle.connect("soyoung", "soyoung", "my.uconn.science:1521/xe")
print db.version

11.2.0.2.0

In [3]:
query="select ID, URL from single"

In [4]:
df = pd.read_sql(query, db)
df.shape

(237953, 2)

In [5]:
df.to_csv('img_urls.csv', index=False)

In [27]:
db.close()

In [4]:
df.head()

       ID                                                URL
0  607847  http://img2.soyoung.com/tieba/ios/20160316/4/2...
1  607847  http://img2.soyoung.com/tieba/ios/20160316/8/2...
2  607849  http://img2.soyoung.com/tieba/ios/20160310/0/2...
3  607849  http://img2.soyoung.com/tieba/ios/20160310/2/2...
4  607850  http://img2.soyoung.com/tieba/ios/20160309/1/2...

In [39]:
t=df['URL'][0]
t

'http://img2.soyoung.com/tieba/ios/20160316/4/20160316232922652_570.jpg'

In [46]:
t.split('/')

['http:',
 '',
 'img2.soyoung.com',
 'tieba',
 'ios',
 '20160316',
 '4',
 '20160316232922652_570.jpg']

In [50]:
t.split('/')[-1].replace('_570','')

'20160316232922652.jpg'

In [48]:
df[df['URL'].str.contains('_570')==False]

           ID     URL
2015   630089    fail
30002  612276  (null)

In [45]:
df[df['URL'].str.contains('tieba')==False]

            ID                                                URL
2015    630089                                               fail
30002   612276                                             (null)
54113   635281  http://img2.soyoung.com/doctor/20151130/2/2015...
54114   635281            http://img1.soyoung.com/default_570.png
70124   618323  http://y.soyoung.com/assets/editor/plugins/emo...
70126   618323  http://y.soyoung.com/assets/editor/plugins/emo...
70129   618323  http://y.soyoung.com/assets/editor/plugins/emo...
70162   618332  http://y.soyoung.com/assets/editor/plugins/emo...
70163   618332  http://y.soyoung.com/assets/editor/plugins/emo...
173782  644741  http://static.soyoung.com/assets/editor/plugin...
198513  656950  http://img2.soyoung.com/post/20161215/2/201612...
198514  656950  http://img2.soyoung.com/post/20161215/8/201612...

In [26]:
# df['URL'].apply(lambda x: x.split("com"))

In [13]:
df.to_csv('img_urls.csv', index=False)