In [1]:
import pandas as pd
import os
from time import time, ctime

In [2]:
df = pd.read_csv('./users.gender.golden.csv')
print df.shape
df.head()

(121335, 9)

,user_id,username,freq,male.prob,fname.gender,male.prob2,fname.gender2,Name,pic.gender
0,5.0,billion,2.0,1.0000,male,0.920000,male,NaN,NaN
1,63.0,paddyshyam,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,64.0,ArmenSoft,1.0,1.0000,male,NaN,NaN,NaN,NaN
3,128.0,okbookman,1.0,0.9945,male,0.998834,male,NaN,NaN
4,215.0,revitupmedia,1.0,1.0000,male,NaN,NaN,215_profile.jpg,NaN

In [60]:
# df['male.prob'].describe()

In [10]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score, classification_report, classification, confusion_matrix
from sklearn.model_selection import train_test_split, KFold, cross_val_score, StratifiedKFold, StratifiedShuffleSplit

In [20]:
df['fname.gender'].value_counts(dropna=False)

NaN       71935
male      40389
female     9011
Name: fname.gender, dtype: int64

In [68]:
pre1=df[(~df['fname.gender'].isnull())&df['male.prob']>0.9][['username','fname.gender']]
pre1.shape

(41160, 2)

In [132]:
def extract_features2(name, N=2):
    name = name.lower()
    features = {'nchar': len(name)}
    for i in range(len(name)-N):
        features["count({})".format(name[i:i+N])] = name.lower().count(name[i:i+N])
    for letter in 'abcdefghijklmnopqrstuvwxyz':
        features["count({})".format(letter)] = name.lower().count(letter)
    return features

# features extracted from username
def extract_features(name):
#     name=str(name)
    name = name.lower()
    features = {
        'last': name[-1],
        'last_two': name[-2:],
        'last_three': name[-3:],
        'first': name[0],
        'first2': name[:1],
        'first3': name[:2],
        'nchar': len(name),
        'vowels.pct': sum(c in 'aoeiu' for c in name)/float(len(name)),
        'digits.pct': sum(c.isdigit() for c in name)/float(len(name)),
        'endwd': name[-1].isdigit(),
    }
    # commented because these features are not useful
    #for letter in 'abcdefghijklmnopqrstuvwxyz':
        #features["count({})".format(letter)] = name.lower().count(letter)
    return features

In [185]:
def add_features(df):
    
    df['last']= df['username'].str[-1]
    df['last_two']= df['username'].str[-2:]
    df['last_three']= df['username'].str[-3:]
    df['first']= df['username'].str[0]
    df['first2']= df['username'].str[:1]
    df['first3']= df['username'].str[:2]
    df['nchar']= df['username'].str.len()
    df['vowels.pct']=df['username'].apply(lambda x: len([i for i in str(x) if i in 'aeiou'])/float(len(str(x))))
    df['digits.pct']=df['username'].apply(lambda x: sum([i.isdigit() for i in str(x)])/float(len(str(x))))
    df['endwd']= df['username'].str[-1].str.isdigit()

In [186]:
pre0=pre1.copy()

In [187]:
%%time
add_features(pre0)

CPU times: user 244 ms, sys: 8 ms, total: 252 ms
Wall time: 244 ms

In [188]:
pre0.head(10)

,username,fname.gender,last,last_two,last_three,first,first2,first3,nchar,vowels.pct,digits.pct,endwd
0,billion,male,n,on,ion,b,b,bi,7.0,0.428571,0.000000,False
2,ArmenSoft,male,t,ft,oft,A,A,Ar,9.0,0.222222,0.000000,False
3,okbookman,male,n,an,man,o,o,ok,9.0,0.444444,0.000000,False
4,revitupmedia,male,a,ia,dia,r,r,re,12.0,0.500000,0.000000,False
7,sakshiinfosys,male,s,ys,sys,s,s,sa,13.0,0.307692,0.000000,False
8,dreamdash,male,h,sh,ash,d,d,dr,9.0,0.333333,0.000000,False
10,a2ztranslate,male,e,te,ate,a,a,a2,12.0,0.333333,0.083333,False
11,sunsetsurf,male,f,rf,urf,s,s,su,10.0,0.300000,0.000000,False
12,Maven,male,n,en,ven,M,M,Ma,5.0,0.400000,0.000000,False
15,wwwsolutions,male,s,ns,ons,w,w,ww,12.0,0.333333,0.000000,False

In [78]:
X = pre1.username.apply(extract_features)
X.shape, type(X)

((41160,), pandas.core.series.Series)

In [95]:
X.iloc[[1]]

2    {u'last_two': u'ft', u'last': u't', u'nchar': ...
Name: username, dtype: object

In [97]:
pd.DataFrame(X.iloc[0], index=X.iloc[[0]].index)

,digits.pct,endwd,first,first2,first3,last,last_three,last_two,nchar,vowels.pct
0,0,False,b,b,bi,n,ion,on,7,0

In [27]:
dim=lambda *x: [len(i) for i in x]

In [41]:
X_train, y_train, X_test, y_test =train_test_split(pre1.iloc[:,0], pre1.iloc[:,1], test_size=.3, stratify =pre1.iloc[:,1])
dim(X_train, y_train, X_test, y_test )

[34580, 14820, 34580, 14820]

In [56]:
pre1.username.str.len().describe()

count    49399.000000
mean         8.891476
std          2.708301
min          3.000000
25%          7.000000
50%          9.000000
75%         11.000000
max         16.000000
Name: username, dtype: float64

In [ ]:
        'last_is_vowel' : (name[-1] in 'aeiouy')

{'digits.pct': 0,
 'endwd': False,
 'first': 'b',
 'first2': 'b',
 'first3': 'bi',
 'last': 'n',
 'last_three': 'ion',
 'last_two': 'on',
 'nchar': 7,
 'vowels.pct': 0}