In [65]:
import pandas as pd
from ast import literal_eval

In [5]:
%%time
df = pd.read_csv('bidder1_JSON.csv')
print df.shape

(119819, 38)
CPU times: user 3.86 s, sys: 152 ms, total: 4.02 s
Wall time: 4.01 s

In [7]:
df.columns

Index([u'about.avatar', u'about.avatar_cdn', u'about.avatar_large',
       u'about.avatar_large_cdn', u'about.chosen_role', u'about.company',
       u'about.corporate', u'about.cover_image', u'about.display_name',
       u'about.hourly_rate', u'about.id', u'about.location',
       u'about.preferred_freelancer', u'about.primary_currency',
       u'about.primary_language', u'about.profile_description',
       u'about.public_name', u'about.recommendations',
       u'about.registration_date', u'about.registration_date_human',
       u'about.reputation', u'about.role', u'about.status', u'about.tagline',
       u'about.timezone', u'about.username', u'about.username_sentence',
       u'hourlyRate', u'resume.certifications', u'resume.education',
       u'resume.exams', u'resume.experience', u'resume.publications',
       u'resume.show', u'skills', u'timeOffset', u'userId', u'username'],
      dtype='object')

In [6]:
df.head()

,about.avatar,about.avatar_cdn,about.avatar_large,about.avatar_large_cdn,about.chosen_role,about.company,about.corporate,about.cover_image,about.display_name,about.hourly_rate,...,resume.certifications,resume.education,resume.exams,resume.experience,resume.publications,resume.show,skills,timeOffset,userId,username
0,/img/unknown.png,//cdn6.f-cdn.com/img/unknown.png,/img/unknown.png,//cdn6.f-cdn.com/img/unknown.png,3.0,Tim Pears,None,{u'current_image': {u'url': u'//cdn2.f-cdn.com...,timpears,None,...,[],[],[],[],[],False,"[{u'usages': 0, u'seo_url': u'php', u'islocal'...",-420.0,955594.0,timpears
1,/img/unknown.png,//cdn6.f-cdn.com/img/unknown.png,/img/unknown.png,//cdn6.f-cdn.com/img/unknown.png,3.0,NaN,None,{u'current_image': {u'url': u'//cdn2.f-cdn.com...,emmat1707,None,...,[],[],[],[],[],False,[],0.0,1363275.0,emmat1707
2,/img/unknown.png,//cdn6.f-cdn.com/img/unknown.png,/img/unknown.png,//cdn6.f-cdn.com/img/unknown.png,1.0,Host Support Canada,None,{u'current_image': {u'url': u'//cdn2.f-cdn.com...,hostsupportcanad,20,...,[],[],[],[],[],False,"[{u'usages': 0, u'seo_url': u'script_install',...",120.0,1426487.0,hostsupportcanad
3,/img/unknown.png,//cdn6.f-cdn.com/img/unknown.png,/img/unknown.png,//cdn6.f-cdn.com/img/unknown.png,3.0,drunkonlife,None,{u'current_image': {u'url': u'//cdn2.f-cdn.com...,drunkonlife,None,...,[],[],[],[],[],False,[],-300.0,366129.0,drunkonlife
4,/img/unknown.png,//cdn6.f-cdn.com/img/unknown.png,/img/unknown.png,//cdn6.f-cdn.com/img/unknown.png,3.0,funtimes,None,{u'current_image': {u'url': u'//cdn2.f-cdn.com...,funtimes,None,...,[],[],[],[],[],False,[],-240.0,738468.0,funtimes

In [15]:
def mapping(x):
    try:
        tmp = literal_eval(x)
    except:
        tmp=None
    return tmp

In [44]:
def mapping2(x):
    try:
        tmp = literal_eval(x)
    except:
        tmp=None
    return pd.DataFrame(tmp, index=[0])

In [45]:
%%time
dictionary = df['about.timezone'].apply(mapping2)
dictionary.shape

CPU times: user 1min 12s, sys: 272 ms, total: 1min 13s
Wall time: 1min 12s

In [17]:
# literal_eval(df['about.timezone'][0])

In [19]:
dictionary = df['about.timezone'].apply(mapping)
dictionary.shape

(119819,)

In [52]:
%%time
timezone = pd.concat(dictionary.tolist())
print timezone.shape

(119819, 4)
CPU times: user 35.4 s, sys: 308 ms, total: 35.7 s
Wall time: 35.5 s

In [33]:
# dictionary.apply(lambda x:pd.DataFrame(x,index=[0]))

In [21]:
for i in dictionary:
    print i
    break

{u'timezone': u'America/Los_Angeles', u'country': u'US', u'id': 105, u'offset': -7}

In [24]:
pd.DataFrame(i, index=[0])

  country   id  offset             timezone
0      US  105      -7  America/Los_Angeles

In [47]:
i

{u'country': u'US',
 u'id': 105,
 u'offset': -7,
 u'timezone': u'America/Los_Angeles'}

In [55]:
%%time
one = df['about.timezone'].apply(mapping)
print one.shape

(119819,)
CPU times: user 2.6 s, sys: 52 ms, total: 2.65 s
Wall time: 2.56 s

In [62]:
%%time
two = pd.DataFrame.from_dict(one.to_dict())

CPU times: user 7.72 s, sys: 44 ms, total: 7.76 s
Wall time: 7.72 s

In [64]:
two.transpose()

       country    id offset               timezone
0           US   105     -7    America/Los_Angeles
1           UK   262      1          Europe/London
2           UA   293      3      Europe/Zaporozhye
3           US    81     -5        America/Chicago
4           US   120     -4       America/New_York
5           US    81     -5        America/Chicago
6           AU   421      8        Australia/Perth
7           UK   262      1          Europe/London
8           HK   175      8         Asia/Hong_Kong
9           PK   183      5           Asia/Karachi
10          SE   282      2       Europe/Stockholm
11          IN   164    5.5          Asia/Calcutta
12          PK   183      5           Asia/Karachi
13          MG   295      3    Indian/Antananarivo
14          FR   271      2           Europe/Paris
15          US   105     -7    America/Los_Angeles
16          IL   180      3         Asia/Jerusalem
17          UA   259      3            Europe/Kiev
18          US   120     -4       America/New_York
19          US   120     -4       America/New_York
20          AU   411    9.5     Australia/Adelaide
21          US    81     -5        America/Chicago
22          SG   210      8         Asia/Singapore
23          DO   133     -4  America/Santo_Domingo
24          ID   178      7           Asia/Jakarta
25          ID   178      7           Asia/Jakarta
26          DE   245      2          Europe/Berlin
27        None  None   None                   None
28          KE    42      3         Africa/Nairobi
29        None  None   None                   None
...        ...   ...    ...                    ...
119789      AU   420     10    Australia/Melbourne
119790      PT   260      1          Europe/Lisbon
119791      AU   422     10       Australia/Sydney
119792      GE   213      4           Asia/Tbilisi
119793      LK   167    5.5           Asia/Colombo
119794    None  None   None                   None
119795      IN   403    5.5           Asia/Kolkata
119796      SE   282      2       Europe/Stockholm
119797      US    81     -5        America/Chicago
119798      US   120     -4       America/New_York
119799    None  None   None                   None
119800      IN   164    5.5          Asia/Calcutta
119801      CA   384     -4        America/Toronto
119802      IN   403    5.5           Asia/Kolkata
119803      US    81     -5        America/Chicago
119804      UA   293      3      Europe/Zaporozhye
119805      UA   285      3        Europe/Uzhgorod
119806      IN   403    5.5           Asia/Kolkata
119807      UK   262      1          Europe/London
119808      IN   164    5.5          Asia/Calcutta
119809      MX   113     -5    America/Mexico_City
119810      AU   422     10       Australia/Sydney
119811      BR   106     -3         America/Maceio
119812    None  None   None                   None
119813      IN   403    5.5           Asia/Kolkata
119814      IN   403    5.5           Asia/Kolkata
119815      IN   403    5.5           Asia/Kolkata
119816      BE   247      2        Europe/Brussels
119817      US    81     -5        America/Chicago
119818      IN   164    5.5          Asia/Calcutta

[119819 rows x 4 columns]