# Linear Regression Consulting Project

Congratulations! You've been contracted by Hyundai Heavy Industries to help them build a predictive model for some ships. [Hyundai Heavy Industries](http://www.hyundai.eu/en) is one of the world's largest ship manufacturing companies and builds cruise liners.

You've been flown to their headquarters in Ulsan, South Korea to help them give accurate estimates of how many crew members a ship will require.

They are currently building new ships for some customers and want you to create a model and use it to predict how many crew members the ships will need.

Here is what the data looks like so far:

    Description: Measurements of ship size, capacity, crew, and age for 158 cruise
    ships.


    Variables/Columns
    Ship Name     1-20
    Cruise Line   21-40
    Age (as of 2013)   46-48
    Tonnage (1000s of tons)   50-56
    passengers (100s)   58-64
    Length (100s of feet)  66-72
    Cabins  (100s)   74-80
    Passenger Density   82-88
    Crew  (100s)   90-96
    
It is saved in a csv file for you called "cruise_ship_info.csv". Your job is to create a regression model that will help predict how many crew members will be needed for future ships. The client also mentioned that they have found that particular cruise lines will differ in acceptable crew counts, so it is most likely an important feature to include in your analysis! 

Once you've created the model and tested it for a quick check on how well you can expect it to perform, make sure you take a look at why it performs so well!

In [1]:
!ls

cruise_ship_info.csv
Data_Transformations.ipynb
Ecommerce_Customers.csv
fake_customers.csv
Linear_Regression_Code_Along.ipynb
Linear_Regression_Consulting_Project.ipynb
Linear_Regression_Consulting_Project_SOLUTIONS.ipynb
Linear_Regression_Example.ipynb
sample_linear_regression_data.txt

In [2]:
import os
import pandas as pd
import numpy as np
import findspark
findspark.init('/home/soyoung/standaloneSpark/spark-2.2.1-bin-hadoop2.7')

In [5]:
from pyspark.sql import SparkSession

In [6]:
%%time
spark = SparkSession.builder.appName('consult').getOrCreate()

CPU times: user 16 ms, sys: 8 ms, total: 24 ms
Wall time: 3.76 s

In [7]:
%%time
df = spark.read.csv('cruise_ship_info.csv', inferSchema=True, header=True)

CPU times: user 0 ns, sys: 0 ns, total: 0 ns
Wall time: 3.31 s

In [9]:
df.show()

+-----------+-----------+---+------------------+----------+------+------+-----------------+----+
|  Ship_name|Cruise_line|Age|           Tonnage|passengers|length|cabins|passenger_density|crew|
+-----------+-----------+---+------------------+----------+------+------+-----------------+----+
|    Journey|    Azamara|  6|30.276999999999997|      6.94|  5.94|  3.55|            42.64|3.55|
|      Quest|    Azamara|  6|30.276999999999997|      6.94|  5.94|  3.55|            42.64|3.55|
|Celebration|   Carnival| 26|            47.262|     14.86|  7.22|  7.43|             31.8| 6.7|
|   Conquest|   Carnival| 11|             110.0|     29.74|  9.53| 14.88|            36.99|19.1|
|    Destiny|   Carnival| 17|           101.353|     26.42|  8.92| 13.21|            38.36|10.0|
|    Ecstasy|   Carnival| 22|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|
|    Elation|   Carnival| 15|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|
|    Fantasy|   Carnival| 23|            70.367|     20.56|  8.55| 10.22|            34.23| 9.2|
|Fascination|   Carnival| 19|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|
|    Freedom|   Carnival|  6|110.23899999999999|      37.0|  9.51| 14.87|            29.79|11.5|
|      Glory|   Carnival| 10|             110.0|     29.74|  9.51| 14.87|            36.99|11.6|
|    Holiday|   Carnival| 28|            46.052|     14.52|  7.27|  7.26|            31.72| 6.6|
|Imagination|   Carnival| 18|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|
|Inspiration|   Carnival| 17|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|
|     Legend|   Carnival| 11|              86.0|     21.24|  9.63| 10.62|            40.49| 9.3|
|   Liberty*|   Carnival|  8|             110.0|     29.74|  9.51| 14.87|            36.99|11.6|
|    Miracle|   Carnival|  9|              88.5|     21.24|  9.63| 10.62|            41.67|10.3|
|   Paradise|   Carnival| 15|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|
|      Pride|   Carnival| 12|              88.5|     21.24|  9.63| 11.62|            41.67| 9.3|
|  Sensation|   Carnival| 20|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|
+-----------+-----------+---+------------------+----------+------+------+-----------------+----+
only showing top 20 rows

In [10]:
from pyspark.ml.feature import StringIndexer

In [13]:
StringIndexer?

In [14]:
indexer = StringIndexer(inputCol='Cruise_line', outputCol='index_cruise_line')

In [17]:
df2 = indexer.fit(df).transform(df)

In [23]:
df.columns

['Ship_name',
 'Cruise_line',
 'Age',
 'Tonnage',
 'passengers',
 'length',
 'cabins',
 'passenger_density',
 'crew']

In [25]:
df

DataFrame[Ship_name: string, Cruise_line: string, Age: int, Tonnage: double, passengers: double, length: double, cabins: double, passenger_density: double, crew: double]

In [34]:
df.show()

+-----------+-----------+---+------------------+----------+------+------+-----------------+----+
|  Ship_name|Cruise_line|Age|           Tonnage|passengers|length|cabins|passenger_density|crew|
+-----------+-----------+---+------------------+----------+------+------+-----------------+----+
|    Journey|    Azamara|  6|30.276999999999997|      6.94|  5.94|  3.55|            42.64|3.55|
|      Quest|    Azamara|  6|30.276999999999997|      6.94|  5.94|  3.55|            42.64|3.55|
|Celebration|   Carnival| 26|            47.262|     14.86|  7.22|  7.43|             31.8| 6.7|
|   Conquest|   Carnival| 11|             110.0|     29.74|  9.53| 14.88|            36.99|19.1|
|    Destiny|   Carnival| 17|           101.353|     26.42|  8.92| 13.21|            38.36|10.0|
|    Ecstasy|   Carnival| 22|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|
|    Elation|   Carnival| 15|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|
|    Fantasy|   Carnival| 23|            70.367|     20.56|  8.55| 10.22|            34.23| 9.2|
|Fascination|   Carnival| 19|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|
|    Freedom|   Carnival|  6|110.23899999999999|      37.0|  9.51| 14.87|            29.79|11.5|
|      Glory|   Carnival| 10|             110.0|     29.74|  9.51| 14.87|            36.99|11.6|
|    Holiday|   Carnival| 28|            46.052|     14.52|  7.27|  7.26|            31.72| 6.6|
|Imagination|   Carnival| 18|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|
|Inspiration|   Carnival| 17|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|
|     Legend|   Carnival| 11|              86.0|     21.24|  9.63| 10.62|            40.49| 9.3|
|   Liberty*|   Carnival|  8|             110.0|     29.74|  9.51| 14.87|            36.99|11.6|
|    Miracle|   Carnival|  9|              88.5|     21.24|  9.63| 10.62|            41.67|10.3|
|   Paradise|   Carnival| 15|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|
|      Pride|   Carnival| 12|              88.5|     21.24|  9.63| 11.62|            41.67| 9.3|
|  Sensation|   Carnival| 20|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|
+-----------+-----------+---+------------------+----------+------+------+-----------------+----+
only showing top 20 rows

In [61]:
from pyspark.sql.functions import col

In [62]:
df.groupby('Cruise_line').count().orderBy(col('count').desc()).show()

+-----------------+-----+
|      Cruise_line|count|
+-----------------+-----+
|  Royal_Caribbean|   23|
|         Carnival|   22|
|         Princess|   17|
| Holland_American|   14|
|        Norwegian|   13|
|            Costa|   11|
|        Celebrity|   10|
|              MSC|    8|
|              P&O|    6|
|             Star|    6|
|Regent_Seven_Seas|    5|
|        Silversea|    4|
|           Cunard|    3|
|         Windstar|    3|
|          Oceania|    3|
|         Seabourn|    3|
|          Azamara|    2|
|          Crystal|    2|
|           Disney|    2|
|           Orient|    1|
+-----------------+-----+

In [66]:
df2.show(3)

+-----------+-----------+---+------------------+----------+------+------+-----------------+----+-----------------+
|  Ship_name|Cruise_line|Age|           Tonnage|passengers|length|cabins|passenger_density|crew|index_cruise_line|
+-----------+-----------+---+------------------+----------+------+------+-----------------+----+-----------------+
|    Journey|    Azamara|  6|30.276999999999997|      6.94|  5.94|  3.55|            42.64|3.55|             16.0|
|      Quest|    Azamara|  6|30.276999999999997|      6.94|  5.94|  3.55|            42.64|3.55|             16.0|
|Celebration|   Carnival| 26|            47.262|     14.86|  7.22|  7.43|             31.8| 6.7|              1.0|
+-----------+-----------+---+------------------+----------+------+------+-----------------+----+-----------------+
only showing top 3 rows

In [65]:
df2.columns

['Ship_name',
 'Cruise_line',
 'Age',
 'Tonnage',
 'passengers',
 'length',
 'cabins',
 'passenger_density',
 'crew',
 'index_cruise_line']

In [63]:
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.linalg import Vectors

In [73]:
ass = VectorAssembler(inputCols=df2.columns[2:-2]+[df2.columns[-1]], outputCol='inputs')

In [75]:
df3 = ass.transform(df2)
df3.show(3)

+-----------+-----------+---+------------------+----------+------+------+-----------------+----+-----------------+--------------------+
|  Ship_name|Cruise_line|Age|           Tonnage|passengers|length|cabins|passenger_density|crew|index_cruise_line|              inputs|
+-----------+-----------+---+------------------+----------+------+------+-----------------+----+-----------------+--------------------+
|    Journey|    Azamara|  6|30.276999999999997|      6.94|  5.94|  3.55|            42.64|3.55|             16.0|[6.0,30.276999999...|
|      Quest|    Azamara|  6|30.276999999999997|      6.94|  5.94|  3.55|            42.64|3.55|             16.0|[6.0,30.276999999...|
|Celebration|   Carnival| 26|            47.262|     14.86|  7.22|  7.43|             31.8| 6.7|              1.0|[26.0,47.262,14.8...|
+-----------+-----------+---+------------------+----------+------+------+-----------------+----+-----------------+--------------------+
only showing top 3 rows

In [81]:
from pyspark.ml.regression import LinearRegression

In [82]:
train, test = df3.randomSplit([0.7, 0.3])
train.count(), test.count()

(108, 50)

In [87]:
lr = LinearRegression(maxIter=10, featuresCol='inputs', labelCol='crew')
lr

LinearRegression_45eba3a5bb2887b7c8d4

In [88]:
%%time
model = lr.fit(train)

CPU times: user 4 ms, sys: 4 ms, total: 8 ms
Wall time: 365 ms

In [93]:
model.coefficients, model.intercept

(DenseVector([-0.0194, 0.0119, -0.1787, 0.4396, 0.8923, -0.0054, 0.048]),
 -0.8588394092331522)

In [94]:
evl = model.evaluate(test)

In [100]:
evl.r2, evl.meanSquaredError, evl.rootMeanSquaredError

(0.9510505754702575, 0.5240540192460205, 0.7239157542463215)

In [103]:
evl.residuals.show(5)

+--------------------+
|           residuals|
+--------------------+
|  0.3186207043148118|
|-0.07800068090187917|
| -0.3355553551894648|
|  0.4763186359913929|
|   0.648462571487288|
+--------------------+
only showing top 5 rows

In [104]:
unlabeled = test.select('inputs')

In [107]:
pred = model.transform(unlabeled)
pred

DataFrame[inputs: vector, prediction: double]

In [109]:
pred.show()

+--------------------+-------------------+
|              inputs|         prediction|
+--------------------+-------------------+
|[22.0,3.341,0.66,...|0.27137929568518815|
|[29.0,45.0,11.78,...|  5.278000680901879|
|[9.0,116.0,26.0,9...| 11.335555355189465|
|[26.0,47.262,14.8...|  6.223681364008607|
|[18.0,70.60600000...|  7.931537428512712|
|[11.0,91.62700000...|  9.379878283751554|
|[25.0,34.25,10.52...|  4.596829688729898|
|[16.0,77.499,19.5...|  9.281396959676613|
|[16.0,74.137,19.5...|  8.749358476685371|
|[13.0,138.0,31.14...|  13.10358305861429|
|[23.0,70.367,20.5...|  8.599203682321475|
|[19.0,70.367,20.5...|  8.665691831210124|
|[7.0,158.0,43.7,1...| 13.830633200574216|
|[15.0,108.806,26....| 11.148725437388503|
|[5.0,160.0,36.34,...| 15.317155555762202|
|[12.0,91.0,20.32,...|  9.347446987565432|
|[10.0,91.62700000...|   9.39925636815961|
|[18.0,70.0,18.0,8...|  8.040070306761162|
|[21.0,10.0,2.08,4...| 1.7066424914531637|
|[12.0,42.0,14.8,7...|  6.730986544980128|
+--------------------+-------------------+
only showing top 20 rows