In [18]:
import pandas as pd
import cx_Oracle
import os
import concurrent.futures

import requests
from lxml import etree
from time import time, ctime

db=cx_Oracle.connect("soyoung", "soyoung", "my.uconn.science:1521/xe")
print db.version
conn=db.cursor()

11.2.0.2.0

In [29]:
try:
    conn.execute("drop table boss_name1")
    db.commit()
    print 'drop success'
except Exception as e:
    print e

create success

In [30]:
query="create table boss_name1 (id number, name varchar2(1000), constraint boss_name1_pk primary key(id))"

In [31]:
try:
    conn.execute(query)
    db.commit()
    print 'create success'
except Exception as e:
    print e

create success

In [32]:
df=pd.read_csv('data/employerIDs_username.csv')
df.shape

(14362, 2)

In [33]:
df.head()

   user_id       username
0      399      dreamdash
1      532     sunsetsurf
2      978        lobster
3     2263       Bushsong
4     2873  empiredetroit

In [34]:
df.shape[0]

14362

In [35]:
# for i in range(df.shape[0]):
#     print df.iloc[i,:].tolist()
#     break

In [36]:
# print '1:{},2:{}'.format(399, 'dreamdash')

In [37]:
print df.shape[0]
n=0
start=time()
for i in range(df.shape[0]):
    tmp=df.iloc[i,:].tolist()
    conn.execute("""insert into boss_name1 values({},'{}.html')""".format(tmp[0],tmp[-1]))
    n+=1
    if n%1000==0:
        print n,':',
        
        print '{:.2f}s |'.format(time()-start),
        start=time()
        
        db.commit()
db.commit()

14362
1000 : 0.91s | 2000 : 0.93s | 3000 : 0.68s | 4000 : 0.74s | 5000 : 0.73s | 6000 : 0.82s | 7000 : 0.73s | 8000 : 0.83s | 9000 : 0.85s | 10000 : 0.83s | 11000 : 0.83s | 12000 : 0.86s | 13000 : 0.84s | 14000 : 0.78s |

In [13]:
# fail=[]
# def one(ID):
#     with open(folder+str(ID),'r') as fl:
#         tex=fl.read()
#         test=etree.HTML(tex).xpath('//img[@class="profile-image-ImageThumbnail-image ImageThumbnail-image"]/@src')
#         test3=etree.HTML(tex).xpath('//img[@itemprop="logo"]/@src')
#         if test==test3:
#             if test==[]:
#                 return ID, "None"
#             else:
#                 return ID, test[0]
#         else:
#             print 'X'
#             print ID, test, test3
#             fail.append(ID)
#             return ID, 'fail'

In [115]:
fail

[]

In [117]:
db.commit()

In [119]:
conn.execute('select * from boss1 where rownum<10').fetchall()

[('timpears.html', '//cdn6.f-cdn.com/img/unknown.png'),
 ('emmat1707.html', '//cdn6.f-cdn.com/img/unknown.png'),
 ('pulsar77.html', '//cdn6.f-cdn.com/img/unknown.png'),
 ('seanfirth.html',
  '//cdn3.f-cdn.com/ppic/56839106/logo/1537889/WCz7H/profile_logo_.jpg'),
 ('andtox.html', '//cdn6.f-cdn.com/img/unknown.png'),
 ('CoolProject.html', '//cdn6.f-cdn.com/img/unknown.png'),
 ('proga171078.html', '//cdn6.f-cdn.com/img/unknown.png'),
 ('goggy.html', '//cdn6.f-cdn.com/img/unknown.png'),
 ('mmc111.html', '//cdn6.f-cdn.com/img/unknown.png')]

In [121]:
db.commit()

In [130]:
conn.execute('select count(*) from boss1').fetchall()

InterfaceError: not open

In [128]:
conn.close()