In [1]:
import pandas as pd
import os
data = [i for i in os.listdir('.') if i.find('csv')>0]

In [2]:
for i in data:
    print i

to_be_delete.csv
28_Oct_40W_V2.csv
para_face1.csv
para_face2.csv
27_Oct_31W.csv

In [3]:
batch0 = pd.read_csv(data[3]) 
batch1 = pd.read_csv(data[1])
batch2 = pd.read_csv(data[2])
batch0.shape, batch1.shape, batch2.shape

((49896, 129), (364513, 131), (42403, 129))

In [4]:
# batch0.head()
# batch1.head()
# batch2.head()

In [5]:
df = batch0.append(batch1).append(batch2).reset_index(drop=True)
df.shape

(456812, 131)

In [6]:
exclude = [
'euroB1',           
'euroG2',          
'euroG1',         
'euroB2',        
'east1',       
'east2' ]

In [7]:
len(exclude)

6

In [8]:
df['taobao'] = df['name'].apply(lambda x: 1 if x.split('/')[0] in exclude else 0)

In [9]:
df.shape

(456812, 131)

In [10]:
df.head()

,0,1,10,100,101,102,103,104,105,106,...,93,94,95,96,97,98,99,name,real_name,taobao
0,0.091726,-0.190638,0.080588,0.164116,-0.143746,-0.017891,-0.005637,0.155343,-0.063125,-0.039380,...,-0.003497,-0.012994,0.068126,-0.224206,0.072268,0.005975,0.004116,face1_sub_58/remoteimage2_20170509105919_53406...,NaN,0
1,0.086613,-0.037368,0.047840,0.016557,0.038489,0.065889,0.079712,-0.116698,0.047217,-0.160569,...,-0.082512,-0.112541,0.002202,-0.057949,-0.081063,0.072769,-0.049566,face1_sub_59/tusaJDAyJDI0LzE2OTEzMjIwMzIvVEIyQ...,NaN,0
2,0.054699,0.243838,0.132632,-0.007688,0.034593,0.012737,0.097909,0.108398,0.042306,0.064177,...,-0.008184,-0.019533,-0.062699,-0.078083,0.000636,-0.028517,0.025333,face1_sub_57/n_v1bkujjd2lod2fr2mg2vya_cdebc1e0...,NaN,0
3,0.005894,0.079416,0.084070,0.006754,-0.085878,-0.002007,0.066119,-0.019743,0.011711,-0.092034,...,-0.084295,-0.004480,-0.030521,-0.139109,-0.026094,-0.025716,-0.045781,face1_sub_6/0df3d7ca7bcb0a46e39596cd6163f6246a...,NaN,0
4,0.020187,0.100711,0.156477,-0.083183,0.044668,0.061593,0.034896,0.097767,0.017030,-0.006578,...,-0.088092,0.003028,-0.146583,-0.095546,-0.093680,-0.098496,0.042494,face1_sub_6/1(188).jpg,NaN,0

In [11]:
df[df['taobao']==1].shape

(3805, 131)

In [12]:
df['name'].apply(lambda x: x.count('a')).sort_values(ascending=False).head(3)

77476     53
143254    15
408698    12
Name: name, dtype: int64

In [13]:
df['name'].apply(lambda x: x.count('/')).sort_values(ascending=False).head(3)

456811    1
152274    1
152263    1
Name: name, dtype: int64

In [14]:
df['real_name'] = df['name'].apply(lambda x: x.split('/')[-1])
df.shape

(456812, 131)

In [15]:
df.head(3)

,0,1,10,100,101,102,103,104,105,106,...,93,94,95,96,97,98,99,name,real_name,taobao
0,0.091726,-0.190638,0.080588,0.164116,-0.143746,-0.017891,-0.005637,0.155343,-0.063125,-0.039380,...,-0.003497,-0.012994,0.068126,-0.224206,0.072268,0.005975,0.004116,face1_sub_58/remoteimage2_20170509105919_53406...,remoteimage2_20170509105919_53406.jpg,0
1,0.086613,-0.037368,0.047840,0.016557,0.038489,0.065889,0.079712,-0.116698,0.047217,-0.160569,...,-0.082512,-0.112541,0.002202,-0.057949,-0.081063,0.072769,-0.049566,face1_sub_59/tusaJDAyJDI0LzE2OTEzMjIwMzIvVEIyQ...,tusaJDAyJDI0LzE2OTEzMjIwMzIvVEIyQ01JLmRGJDZjbF...,0
2,0.054699,0.243838,0.132632,-0.007688,0.034593,0.012737,0.097909,0.108398,0.042306,0.064177,...,-0.008184,-0.019533,-0.062699,-0.078083,0.000636,-0.028517,0.025333,face1_sub_57/n_v1bkujjd2lod2fr2mg2vya_cdebc1e0...,n_v1bkujjd2lod2fr2mg2vya_cdebc1e04c8f0db9.jpg,0

In [16]:
df['real_name'].value_counts().head()

(3).jpg      4
(1).jpg      4
(7).jpg      4
(375).jpg    3
(152).jpg    3
Name: real_name, dtype: int64

In [17]:
df['real_name'].duplicated().sum()

94561

In [18]:
df[df['taobao']==0]['real_name'].value_counts().head()

2773-11121610005613.jpg                                          2
aazhi.jpg                                                        2
001e4f9daa870bf5aad313.jpg                                       2
20150919123358178.jpg                                            2
BF42BD98A242CE82F2B1D0E6F41AB9814BAB3AC4_size95_w600_h424.jpg    2
Name: real_name, dtype: int64

In [19]:
df[df['taobao']==0]['real_name'].duplicated().sum()

92299

In [20]:
taobao = df[df['taobao']==1]
taobao.shape

(3805, 131)

In [21]:
df1 = df[df['taobao']==0]
df1.shape

(453007, 131)

In [22]:
to_be_deleted = df1[df1['real_name'].duplicated()]
to_be_deleted.shape

(92299, 131)

In [23]:
# to_be_deleted.to_csv('to_be_delete.csv')

In [24]:
df1[~df1['real_name'].duplicated()].shape

(360708, 131)

In [25]:
df2 = df1[~df1['real_name'].duplicated()]
df2.shape

(360708, 131)

In [26]:
df3 = df2.append(taobao)
df3.shape

(364513, 131)

In [27]:
df3.tail()

,0,1,10,100,101,102,103,104,105,106,...,93,94,95,96,97,98,99,name,real_name,taobao
414404,0.048079,-0.005735,0.124547,0.059931,0.016490,-0.007811,-0.044786,0.098052,0.088020,0.054360,...,-0.073449,-0.063805,-0.076159,-0.162145,-0.048054,-0.028791,0.016230,east1/(455).jpg,(455).jpg,1
414405,0.036722,0.102138,0.221006,-0.019993,0.035208,0.050035,0.042233,0.174321,0.025956,0.051993,...,-0.085428,-0.006967,-0.115601,-0.160783,-0.069154,-0.061887,0.040377,east1/(162).jpg,(162).jpg,1
414406,-0.040984,0.214801,0.182931,-0.057222,0.003393,0.014975,0.111515,0.159685,0.020779,0.020265,...,-0.052205,0.031163,-0.141384,-0.133257,-0.025430,-0.102006,0.041018,east1/(675).jpg,(675).jpg,1
414407,0.031182,0.099060,0.157530,-0.032536,0.023513,0.065447,-0.003731,0.152552,-0.017506,0.039926,...,-0.125411,-0.058213,-0.104495,-0.138635,-0.057158,-0.084812,0.056367,east1/(349).jpg,(349).jpg,1
414408,0.023592,0.028497,0.132468,0.009200,-0.027968,0.001981,0.035389,0.047474,0.023918,-0.037779,...,-0.073958,-0.080462,-0.058240,-0.154617,-0.122753,-0.021383,0.011598,east1/(582).jpg,(582).jpg,1

In [28]:
df4 = df3.reset_index(drop=True)
df4.shape

(364513, 131)

In [29]:
df4.tail()

,0,1,10,100,101,102,103,104,105,106,...,93,94,95,96,97,98,99,name,real_name,taobao
364508,0.048079,-0.005735,0.124547,0.059931,0.016490,-0.007811,-0.044786,0.098052,0.088020,0.054360,...,-0.073449,-0.063805,-0.076159,-0.162145,-0.048054,-0.028791,0.016230,east1/(455).jpg,(455).jpg,1
364509,0.036722,0.102138,0.221006,-0.019993,0.035208,0.050035,0.042233,0.174321,0.025956,0.051993,...,-0.085428,-0.006967,-0.115601,-0.160783,-0.069154,-0.061887,0.040377,east1/(162).jpg,(162).jpg,1
364510,-0.040984,0.214801,0.182931,-0.057222,0.003393,0.014975,0.111515,0.159685,0.020779,0.020265,...,-0.052205,0.031163,-0.141384,-0.133257,-0.025430,-0.102006,0.041018,east1/(675).jpg,(675).jpg,1
364511,0.031182,0.099060,0.157530,-0.032536,0.023513,0.065447,-0.003731,0.152552,-0.017506,0.039926,...,-0.125411,-0.058213,-0.104495,-0.138635,-0.057158,-0.084812,0.056367,east1/(349).jpg,(349).jpg,1
364512,0.023592,0.028497,0.132468,0.009200,-0.027968,0.001981,0.035389,0.047474,0.023918,-0.037779,...,-0.073958,-0.080462,-0.058240,-0.154617,-0.122753,-0.021383,0.011598,east1/(582).jpg,(582).jpg,1

In [30]:
# df4.to_csv('28_Oct_40W_V2.csv', index=False)

In [44]:
# df4['real_name']

In [43]:
# def whatisthis(s):
#     if isinstance(s, str):
#         return  "ordinary string"
#     elif isinstance(s, unicode):
#         return "unicode string"
#     else:
#         return "not a string"

In [46]:
# whatisthis('abc')

In [42]:
import chardet

the_encoding = chardet.detect('your string')['encoding']
the_encoding

'ascii'

In [47]:
%%time
df4['chk'] = df4['real_name'].apply(lambda x: chardet.detect(x)['encoding'])

CPU times: user 8.99 s, sys: 0 ns, total: 8.99 s
Wall time: 9.56 s

In [48]:
df4['chk'].value_counts()

ascii    364375
utf-8       138
Name: chk, dtype: int64

In [35]:
# .replace({r'[^\x00-\x7F]+':''}, regex=True, inplace=True)

In [36]:
# 'abe'.find(r'[^\x00-\x7F]+',regex=True )

In [37]:
df.iloc[:5,-4:]

,99,name,real_name,taobao
0,0.004116,face1_sub_58/remoteimage2_20170509105919_53406...,remoteimage2_20170509105919_53406.jpg,0
1,-0.049566,face1_sub_59/tusaJDAyJDI0LzE2OTEzMjIwMzIvVEIyQ...,tusaJDAyJDI0LzE2OTEzMjIwMzIvVEIyQ01JLmRGJDZjbF...,0
2,0.025333,face1_sub_57/n_v1bkujjd2lod2fr2mg2vya_cdebc1e0...,n_v1bkujjd2lod2fr2mg2vya_cdebc1e04c8f0db9.jpg,0
3,-0.045781,face1_sub_6/0df3d7ca7bcb0a46e39596cd6163f6246a...,0df3d7ca7bcb0a46e39596cd6163f6246a60af8a.jpg,0
4,0.042494,face1_sub_6/1(188).jpg,1(188).jpg,0

In [38]:
df['real_name'][::-1].head()

456811                               56d843585d7b3.jpg
456810    622762d0f703918f6f805d3f5b3d269758eec4f6.jpg
456809                52423dd10ffc1049.jpg!600x600.jpg
456808                         5929402048403255325.jpg
456807    5d6034a85edf8db1c797c1ec0323dd54574e74f8.jpg
Name: real_name, dtype: object