In [2]:
# encoding=utf8
import sys
reload(sys)
sys.setdefaultencoding('utf8')

In [9]:
import pandas as pd
import os
from time import time, ctime

import concurrent.futures

from lxml import etree
import json
import re

import ast

In [10]:
# path='technosystem.html'

folder='bidder_pages/'
cont = os.listdir(folder)
cont = [i for i in cont if i[-4:]=='html']
len(cont)

68229

In [11]:
def flatten_dict(data, layers=1, drop_deeper=False):

        for _ in range(layers):
            data = [(k, v) if not isinstance(v, dict) else [(k + '.' + k2, v2) for k2, v2 in v.items()] for k, v in
                    data.items()]
            data = [item for sublist in data for item in sublist if isinstance(sublist, list)] + [y for y in data if
                                                                                                  not isinstance(y,
                                                                                                                 list)]
            data = dict(data)

        if drop_deeper:
            data = {k: v for k, v in data.items() if not isinstance(v, dict) or isinstance(v, list)}

        return data

In [12]:
from collections import defaultdict
iniDict = defaultdict(lambda: None)

In [8]:
df = pd.read_csv('boss1.csv').set_index('name')
for i in list(df.index):
    iniDict[i]
len(iniDict)

73

In [14]:
initial = pd.DataFrame(columns=list(df.index))
initial.shape

(0, 73)

In [15]:
initial

Empty DataFrame
Columns: [about.support_status, about.test_user, viewer, about.avatar, about.tagline, userId, about.status, about.location, timeOffset, isSupportAgent, resume.publications, resume.experience, jobsLimit, isLoggedIn, about.email, about.closed, about.endorsements, about.true_location, about.company, about.profile_description, about.display_name, resume.show, about.force_verify, canViewEmployer, about.registration_date, hourlyRate, resume.exams, about.recommendations, about.suspended, about.last_name, about.portfolio_count, about.reputation, about.is_local, about.avatar_large, about.public_name, about.qualifications, about.responsiveness, about.spam_profile, about.chosen_role, username, about.account_balances, about.avatar_cdn, resume.certifications, about.search_languages, about.is_active, about.hourly_rate, about.jobs, about.membership_package, abTests, about.role, about.corporate, about.id, about.timezone, about.mobile_tracking, about.cover_image, hireMeCurrencyId, resume.education, about.registration_date_human, about.username, about.primary_language, about.preferred_freelancer, about.avatar_large_cdn, about.username_sentence, skills, about.corporate_users, about.user_id, isOwner, about.first_name, about.primary_currency, about.limited_account, about.address, about.employer_reputation, about.badges]
Index: []

[0 rows x 73 columns]

In [16]:
cont[0]

'Ukrabel.html'

In [17]:
pd.DataFrame([[1,2,3]], index=['ac'])

    0  1  2
ac  1  2  3

In [18]:
pd.DataFrame([[1,2,3]], index=['ac']).set_index

<bound method DataFrame.set_index of     0  1  2
ac  1  2  3>

In [19]:
pd.DataFrame(initial, index=['abc'])

,about.support_status,about.test_user,viewer,about.avatar,about.tagline,userId,about.status,about.location,timeOffset,isSupportAgent,...,skills,about.corporate_users,about.user_id,isOwner,about.first_name,about.primary_currency,about.limited_account,about.address,about.employer_reputation,about.badges
abc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
# aaa = [pd.DataFrame(initial, index=[3]), pd.DataFrame(initial, index=[6]), pd.DataFrame(initial, index=[8])]
# len(aaa)

In [21]:
# for i in aaa:
#     initial=initial.append(i)
# initial

In [34]:

def get_columns(path):
    from time import ctime
    global failed_names, collect, n
    
    n+=1
    if n==10000 or n==0:
        print ctime(), ': processed', n
    get=[]
    
    with open(folder+path,'r') as fl:
        text=fl.read()
#         tree=etree.HTML(text)
    try:
#         script = tree.xpath('//script')[-2]
        data = re.search(r"__export\('profileServerData',(.*?)\n", text)        
        jsondata=data.group(1)[:-2]
        
        json_dict = json.loads(jsondata)
        flat = flatten_dict(json_dict, layers=1)
        for i in flat:
            iniDict[i]=str(flat[i])
        collect.append(pd.DataFrame(iniDict, index=[path]))
            
#         return pd.DataFrame(iniDict, index=[0])
#         names = flat.keys()
#         return flat
    except Exception as e:
        print e
        print 'X',
        failed_names.append(path)
        collect.append(pd.DataFrame(initial, index=[path]))

1533

### multi

In [42]:
def batch(allnames):
    global collect
    start=time()
    with concurrent.futures.ThreadPoolExecutor(max_workers=8) as executor:
        executor.map(get_columns, allnames)
    past='{:.2f}'.format(time()-start)
    now=ctime()[4:]

    print 'profiles ',len(allnames),'  used ',past,'s', now
    return past

### multi starts

In [43]:
# initialize
n=0
initial = pd.DataFrame(columns=list(df.index))
collect=[]
failed_names=[]


# start
eclipse = batch(cont)

print eclipse

KeyboardInterrupt:

In [53]:
start=initial.copy()

In [55]:
print initial.shape

(56272, 73)

In [72]:
delete=[]
for i in start:
#     print i
#     print start[i].value_counts().head(5)
#     print 
#     print 
    try:
        if start[i].value_counts(dropna=False).iloc[:2].sum()==start.shape[0]:
            delete.append(i)
    except:
        print i
#         print i
len(delete)

35

In [76]:
start = start.drop(delete, axis=1)
start = start.reset_index(drop=True)
start.to_csv('bidder1_JSON.csv',index=False)

In [77]:
print 'done'

(56272, 38)

In [ ]:
from time import ctime

In [ ]:
print ctime()