In [1]:
testcode=[  1641,    393,   8629,   8491,  26086,   2296,    663,   1588,
        25764,   8533,   4981,   6187,   3268,   4237,    343,   3078,
         6643, 106002,    338,   3554]

In [2]:
import os
import pandas as pd
import math
import findspark

findspark.init('/usr/hdp/2.6.0.3-8/spark')

In [3]:
from pyspark.mllib.recommendation import ALS, MatrixFactorizationModel, Rating
from pyspark import rdd, SparkContext, SparkFiles

In [66]:
new = sc.parallelize(single_test0(2000, testcode))
new

20

ParallelCollectionRDD[46] at parallelize at PythonRDD.scala:423

In [67]:
new.take(3)

[u'2000,1641,1', u'2000,393,1', u'2000,8629,1']

___

In [63]:
def single_test0(userID, codes):
    results=[]
#     userID = np.random.randint(1000,2000)
    for i in codes:
        results.append((u"{},{},1".format(userID,i)))
    print len(results)
    return results

In [6]:
%%time
with open ('sample.csv') as fh:
        with open('tmp.csv', 'w+') as fh2:
            fh2.write(fh.read())
            fh2.write(single_test(2000, testcode))

240
CPU times: user 0 ns, sys: 4 ms, total: 4 ms
Wall time: 6.49 ms

In [7]:
!pwd

/home/soyoung/HackerInsurTech

In [34]:
data = sc.textFile('file:///home/soyoung/HackerInsurTech/sample.csv')
type(data)

pyspark.rdd.RDD

In [35]:
data

file:///home/soyoung/HackerInsurTech/sample.csv MapPartitionsRDD[21] at textFile at NativeMethodAccessorImpl.java:-2

In [36]:
# !cat tmp.csv|tail -n 30

In [37]:
header = data.first() #extract header
data = data.filter(lambda x: x!=header)

In [38]:
data.take(5)

[u'1,31,0', u'1,1029,0', u'1,1061,0', u'1,1129,0', u'1,1172,1']

In [12]:
ratings = data.map(lambda l: l.split(',')).map(lambda l: Rating(int(l[0]), int(l[1]), float(l[2])))

In [13]:
rank = 10
numIterations = 10

In [14]:
%%time
model = ALS.train(ratings, rank, numIterations)

CPU times: user 12 ms, sys: 12 ms, total: 24 ms
Wall time: 5.23 s

In [15]:
ratings.take(1)

[Rating(user=1, product=31, rating=0.0)]

In [16]:
ratings.take(1)[0][0:2]

(1, 31)

___

In [26]:
def single_test(userID, codes):
    results=[]
#     userID = np.random.randint(1000,2000)
    for i in codes:
        results.append((userID, i))
    print len(results)
    return results

In [18]:
ratings.filter(lambda x: x[0] == 2000).map(lambda p: (p[0], p[1]))

PythonRDD[216] at RDD at PythonRDD.scala:43

In [19]:
%%time
results = model.predictAll(ratings.filter(lambda x: x[0] == 2000).map(lambda p: (p[0], p[1])))

CPU times: user 20 ms, sys: 0 ns, total: 20 ms
Wall time: 1.46 s

In [20]:
from pyspark.sql.types import StructType
from pyspark.sql.types import StructField
from pyspark.sql.types import StringType, IntegerType, FloatType

from pyspark.sql import SQLContext
sqlContext = SQLContext(sc)

schema = StructType([StructField('userID', IntegerType(), True), 
                     StructField('codeID', IntegerType(), True), 
                     StructField('valid_prob', FloatType(), True)])

In [21]:
df = sqlContext.createDataFrame(results, schema)
df

DataFrame[userID: int, codeID: int, valid_prob: float]

    userID  codeID  valid_prob
0     2000    2296    0.960528
1     2000   25764    0.978323
2     2000    3268    0.879596
3     2000    1588    0.948928
4     2000    1641    0.944722
5     2000     393    0.979407
6     2000    8533    0.979650
7     2000    8629    0.988791
8     2000    4237    0.985197
9     2000    4981    0.994660
10    2000     338    0.976643
11    2000    3554    1.018113
12    2000    3078    1.000215
13    2000   26086    1.006917
14    2000  106002    0.998665
15    2000    6187    0.999466
16    2000     343    0.988263
17    2000     663    1.009756
18    2000    8491    0.971842
19    2000    6643    0.988084

___

In [26]:
%%time
codes = pd.read_csv('./sample.csv', usecols=['codeID'])['codeID'].unique()

CPU times: user 16 ms, sys: 0 ns, total: 16 ms
Wall time: 16.1 ms

In [38]:
sc.parallelize([(1, 2), (3, 4)]).collect()

[(1, 2), (3, 4)]

In [45]:
%%time
results = model.predictAll(sc.parallelize(single_test(2000, codes)))

9066
CPU times: user 44 ms, sys: 8 ms, total: 52 ms
Wall time: 176 ms

In [47]:
df = sqlContext.createDataFrame(results, schema)
dfp =df.toPandas()
dfp

      userID  codeID  valid_prob
0       2000   57972    0.145328
1       2000    1084    0.792798
2       2000    3456    1.013048
3       2000    6400   -0.266936
4       2000    3272    2.351973
5       2000  142192    0.730384
6       2000   81132    0.630289
7       2000    6308    0.516339
8       2000   44828    0.000000
9       2000   52328    0.110819
10      2000   69720    0.000000
11      2000  155820    0.000000
12      2000    7020    0.730384
13      2000    1040    0.391501
14      2000     912    0.686089
15      2000    5384    0.730384
16      2000    7136    0.917336
17      2000     140    0.511489
18      2000     204    0.723829
19      2000     956    0.390243
20      2000    6644    0.000000
21      2000    6332    0.672383
22      2000   90888    0.000000
23      2000    4992    0.453760
24      2000   26012    1.062004
25      2000    3436    0.400839
26      2000    5324    0.146687
27      2000    6568   -0.169680
28      2000  160656    0.730384
29      2000  111364   -0.338356
...      ...     ...         ...
9036    2000      47    0.744379
9037    2000    6327    0.607223
9038    2000   37727   -0.467661
9039    2000   91199    0.522926
9040    2000    7883    0.000000
9041    2000    3299   -0.146607
9042    2000    7171    0.468903
9043    2000    1103    1.157923
9044    2000   59387    0.700229
9045    2000    4487    0.000000
9046    2000     207    0.892179
9047    2000    3503   -0.308270
9048    2000    2003    0.333145
9049    2000   45499    0.361738
9050    2000    8267    0.145328
9051    2000     991    0.009105
9052    2000   32139    0.075942
9053    2000   93831    1.081734
9054    2000  120799    0.637398
9055    2000  156387    0.730384
9056    2000   56563    0.058017
9057    2000   95199    0.751322
9058    2000    4719    0.886114
9059    2000    5847    0.422516
9060    2000    3203    1.134030
9061    2000    5203    0.348161
9062    2000    2967   -0.061641
9063    2000    6535    0.389662
9064    2000     155   -0.105593
9065    2000    7147    0.581949

[9066 rows x 3 columns]

In [49]:
dfp[dfp['valid_prob']<0]

      userID  codeID  valid_prob
3       2000    6400   -0.266936
27      2000    6568   -0.169680
29      2000  111364   -0.338356
80      2000  101864   -0.056006
86      2000    1176   -0.327084
90      2000    4228   -0.455827
100     2000    2180   -0.196263
112     2000    3500   -0.316844
122     2000    7560   -0.551125
128     2000    1940   -0.437754
131     2000     836   -0.034152
137     2000    7572   -0.036389
141     2000     208   -0.101318
159     2000   94896   -0.153153
167     2000    5420   -0.344685
176     2000    7584   -0.043047
183     2000    8948   -0.205481
239     2000    1132   -0.076014
242     2000   93512   -0.863387
269     2000   39416   -0.186622
306     2000    1992   -0.727142
332     2000    2412   -0.380819
347     2000    8908   -0.245991
354     2000    2948   -0.036082
360     2000   87520   -1.211241
362     2000    6944   -0.016161
369     2000    6216   -0.116293
403     2000    3412   -0.754787
440     2000    4388   -0.495791
461     2000   85056   -0.016607
...      ...     ...         ...
8725    2000    5515   -0.006013
8728    2000     239   -0.239771
8748    2000   88267   -0.214481
8758    2000    2995   -0.126813
8786    2000   80363   -0.193996
8799    2000    7055   -0.368086
8801    2000    2647   -0.048643
8821    2000     203   -0.376376
8822    2000    5323   -0.128606
8830    2000    8387   -0.392825
8831    2000   44731   -0.186622
8839    2000   39307   -0.262203
8866    2000    4515   -0.266936
8867    2000    3915   -0.204336
8877    2000    3615   -0.956225
8917    2000   42007   -0.349472
8940    2000    3959   -0.231494
8948    2000   63131   -0.094791
8967    2000  160567   -0.080136
8972    2000    1667   -0.057838
8985    2000    8983   -0.059465
8987    2000    3159   -0.583744
9001    2000   80727   -0.135885
9010    2000   59615   -0.004735
9013    2000    6731   -0.010105
9038    2000   37727   -0.467661
9041    2000    3299   -0.146607
9047    2000    3503   -0.308270
9062    2000    2967   -0.061641
9064    2000     155   -0.105593

[634 rows x 3 columns]

In [50]:
dfp[dfp['valid_prob']<0.5]

      userID  codeID  valid_prob
0       2000   57972    0.145328
3       2000    6400   -0.266936
8       2000   44828    0.000000
9       2000   52328    0.110819
10      2000   69720    0.000000
11      2000  155820    0.000000
13      2000    1040    0.391501
19      2000     956    0.390243
20      2000    6644    0.000000
22      2000   90888    0.000000
23      2000    4992    0.453760
25      2000    3436    0.400839
26      2000    5324    0.146687
27      2000    6568   -0.169680
29      2000  111364   -0.338356
30      2000   62912    0.247976
31      2000    4224    0.000000
32      2000   73168    0.000000
35      2000     160    0.154941
36      2000   72176    0.000000
39      2000    1596    0.000000
40      2000  149352    0.000000
41      2000    5832    0.000000
43      2000    2904    0.000000
44      2000   46972    0.347971
45      2000    6840    0.414126
48      2000    6940    0.465529
50      2000   25940    0.000000
51      2000     460    0.000000
53      2000    1168    0.000000
...      ...     ...         ...
9013    2000    6731   -0.010105
9014    2000    1647    0.399141
9016    2000  104879    0.129698
9018    2000    8999    0.298857
9019    2000   71823    0.000000
9020    2000    5315    0.252104
9022    2000    6195    0.427122
9023    2000    2983    0.322030
9025    2000   39435    0.143222
9026    2000   95875    0.385442
9027    2000    5799    0.432713
9033    2000   37211    0.000000
9035    2000    3431    0.000000
9038    2000   37727   -0.467661
9040    2000    7883    0.000000
9041    2000    3299   -0.146607
9042    2000    7171    0.468903
9045    2000    4487    0.000000
9047    2000    3503   -0.308270
9048    2000    2003    0.333145
9049    2000   45499    0.361738
9050    2000    8267    0.145328
9051    2000     991    0.009105
9052    2000   32139    0.075942
9056    2000   56563    0.058017
9059    2000    5847    0.422516
9061    2000    5203    0.348161
9062    2000    2967   -0.061641
9063    2000    6535    0.389662
9064    2000     155   -0.105593

[4919 rows x 3 columns]

In [51]:
dfp[dfp['valid_prob']>0.95]

      userID  codeID  valid_prob
2       2000    3456    1.013048
4       2000    3272    2.351973
24      2000   26012    1.062004
33      2000     492    1.180046
58      2000    1732    1.064508
59      2000    5796    0.960546
62      2000    2092    1.226483
64      2000   91500    1.122967
69      2000    5508    1.051824
87      2000    3296    1.065655
91      2000   84944    1.403763
101     2000   30820    1.459474
105     2000    4008    1.019488
106     2000    1320    1.129577
110     2000    4424    0.963453
119     2000   81564    1.194455
144     2000    3700    1.117440
168     2000   63808    1.104663
174     2000   86320    1.494613
177     2000    2976    1.341032
179     2000    1300    0.958714
185     2000     152    1.184991
189     2000   81788    1.068801
211     2000   61024    0.999522
232     2000  106916    1.680127
244     2000    4772    1.172747
255     2000    2132    1.597172
282     2000    5300    1.003004
284     2000    4020    1.189156
290     2000    5876    1.061550
...      ...     ...         ...
8858    2000    6863    1.138548
8869    2000    2639    1.187115
8873    2000     551    1.356733
8881    2000    5267    1.128578
8887    2000    1295    1.227663
8891    2000    2267    0.956715
8904    2000   63859    1.126880
8908    2000   66203    1.201651
8913    2000    6643    0.988084
8914    2000  112911    1.096743
8929    2000    2535    0.971576
8930    2000  112183    1.211963
8933    2000    1247    1.103407
8947    2000   52767    0.988488
8953    2000    2951    1.316802
8954    2000   58839    1.079337
8960    2000    1963    1.293438
8961    2000   81847    1.275571
8963    2000   47099    1.153634
8971    2000    1283    0.951605
8976    2000    2431    1.009073
8989    2000    6339    0.989194
8997    2000   54995    1.403853
9002    2000    2087    1.019578
9005    2000   64575    1.024400
9017    2000   38499    0.974464
9029    2000   44191    1.062305
9043    2000    1103    1.157923
9053    2000   93831    1.081734
9060    2000    3203    1.134030

[971 rows x 3 columns]