In [1]:
import os
import pandas as pd
import math
import findspark

findspark.init('/usr/hdp/2.6.0.3-8/spark')

In [2]:
from pyspark.mllib.recommendation import ALS, MatrixFactorizationModel, Rating
from pyspark import rdd, SparkContext, SparkFiles

In [3]:
sc = SparkContext()

___

In [7]:
testcode=[  1641,    393,   8629,   8491,  26086,   2296,    663,   1588,
        25764,   8533,   4981,   6187,   3268,   4237,    343,   3078,
         6643, 106002,    338,   3554]

def single_test(userID, codes):
    results=''
#     userID = np.random.randint(1000,2000)
    for i in codes:
        results= results+"{},{},{}\n".format(userID, i, 1)
    print len(results)
    return results

In [10]:
%%time
with open ('sample.csv') as fh:
        with open('tmp.csv', 'w+') as fh2:
            fh2.write(fh.read())
            fh2.write(single_test(2000, testcode))

240
CPU times: user 4 ms, sys: 0 ns, total: 4 ms
Wall time: 1.66 ms

In [37]:
!pwd

/home/soyoung/HackerInsurTech

In [38]:
data = sc.textFile('file:///home/soyoung/HackerInsurTech/tmp.csv')
type(data)

pyspark.rdd.RDD

In [42]:
# !cat tmp.csv|tail -n 30

In [48]:
header = data.first() #extract header
data = data.filter(lambda x: x!=header)

In [49]:
data.take(5)

[u'1,31,0', u'1,1029,0', u'1,1061,0', u'1,1129,0', u'1,1172,1']

In [50]:
ratings = data.map(lambda l: l.split(',')).map(lambda l: Rating(int(l[0]), int(l[1]), float(l[2])))

In [51]:
rank = 10
numIterations = 10

In [52]:
%%time
model = ALS.train(ratings, rank, numIterations)

CPU times: user 20 ms, sys: 4 ms, total: 24 ms
Wall time: 5.91 s

In [53]:
ratings.take(1)

[Rating(user=1, product=31, rating=0.0)]

In [54]:
ratings.take(1)[0][0:2]

(1, 31)

___

In [58]:
def single_test(userID, codes):
    results=[]
#     userID = np.random.randint(1000,2000)
    for i in codes:
        results.append((userID, i))
    print len(results)
    return results

In [57]:
model.predict(2000, 31)

0.8474016438711838

In [71]:
data.take(10)

[u'1,31,0',
 u'1,1029,0',
 u'1,1061,0',
 u'1,1129,0',
 u'1,1172,1',
 u'1,1263,0',
 u'1,1287,0',
 u'1,1293,0',
 u'1,1339,1',
 u'1,1343,0']

In [82]:
ratings.filter(lambda x: x[0] == 2000).map(lambda p: (p[0], p[1]))

PythonRDD[257] at RDD at PythonRDD.scala:43

In [94]:
%%time
results = model.predictAll(ratings.filter(lambda x: x[0] == 2000).map(lambda p: (p[0], p[1])))

CPU times: user 16 ms, sys: 4 ms, total: 20 ms
Wall time: 955 ms

In [110]:
from pyspark.sql.types import StructType
from pyspark.sql.types import StructField
from pyspark.sql.types import StringType, IntegerType, FloatType

from pyspark.sql import SQLContext
sqlContext = SQLContext(sc)

schema = StructType([StructField('userID', IntegerType(), True), 
                     StructField('codeID', IntegerType(), True), 
                     StructField('valid_prob', FloatType(), True)])

In [111]:
df = sqlContext.createDataFrame(results, schema)
df

DataFrame[userID: int, codeID: int, valid_prob: float]

In [116]:
df.toPandas()

    userID  codeID  valid_prob
0     2000    2296    0.973076
1     2000   25764    0.969621
2     2000    3268    0.876443
3     2000    1588    1.017385
4     2000    1641    0.968961
5     2000     393    0.952365
6     2000    8533    0.992737
7     2000    8629    0.998644
8     2000    4237    1.023887
9     2000    4981    1.021541
10    2000     338    0.973868
11    2000    3554    0.937600
12    2000    3078    0.987770
13    2000   26086    0.990881
14    2000  106002    0.998600
15    2000    6187    0.998940
16    2000     343    0.969813
17    2000     663    0.979782
18    2000    8491    0.967724
19    2000    6643    0.975786