In [1]:
import pandas as pd

In [3]:
!cat 18_Nov_71W_V7.csv|head -n 2

0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,name
0.0114755947143,0.16512554884,-0.129639655352,0.0167867932469,0.0221667457372,0.0516690202057,0.0140765402466,0.0177607387304,0.0114837940782,0.137339919806,0.163647413254,0.0593075267971,0.11813147366,-0.0475150942802,-0.0990277528763,0.0358268991113,0.0602411478758,0.107403382659,-0.187051311135,0.0920385122299,-0.000639685837086,-0.152154311538,0.0910706445575,0.0631383880973,-0.0382900312543,-0.143389761448,-0.0288669094443,0.0161444004625,0.00704471534118,0.0115802288055,-0.0281398333609,0.0110282013193,0.0123306214809,0.0463629812002,-0.193577870727,-0.00530302478001,-0.101123526692,0.0399960465729,-0.0883806943893,0.15233181417,-0.0425610840321,-0.0309981610626,-0.0524716004729,0.0182582419366,-0.098278619349,-0.117195099592,0.0217870026827,0.00985851511359,-0.0294080618769,0.135882377625,0.134951457381,0.058050185442,-0.27542835474,-0.0261201113462,-0.0982229039073,0.0273829270154,-0.0149212498218,0.0177872199565,0.0826151520014,0.074913688004,-0.110729381442,-0.0358557030559,0.0545921809971,-0.118153981864,-0.00966240279377,-0.134779006243,-0.0390196144581,0.0629217028618,-0.120564050972,0.118165820837,0.0739344730973,0.11187312752,0.0226344820112,0.0824722349644,0.0185796990991,0.0227139033377,0.0248784180731,0.102571301162,-0.107057280838,-0.0632206574082,-0.132788792253,-0.0731893777847,0.0250768270344,0.061450663954,-0.13483299315,0.179783597589,0.0328277647495,-0.0899016410112,0.0721381530166,-0.0770088136196,-0.151372894645,-0.152622282505,-0.00726367114112,-0.0608979426324,0.0867335796356,-0.115921765566,-0.0935572087765,-0.0131141794845,-0.0827350243926,0.0029900111258,-0.0544898882508,0.0160359237343,0.0197584144771,0.164742946625,0.0559461228549,0.0498732477427,-0.0840067192912,0.119492255151,0.0278082471341,-0.0837615355849,-0.1086499542,0.0944928452373,0.0808400958776,0.112804226577,-0.0407354049385,-0.0370221398771,0.00614127516747,0.0434748418629,0.0957027450204,0.157794728875,-0.0543958581984,-0.000641795923002,-0.0962796136737,0.126661986113,-0.00574641954154,-0.00671024201438,-0.089524269104,0.0492039248347,sub_28/1aa1269cc4cd42aeb12fb6f83beb89f4.jpg
cat: write error: Broken pipe

In [5]:
%%time
df = pd.read_csv('./18_Nov_71W_V7.csv')
print df.shape

(710874, 129)
CPU times: user 19.1 s, sys: 704 ms, total: 19.8 s
Wall time: 19.9 s

In [6]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,119,120,121,122,123,124,125,126,127,name
0,0.011476,0.165126,-0.129640,0.016787,0.022167,0.051669,0.014077,0.017761,0.011484,0.137340,...,0.157795,-0.054396,-0.000642,-0.096280,0.126662,-0.005746,-0.006710,-0.089524,0.049204,sub_28/1aa1269cc4cd42aeb12fb6f83beb89f4.jpg
1,-0.003138,-0.094253,-0.074803,0.001642,0.080649,-0.065988,-0.029929,0.026139,0.026266,-0.024320,...,0.135359,-0.071909,0.113172,0.045211,0.141725,-0.033956,0.012183,-0.019442,0.013153,sub_28/1985782_13_102812_1.jpg
2,0.052159,0.078025,-0.058801,0.111056,0.011825,0.077016,0.018737,0.034417,0.029392,-0.014144,...,0.076519,-0.007938,0.055379,-0.049870,0.153607,0.078589,-0.073745,0.036184,0.064255,sub_28/1993968735118832174.jpg
3,-0.022384,0.050678,-0.026818,0.041654,0.046246,0.022148,0.001582,0.021008,0.024489,0.015352,...,0.152728,-0.050696,-0.020838,-0.068645,0.067528,-0.124348,0.097163,0.079192,0.057003,sub_28/195943d29ir441i444lhtr.jpg
4,0.059199,0.078390,-0.108855,0.071035,-0.007066,-0.000059,0.007308,-0.022881,-0.106324,0.033876,...,0.116259,-0.019002,0.083863,0.170860,0.019041,0.054721,0.044380,0.145403,-0.038084,sub_28/1dd0675b-b9d6-4cca-a03e-2134403a74a9_si...

In [ ]:
to_be_removed = [
    'http://iridescent.date/static/phos/sub_34/20130406120808344.jpg',
    'http://iridescent.date/static/phos/sub_104/sq070627001.jpg',
    'http://iridescent.date/static/phos/loli1_sub_20/20111024184437853357.jpg'
]

In [7]:
df[df['name']=='sub_34/20130406120808344.jpg']

,0,1,2,3,4,5,6,7,8,9,...,119,120,121,122,123,124,125,126,127,name
132290,0.064317,-0.020797,-0.08112,-0.07434,0.034331,-0.02176,-0.033169,-0.101522,-0.151781,0.048654,...,-0.075398,0.006864,-0.088597,0.124203,0.04725,-0.159569,0.036828,-0.0107,0.003696,sub_34/20130406120808344.jpg