In [1]:
import concurrent.futures

import requests
from lxml import etree
from time import time, ctime

import pandas as pd
import cx_Oracle



db=cx_Oracle.connect("soyoung", "soyoung", "my.uconn.science:1521/xe")
print db.version
conn=db.cursor()

save=[]

def single((ID, url)):
    try:
        content=etree.HTML(requests.get(url, timeout=600).text).xpath('//div[@class="c"]//*[@title]/@src')
    except:
        save.append([ID, 'fail'])
    for i in content:      
        save.append([ID, i])

11.2.0.2.0

In [66]:
save.append([23333,'fail'])

In [75]:
sum(map(lambda x: x[1]=='fail', save))

2

In [71]:
len(map(lambda x: x[1], save))

346

In [2]:
try:
    conn.execute("create table single \
             (ID int not null, url varchar2(150), get_time varchar2(50), ellipse number, \
             constraint single_pk primary key (url))")
    db.commit()
    print 'create table single'
except Exception as e:
    print e
    
try:
    conn.execute("create table fail \
             (ID int , url varchar2(150), get_time varchar2(50), ellipse number)")
    db.commit()
    print 'create table fail'
except Exception as e:
    print e

create table single
create table fail

In [57]:
del df

sub=urls[1654:2154]
print len(sub)

del urls
sub[-3:]

500

[(609998, 'http://www.soyoung.com/p10398626'),
 (609999, 'http://www.soyoung.com/p10398411'),
 (610000, 'http://www.soyoung.com/p10397217')]

In [5]:
# db.commit()

In [6]:
# %%time

def batch(subber):
    global save
    start=time()
    save=[]
    with concurrent.futures.ThreadPoolExecutor(max_workers=8) as executor:
        executor.map(single, subber)

    past='{:.2f}'.format(time()-start)
    now=ctime()[4:]
    
    print 'get ',len(subber),' users used ',past,'s', now, 'images',len(save)

    for i in save:
        try:
            conn.execute("insert into single (ID, url, get_time, ellipse) \
            values ({},'{}','{}',{})".format(i[0], i[1], now, past))
        except:
            conn.execute("insert into fail (ID, url, get_time, ellipse) \
            values ({},'{}','{}',{})".format(i[0], i[1], now, past))        

    db.commit()
    print 'saved to the database ',ctime()[4:]

In [7]:
def spl(lists, n):
    return  [lists[i:i + n] for i in range(0, len(lists), n)]

In [ ]:
if __name__=='__main__':
    choose=raw_input('which set (61-85)?: ')
    df=pd.read_csv(str(choose)+'.csv')
    nn=df.shape[0]
    print nn,' IDs'
    
    urls = zip(df['id'], df['post_url'])
    print len(urls)==nn
    
    many=int(raw_input('how many IDs a batch?: '))
      
    
    p=0
    for i in spl(sub=urls, many):
        batch(i)
        p+=many/float(nn)
        print p*100*10,'%', nn