In [26]:
import pandas as pd
import os
import time

import concurrent.futures
import requests
from lxml import etree
from bs4 import BeautifulSoup

In [2]:
!ls data

bidderIDs.csv		     employerIDs_namesonpaypal.csv
bidderIDs_namesonpaypal.csv  employerIDs_username.csv
bidderIDs_profile.csv	     escrow_ID_name.csv
bidderIDs_username.csv	     transfer_ID_name.csv
employerIDs.csv

In [21]:
empname=pd.read_csv('data/employerIDs_username.csv')
empname.shape

(14362, 2)

In [24]:
empname.head()

   user_id       username
0      399      dreamdash
1      532     sunsetsurf
2      978        lobster
3     2263       Bushsong
4     2873  empiredetroit

In [3]:
emp=pd.read_csv('data/employerIDs.csv')
emp.shape

(14362, 1)

In [4]:
bid=pd.read_csv('data/bidderIDs.csv')
bid.shape

(68227, 1)

In [5]:
emp.head()

   user_id
0   442783
1   126087
2    76394
3  1059496
4   511401

In [6]:
bid.head()

   user_id
0  1299466
1  1337991
2   423648
3  1265791
4  1336876

In [11]:
len(emp['user_id'].unique()), emp.shape

(14362, (14362, 1))

In [12]:
len(bid['user_id'].unique()), bid.shape

(68227, (68227, 1))

In [18]:
bid.set_index('user_id').join(emp.set_index('user_id'), how='inner').shape

(1516, 0)

In [19]:
emp.set_index('user_id').join(bid.set_index('user_id'), how='inner').shape

(1516, 0)

In [25]:
emp.set_index('user_id').join(empname.set_index('user_id'), how='inner').shape

(14362, 1)

In [27]:
biddername=pd.read_csv('data/bidderIDs_username.csv')
biddername.shape

(68227, 2)

In [28]:
biddername.head()

   user_id       username
0       63     paddyshyam
1      215   revitupmedia
2      220  AnsonSequeira
3      224         Tooner
4      274  sakshiinfosys

In [31]:
len(biddername['username'].unique())

68227