#### learn tablespace, etc

http://nonfunctionaltestingtools.blogspot.com/2012/12/using-sql-developer-to-create-and-view.html

http://www.rebellionrider.com/tablespace-in-oracle/how-to-create-tablespace-using-sql-developer-rebellionrider.htm#.WbqexsiGPIU

https://hub.docker.com/r/wnameless/oracle-xe-11g/

In [12]:
import pandas as pd
import cx_Oracle

db=cx_Oracle.connect("soyoung", "soyoung", "my.uconn.science:1521/xe")
print db.version

11.2.0.2.0

In [15]:
# db.commit()
# try:
#     db.cursor().execute('drop table basementinfo')
# except:
#     print 'not exists'
# db.commit()

In [16]:
# zp=pd.read_csv('zip_code.csv')
# zp.shape

In [17]:
# zp.columns

In [18]:
# zp.head(2)

In [19]:
df=pd.read_csv('UCONN Updated 10 Years.csv')
df.shape

(1558719, 24)

In [20]:
df.columns

Index([u'id', u'name', u'address', u'city', u'state', u'zip', u'type',
       u'source', u'association', u'service_type', u'received_time',
       u'sent_time', u'company', u'status', u'price', u'campaign',
       u'is_mobile', u'landing_page', u'contact_page', u'previous_page',
       u'inbound_number', u'call_status', u'duration', u'job_sold'],
      dtype='object')

In [21]:
len(df['id'].unique())

1558719

In [22]:
cur=db.cursor()
cur

In [23]:
try:
    cur.execute("""CREATE TABLE basementinfo ( 
    id NUMBER(9),
    name VARCHAR2(250),
    address VARCHAR2(250),
    city VARCHAR2(250),
    state VARCHAR2(12),
    zip VARCHAR2(24),
    type VARCHAR2(124),
    source VARCHAR2(250),
    association VARCHAR2(250),
    service_type VARCHAR2(122),
    received_time VARCHAR2(119),
    sent_time VARCHAR2(119),
    company VARCHAR2(250),
    status VARCHAR2(88),
    price NUMBER,
    campaign VARCHAR2(250),
    is_mobile VARCHAR2(11),
    landing_page VARCHAR2(2500),
    contact_page VARCHAR2(2500),
    previous_page VARCHAR2(2500),
    inbound_number VARCHAR2(11),
    call_status VARCHAR2(11),
    duration VARCHAR2(111),
    job_sold NUMBER(11),
    CONSTRAINT baseinfo_PK PRIMARY KEY (id))
    TABLESPACE basement PARALLEL""")
    db.commit()
    print 'create success'
except Exception as e:
    print e

create success

In [24]:
# df.iloc[20,:]

In [25]:
def helper(x):
    try:
        a=x.replace("'","''")
        return a
    except:
        return x

In [26]:
# string2 = str("insert into basementinfo values "\
#                  +str(tuple(df.iloc[20,:].map(helper)\
#                             .tolist())).replace('nan','null').replace(', "',",'").replace('",',"',"))
# print string2

In [27]:
# string = str("insert into basementinfo values "\
#                  +str(tuple(df.iloc[12168,:].map(helper)\
#                             .tolist())).replace('nan','null'))
# print string

In [28]:
# df.iloc[20,:].map(helper).tolist()

In [ ]:
from time import time
start=time()
n=0
for i in range(df.shape[0]):
    string = str("insert into basementinfo values "\
                 +str(tuple(df.iloc[i,:].map(helper)\
                            .tolist())).replace('nan','null')\
                             .replace(', "',",'").replace('",',"',"))
    n+=1
    try:
        cur.execute(string)
    except Exception as e:
        print e
        print i,string
#     if n==100:
#         db.commit()
#         break
    if n%10000==0:
        db.commit()
        print str(i//10000+1)+'W:',
        print '{:.2f}s '.format(time()-start),
        start=time()

1W: 11.65s  2W: 10.30s  3W: 9.78s  4W: 11.24s  5W: 9.90s  6W: 10.11s  7W: 10.98s  8W: 9.90s  9W: 9.66s  10W: 10.79s  11W: 10.59s  12W: 10.50s  13W: 10.02s  14W: 10.38s  ORA-12899: value too large for column "SOYOUNG"."BASEMENTINFO"."PREVIOUS_PAGE" (actual: 541, maximum: 250)
146671 insert into basementinfo values (7176278, 'Milla', '617 Fermery Drive', 'New Milford', 'NJ', '07646', 'Supercharged Web Leads', 'Organic Search', 'Basement Systems, Inc.', 'Basement Waterproofing', '2011-10-12 13:03:32', '2011-10-12 13:03:32', 'Quality 1st Basement Systems', 'Billable Lead', 100.0, null, null, 'http://www.quality1stbasementsystems.com/basement-waterproofing/basement-flooding.html', 'http://www.quality1stbasementsystems.com/estimate-confirmation.html', 'http://www.quality1stbasementsystems.com/core/%20is%20an%20Authorized%20Basement%20Systems%20Dealer.%3C/p%3E%3Cp%3EAn%20Authorized%20Basement%20Systems%20Dealer%20follows%20high%20standards%20of%20integrity,%20industry%20knowledge,%20and%20workmanship.%20%20Basement%20Systems%20only%20selects%20the%20best%20basement%20waterproofers%20to%20become%20dealerships.%3C/p%3E%3Cp%3EYou%20can%20expect%20these%20qualities%20and%20attributes%20from%20a%20%3Cstrong%3EBasement%20Systems%20Dealer%3C/strong%3E:%3C/p%3E%3Cul%3E%3Cli%3E%3Cspan%20class=', null, null, null, null)
15W: 11.03s  16W: 10.88s  17W: 10.65s  18W: 10.61s

In [ ]:
# a =df.iloc[7,:]
# a

In [ ]:
# str(tuple(a.tolist()))

In [ ]:
# one = "insert into basementinfo values "+str(tuple(a.tolist())).replace('nan','null')
# one

In [ ]:
# cur.execute(one)

In [ ]:
# print "insert into basementinfo values "+str(tuple(a.tolist())).replace('nan','null')