#### learn tablespace, etc

http://nonfunctionaltestingtools.blogspot.com/2012/12/using-sql-developer-to-create-and-view.html

http://www.rebellionrider.com/tablespace-in-oracle/how-to-create-tablespace-using-sql-developer-rebellionrider.htm#.WbqexsiGPIU

https://hub.docker.com/r/wnameless/oracle-xe-11g/

In [3]:
import pandas as pd
import cx_Oracle

db=cx_Oracle.connect("soyoung", "soyoung", "my.uconn.science:1521/xe")
print db.version

11.2.0.2.0

In [26]:
db.commit()
try:
    db.cursor().execute('drop table basementzip')
    print 'drop done'
except:
    print 'not exists'
db.commit()

drop done

In [23]:
# df=pd.read_csv('zip_code.csv')
# df.shape

# df.columns=(map(lambda x:x.replace('zipcode.',''),df.columns))
# df.columns=map(lambda x: x.replace('.','_'),df.columns)
# df.to_csv('new_zip_code.csv', index=False)

In [24]:
df=pd.read_csv('new_zip_code.csv')
df.shape

(941296, 62)

In [19]:
len(df['id'].unique())

941296

In [10]:
cur=db.cursor()
cur

In [27]:
try:
    cur.execute("""CREATE TABLE basementzip 
    ( id NUMBER,
    zip NUMBER,
    fsa VARCHAR2(128),
    primary_record VARCHAR2(128),
    population NUMBER,
    households_per_zipcode NUMBER,
    white_population NUMBER,
    black_population NUMBER,
    hispanic_population NUMBER,
    asian_population NUMBER,
    hawaiian_population NUMBER,
    indian_population NUMBER,
    other_population NUMBER,
    male_population NUMBER,
    female_population NUMBER,
    persons_per_household NUMBER,
    avarage_house_value NUMBER,
    income_per_household NUMBER,
    latitude NUMBER,
    longitude NUMBER,
    elevation NUMBER,
    state VARCHAR2(128),
    state_full_name VARCHAR2(128),
    city_type VARCHAR2(128),
    city_alias_abbreviation VARCHAR2(128),
    area_code VARCHAR2(128),
    city VARCHAR2(128),
    city_alias_name VARCHAR2(128),
    country VARCHAR2(128),
    county VARCHAR2(128),
    county_fips NUMBER,
    state_fips NUMBER,
    time_zone NUMBER,
    day_light_saving VARCHAR2(128),
    msa NUMBER,
    pmsa NUMBER,
    csa NUMBER,
    cbsa NUMBER,
    cbsa_div NUMBER,
    cbsa_type VARCHAR2(128),
    cbsa_name VARCHAR2(128),
    msa_name VARCHAR2(128),
    pmsa_name VARCHAR2(128),
    region VARCHAR2(128),
    division VARCHAR2(128),
    mailing_name VARCHAR2(128),
    preferred_last_line_key VARCHAR2(128),
    classification_code VARCHAR2(128),
    multi_county VARCHAR2(128),
    csa_name VARCHAR2(128),
    cbsa_div_name VARCHAR2(128),
    city_state_key VARCHAR2(128),
    city_alias_code VARCHAR2(128),
    city_mixed_case VARCHAR2(128),
    city_alias_mixed_case VARCHAR2(128),
    state_ansi NUMBER,
    county_ansi NUMBER,
    facility_code VARCHAR2(128),
    city_delivery_indicator VARCHAR2(128),
    carrier_route_rate_sortation VARCHAR2(128),
    finance_NUMBER NUMBER,
    unique_zip_name VARCHAR2(128),
    CONSTRAINT basezip_PK PRIMARY KEY (id))
    TABLESPACE basement PARALLEL""")
    db.commit()
    print 'create success'
except Exception as e:
    print e

create success

In [31]:
# df.head()

In [30]:
# df.iloc[20,:]

In [2]:
def helper(x):
    try:
        a=x.replace("'","''")
        return a
    except:
        return x

In [1]:
# from time import time
# start=time()
# n=0
# for i in range(df.shape[0]):
#     string = str("insert into basementzip values "\
#                  +str(tuple(df.iloc[i,:].tolist()))\
#                  .replace('nan','null'))
#     n+=1
#     try:
#         cur.execute(string)
#     except Exception as e:
#         print e
#         print i,string
# #     if n==100:
# #         db.commit()
# #         break
#     if n%10000==0:
#         db.commit()
#         print str(i//10000+1)+'W:',
#         print '{:.2f}s '.format(time()-start),
#         start=time()
# db.commit()